<div class="box mb-3">
  <div class="box-body">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="media p-2">
          <span class="avatar w-64 b-a b-warn"><img src="{{ _HelperService._UserAccount.IconUrl }}" alt="." />
            <i class="on"></i></span>
          <div class="media-body mx-2 mb-0 text-ellipses">
            <h6 class="mb-1 mt-2">
              {{ _HelperService._UserAccount.DisplayName || "--" }}
            </h6>
            <p class="text-muted mb-0">
              {{ _HelperService._UserAccount.ContactNumber || "--" }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="mb-2">
          <small class="text-muted">{{
            "System.Users.Name" | translate
          }}</small>
          <div class="_500">
            {{ _HelperService._UserAccount.Name || "--" }}
            <!-- {{ _HelperService._UserAccount.LastName || "--" }} -->
          </div>
        </div>
        <div>
          <small class="text-muted">{{
            "System.Users.EmailAddress" | translate
          }}</small>
          <div class="_500">
            {{ _HelperService._UserAccount.EmailAddress || "--" }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="mb-2">
          <small class="text-muted">Contact Person</small>
          <div class="_500">
            {{ _HelperService._UserAccount.FirstName || "--"
            }}{{ _HelperService._UserAccount.LastName }}
          </div>
        </div>
        <div>
          <small class="text-muted"> Contact Number</small>
          <div class="_500">
            {{ _HelperService._UserAccount.MobileNumber || "--" }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="mb-2">
          <small class="text-muted">{{
            "Common.ActiveSince" | translate
          }}</small>
          <div class="_500">
            {{ _HelperService._UserAccount.CreateDateS || "--" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="box mb-2 mt-2">
  <div class="navbar navbar-expand-lg">
    <li class="d-lg-none d-flex align-items-center">
      <a
        href="#"
        class="mx-2"
        data-toggle="collapse"
        data-target="#navbarToggler"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 512 512"
        >
          <path
            d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"
          ></path></svg
      ></a>
    </li>
    <div class="collapse navbar-collapse order-lg-1" id="navbarToggler">
      <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a
            class="nav-link"
            routerLink="{{
              _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant
                .Dashboard
            }}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
            [routerLinkActive]="['active']"
            ><span class="nav-text">{{
              "System.Menu.Dashboard" | translate
            }}</span></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a
            class="nav-link"
            routerLink="{{
              _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant
                .Stores
            }}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
            [routerLinkActive]="['active']"
          >
            <span class="nav-text">Stores</span></a
          >
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a
            class="nav-link"
            routerLink="{{
              _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant
                .Terminals
            }}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
            [routerLinkActive]="['active']"
          >
            <span class="nav-text">Terminals</span></a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a
            class="nav-link"
            routerLink="{{
              _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant
                .SalesHistory
            }}/{{ _HelperService.AppConfig.ActiveReferenceKey }}"
            [routerLinkActive]="['active']"
          >
            <span class="nav-text">Sales History</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>