<div class=" h-v d-flex flex align-items-center white " style="  display: block; 
position: relative;
overflow: hidden;">
    <!-- <div class="auroral-agrabah"></div>
    <div class="auroral-stars"></div> -->
    <div class="mx-auto w-xl w-auto-xs animate fadeIn pb-5" style="width: 70%;">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ">
                <div class="mb-3 mt-5" *ngIf="_HelperService.AppConfig.Host == 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/interswitch.png" class="w-xmd">
                </div>
                <div class="mb-3 mt-5" *ngIf="_HelperService.AppConfig.Host != 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/logoinverse.png" class="w-xmd">
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
                    <li role="presentation" class="active"><a aria-controls="discover" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>About Business</p>
                        </a></li>
                    <li role="presentation" class="active"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>Business Location</p>
                        </a></li>
                    <li role="presentation"><a aria-controls="optimization" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>Credit First Rewards</p>
                        </a></li>
                    <li role="presentation"><a aria-controls="reporting" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>All Set</p>
                        </a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                <div class="row">
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt-4 ">
                       
                    </div> -->
                    <div class="col-12">
                        <div class="m-4">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <h4 class="_400 text-center">Let's reward your Customers</h4>
                                    <div class="text-muted text-center">
                                        We will reward your any 3 customers to show you how it works
                                    </div>
                                    <div class=" pt-2 pb-4 text-purple _600  text-center">
                                        {{Attempts}}/3 rewards remaining
                                    </div>
                                    <div class="md-form-group">
                                        <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                            class="md-input" (keypress)="_HelperService.PreventText($event)"
                                            [(ngModel)]="MobileNumber1">
                                        <label class="block w-100">Enter mobile number to credit reward</label>
                                        <div class="text-purple _500 mt-2"> {{MobileNumber1Message}}</div>
                                    </div>
                                    <div class="mb-3">
                                        <button type="button" (click)="RewardCustomer1()"
                                            class="btn btn-block purple mb-3" [disabled]="Form_AddUser_Processing">
                                            <span *ngIf="!Form_AddUser_Processing">
                                                Reward Customer
                                            </span>
                                            <span *ngIf="Form_AddUser_Processing">
                                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                Crediting reward...
                                            </span>
                                        </button>
                                        <button type="button" (click)="Skip()"
                                            class="btn btn-block btn-outline  b-success">
                                            Skip
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 hidden-xs pt-5 pl-5">
                                    <img src="../../../../assets/img/onboarding_merchant.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>