<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-style1 mg-b-10">
    <li class="breadcrumb-items text-small">Dashboard</li>
    <li class="breadcrumb-items active" aria-current="page">Sales Reports</li>
  </ol>
</nav>
<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <!-- <div class="form-group  mb-0 pb-0 " >
      <input type="text" class="form-control form-daterangepicker" name="daterangeInput"
          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
          (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
  </div> -->
  
  <div class="form-group mg-l-5 mb-0 pb-0 " *ngIf="!_HelperService.IsFormProcessing">
    <select2 name="S2GetBranches" placeholder="select Branch" class="full-width" [options]="GetBranches_Option"
        (valueChanged)="GetBranches_ListChange($event)"></select2>

</div>

  </div>
  <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <button class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="mail" class="wd-10 mg-r-5"></i> Email</button>
    <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="upload" class="wd-10 mg-r-5"></i> Export</button>
  </div>
</div>
<div class="row row-xs">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card ht-100p">
      <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
        <div  >
          <h5 > Daily Sales Report</h5>
          <p>**Current Date(comming soon)** Compared to  </p>
    
        </div>
          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-10 ht-10 bg-teal rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Today</span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-10 ht-10 bg-warning rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Same day Of Last Month</span>
            </li>
    
          </ul>
      </div>
      <div class="card-body pd-lg-25">
        <div class="row">
          <div class="col-lg-9 col-xl-9 col-md-12 p-0">
                    <canvas class="chart-six"   baseChart #DataPlot="base-chart" [datasets]="barChartData" [labels]="barChartLabels1"
                    [options]="Options" [plugins]="Options.Plugins" [chartType]="_HelperService.ChartConfig.LineChart.Type">
                  </canvas>
                    
        </div>
        <div class="col-md-12 col-lg-3 col-xl-3 mg-t-30 mg-lg-t-0">
    
          <div class="row mt-3">
    
            <div class="col-sm-6 col-lg-12 ">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold  tx-verve tx-rubik mg-b-0 "><span class=" text-sm mg-r-5"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>144,323,000 <br>
                      <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Revenue Amount</p>
                      <small
                      class="tx-color-04 tx-11">Sales Amount generated by all POS activities</small> </h5>
    
                </div>
              </div>
    
            </div><!-- col -->
            <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold tx-teal tx-rubik mg-b-0"><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>987000 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Transactions</p>
                  <small class="tx-color-04 tx-11">Total transactions done by all POS</small>
    
                </h5>
    
                </div>
    
              </div>
              
            </div><!-- col -->
            <div class="col-sm-6  col-lg-12 mg-t-30">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold tx-rubik tx-primary mg-b-0"><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>432,010,00 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">AVG. Revenue Amount/POS</p>
                  <small class="tx-color-04 tx-11">An avg amount of revenue generated per POS</small>
    
                </h5>
                </div>
              </div>
              
            </div><!-- col -->
          
          </div><!-- row -->
    
        </div>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="row row-xs mt-3">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card ht-100p">
      <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
        <div  >
          <h5 > Daily Sales Report</h5>
          <p>**Current Date(comming soon)** Compared to  </p>
    
        </div>
          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-10 ht-10 bg-teal rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Today</span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-10 ht-10 bg-warning rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Same day Of Last Month</span>
            </li>
    
          </ul>
      </div>
      <div class="card-body pd-lg-25">
        <div class="row">
          <div class="col-lg-9 col-xl-9 col-md-12 p-0">
                   <canvas class="chart-six"   baseChart #DataPlot="base-chart" [datasets]="barChartData" [labels]="barChartLabels2"
                   [options]="Options" [plugins]="Options.Plugins" [chartType]="_HelperService.ChartConfig.LineChart.Type">
                 </canvas>
        </div>
        <div class="col-md-12 col-lg-3 col-xl-3 mg-t-30 mg-lg-t-0">
    
          <div class="row mt-3">
    
            <div class="col-sm-6 col-lg-12 ">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold  tx-verve tx-rubik mg-b-0 "><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>144,323,000 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Revenue Amount</p>
                    <small
                    class="tx-color-04 tx-11">Sales Amount generated by all POS activities</small> </h5>
  
    
                </div>
              </div>
    
            </div><!-- col -->
            <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold tx-teal tx-rubik mg-b-0"><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>987000 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Transactions</p>
                  <small class="tx-color-04 tx-11">Total transactions done by all POS</small>
    
                </h5>
    
                </div>
              </div>
              
            </div><!-- col -->
            <div class="col-sm-6  col-lg-12 mg-t-30">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold tx-rubik tx-primary mg-b-0"><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>432,010,00 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">AVG. Revenue Amount/POS</p>
                  <small class="tx-color-04 tx-11">An avg amount of revenue generated per POS</small>
    
                </h5>
                </div>
              </div>
              
            </div><!-- col -->
          
          </div><!-- row -->
    
        </div>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="row row-xs mt-3">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card ht-100p">
      <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
        <div  >
          <h5 > Daily Sales Report</h5>
          <p>**Current Date(comming soon)** Compared to  </p>
    
        </div>
          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-10 ht-10 bg-teal rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Today</span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-10 ht-10 bg-warning rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Same day Of Last Month</span>
            </li>
    
          </ul>
      </div>
      <div class="card-body pd-lg-25">
        <div class="row">
          <div class="col-lg-9 col-xl-9 col-md-12 p-0">
                   <canvas class="chart-six"   baseChart #DataPlot="base-chart" [datasets]="barChartData" [labels]="barChartLabels3"
                [options]="Options" [plugins]="Options.Plugins" [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
        </div>
        <div class="col-md-12 col-lg-3 col-xl-3 mg-t-30 mg-lg-t-0">
    
          <div class="row mt-3">
    
            <div class="col-sm-6 col-lg-12 ">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold  tx-verve tx-rubik mg-b-0 "><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>144,323,000 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Revenue Amount</p>
                    <small
                    class="tx-color-04 tx-11">Sales Amount generated by all POS activities</small> </h5>
  
  
    
                </div>
              </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold tx-teal tx-rubik mg-b-0"><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>987000 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Transactions</p>
                  <small class="tx-color-04 tx-11">Total transactions done by all POS</small>
    
                </h5>
    
                </div>
              </div>
              
            </div><!-- col -->
            <div class="col-sm-6  col-lg-12 mg-t-30">
              <div class="d-flex justify-content-between mg-b-5">
                <div class="wd-100p">
                  <h5 class="tx-bold tx-rubik tx-primary mg-b-0"><span class=" text-sm mg-r-5"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>432,010,00 <br>
                    <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">AVG. Revenue Amount/POS</p>
                  <small class="tx-color-04 tx-11">An avg amount of revenue generated per POS</small>
    
                </h5>
                </div>
              </div>
              
            </div><!-- col -->
          
          </div><!-- row -->
    
        </div>
        </div>
      </div>
    
    </div>
  </div>
</div>    

