<div class="pd-t-10">
  <div [className]="_HelperService._Assets.Box.root" class="mt-3">
    <div [className]="_HelperService._Assets.Box.header">
      <div [className]="_HelperService._Assets.Box.headerTitle"> Products:<span class="ml-3 faint-red">Note: These
          Products are only used with terminals with product purchase support</span> </div>
      <div [className]="_HelperService._Assets.Box.headerTitleRight">
        <nav class="nav nav-icon-only mg-l-auto">

          <button class="btn tx-12 btn-primary rounded-50 " (click)="form_AddProduct_Open()"> Add New Product </button>
        </nav>
      </div>
    </div>
    <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
      <div class="form-inline ">
        <div class="input-group input-group-sm mr-3">
          <input type="text" class="form-control" [value]="TUVariantList_Config .SearchParameter" maxlength="100"
            class="form-control" placeholder="{{ 'Common.Search' | translate }}"
            (keyup)="TUVariantList_ToggleOption ( $event, _HelperService.AppConfig.ListToggleOption.Search)">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button"
              (click)="TUVariantList_ToggleOption ( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                data-feather="search" class="tx-grey"></i> </button>
          </div>
        </div>
        <span class="badge badge-pill badge-primary"
          *ngFor="let TItem of TUVariantList_Config.Filters">{{TItem.Title}}</span>
      </div>
      <div class="d-flex ml-auto">
        <button type="button" class="btn tx-12 rounded-0 bd-gray-200 bd-r-0 btn-outline-danger btn-icon"
          [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
          <i data-feather="minus-circle"></i> </button>

        <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
          <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
            [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
            (valueChanged)="Active_FilterValueChanged( $event )">
          </select2>
        </div>
        <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
          [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
        _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()">
          <i data-feather="plus-circle"></i> </button>

      </div>
      <nav class="nav nav-with-icon tx-20">
        <div class="dropdown dropleft">
          <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                <div class="float-right tx-20" *ngIf="TUVariantList_Config.Sort.SortOrder == 'desc'"
                  (click)="TUVariantList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-down-alt"></i>
                </div>
                <div class="float-right tx-20" *ngIf="TUVariantList_Config.Sort.SortOrder == 'asc'"
                  (click)="TUVariantList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                  <i class="fas fa-sort-alpha-up-alt"></i>
                </div>
              </h6>
              <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }}"
                *ngFor="let TItem of TUVariantList_Config.Sort.SortOptions"
                (click)="TUVariantList_ToggleOption(TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                {{TItem.Name}}
              </a>
              <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
            </form>
          </div>
        </div>
        <div class="dropdown dropleft">
          <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
            (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
          <div class="dropdown-menu tx-13">
            <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
              </h6>
              <div>
                <div class="form-group">
                  <label>Added On</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUVariantList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>

                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUVariantList_Config.StatusOptions"
                    (valueChanged)="TUVariantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              <!-- <div>
                <div class="form-group">
                  <label>Owner</label>
                  <select2 [options]="MerchantsList_Filter_Owners_Option" class="wd-100p"
                    (valueChanged)="MerchantsList_Filter_Owners_Change($event)">
                  </select2>
                </div>
              </div> -->
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </form>
          </div>
        </div>
        <a class="nav-link ml-2 cursor-pointer RefreshColor RefreshColorOne "
          (click)="TUVariantList_ToggleOption ( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
            data-feather="refresh-cw"></i> </a>
      </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-15">
      <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of TUVariantList_Config.Filters">{{TItem.Title}}</span>

      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
        (click)="RemoveFilterComponent('Status')">
        {{_HelperService.FilterSnap.StatusName}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
        (click)="RemoveFilterComponent('Sort')">
        <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
        {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
        _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
        (click)="RemoveFilterComponent('Other',i)">
        {{TItem.data[0].DisplayName}}
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
    </div>

    <div [className]="_HelperService._Assets.Box.bodyContent">


      <div class="table-responsive">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
          <thead>
            <tr class="">
              <th class="td-status">
                <span class=""></span>
              </th>
              <th>
                <span class="">SKU</span>
              </th>
              <th>
                <span class="">Product Name</span>
              </th>
              <th>
                <span class="">Category</span>
              </th>
              <th class="text-right">
                <span>Price</span>
              </th>
              <th class="text-right">
                <span>Reward %</span>
              </th>
              <th>
                <span>Active Date</span>
              </th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="cursor-pointer"
              *ngFor="let TItem of (TUVariantList_Config.Data| paginate : { id: 'TUVarientList', itemsPerPage: TUVariantList_Config.PageRecordLimit, currentPage: TUVariantList_Config.ActivePage,totalItems: TUVariantList_Config.TotalRecords}) ">


              <td class="td-status ">
                <span *ngIf="TItem.StatusCode == 'default.active'">
                  <span class="text-lowercase badge badge-success rounded-50 badge-pill">
                    {{ TItem.StatusName || "--"}}
                  </span>
                </span>
                <span *ngIf="TItem.StatusCode == 'default.inactive'">
                  <span class="text-lowercase badge badge-warning rounded-50 badge-pill">
                    {{ TItem.StatusName || "--"}}
                  </span>
                </span>
                <span *ngIf="TItem.StatusCode == 'default.blocked'">
                  <span class="text-lowercase badge badge-danger rounded-50 badge-pill">
                    {{ TItem.StatusName || "--"}}
                  </span>
                </span>

              </td>
              <td class="text-left text-blue">{{ TItem.Sku || "--"}}</td>
              <td class=" text-left text-gray  text-blue">
                {{ TItem.Name || "--"}}
              </td>

              <td class="text-left">
                {{ TItem.CategoryName || "--"}}
              </td>

              <td class="td-amount text-right">
                <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                {{ TItem.SellingPrice || "--" }}
              </td>

              <td class="text-right">
                {{ TItem.RewardPercentage}}
              </td>

              <td class="td-date">
                <div>{{ TItem.CreateDateD || "--" }}</div>
                <div>{{ TItem.CreateDateT || "--" }}</div>
              </td>

              <td class="text-right">
                <button data-dismiss="modal" (click)="TUVariant_RowSelected(TItem)" class="btn btn-primary pd-y-2">
                  <span>
                    <i class="fas fa-edit"></i>
                  </span>
                </button>
              </td>


            </tr>
          </tbody>
        </table>
      </div>

      <div class=" textPagination p-4">
        <span class="mr-1 textPagination">
          {{ 'Common.Showing' | translate }}
          <span class="bold">{{TUVariantList_Config.ShowingStart}} {{ 'Common.To' | translate }}
            {{TUVariantList_Config.ShowingEnd}}
          </span> {{ 'Common.Of' | translate }} {{TUVariantList_Config.TotalRecords}}
        </span>
        <span class="textPagination"> |</span>
        <span class="ml-1 textPagination">
          {{ 'Common.Show' | translate }} &nbsp;
          <select class=" boxPagination" [(ngModel)]="TUVariantList_Config.PageRecordLimit"
            (ngModelChange)="TUVariantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
            <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
              {{TItem}}
            </option>
          </select> &nbsp;
        </span>
        <span class="float-right bold">
          <pagination-controls id="TUVarientList"
            (pageChange)="TUVariantList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
            nextLabel="{{ '' | translate }}" previousLabel="{{ '' | translate }}">
          </pagination-controls>
        </span>
      </div>
    </div>


  </div>
</div>

<div class="modal fade" id="form_AddProduct_Content" role="dialog" aria-labelledby="exampleModalLabel4"
  aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <!--modal-dialog-centered-->
    <div class="modal-content newmodal-body tx-14">
      <div class="modal-header">
        <div class="d-flex">
          <h6 class="modal-title ml-3">Add New POS Product</h6>
          <span class="mg-l-10 text-muted">( For Smart POS use only )</span>
        </div>

      </div>
      <form [formGroup]="Form_AddProduct" (ngSubmit)="Form_AddProduct_Process(Form_AddProduct.value)" role="form">
        <div class="modal-body  pd-30">
          <div class="form-group">
            <label>Product Name<span class="text-danger"> *</span></label>
            <div class="row">
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input type="text" placeholder="" [formControl]="Form_AddProduct.controls['Name']" name="Name"
                  maxlength="25" class="form-control"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['Name'].valid && Form_AddProduct.controls['Name'].touched}">
                <label for=""
                  *ngIf="Form_AddProduct.controls['Name'].hasError('required') && Form_AddProduct.controls['Name'].touched">
                  <span class="text-danger">Enter Product Name </span>
                </label>
                <label for=""
                  *ngIf="Form_AddProduct.controls['Name'].hasError('minlength') || Form_AddProduct.controls['Name'].hasError('maxlength')">
                  <span class="text-danger">Product Name must be between 4 to 256 characters</span>
                </label>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-12">
                <span>Product Name</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>SKU<span class="text-danger"> *</span></label>
            <div class="row">
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input type="text" placeholder="" [formControl]="Form_AddProduct.controls['Sku']" name="Sku"
                  maxlength="25" class="form-control"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['Sku'].valid && Form_AddProduct.controls['Sku'].touched}">

                <label for="Sku"
                  *ngIf="Form_AddProduct.controls['Sku'].hasError('required') && Form_AddProduct.controls['Sku'].touched">
                  <span class="text-danger">Enter SKU</span>
                </label>
                <label for=""
                  *ngIf="Form_AddProduct.controls['Sku'].hasError('minlength') || Form_AddProduct.controls['Sku'].hasError('maxlength')">
                  <span class="text-danger">SKU must have minimum 6 characters</span>
                </label>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">SKU,which must be sent from POS to

                  product and must unique for merchant.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Product Price<span class="text-danger"> *</span></label>
            <div class="row">
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input type="text" placeholder="" [formControl]="Form_AddProduct.controls['SellingPrice']"
                  name="SellingPrice" maxlength="25" class="form-control"
                  (keypress)="_HelperService.PreventText($event)"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['SellingPrice'].valid && Form_AddProduct.controls['SellingPrice'].touched}">

                <label for="SellingPrice"
                  *ngIf="Form_AddProduct.controls['SellingPrice'].hasError('required') && Form_AddProduct.controls['SellingPrice'].touched">
                  <span class="text-danger">Enter Selling Price</span>
                </label>
                <label for=""
                  *ngIf="Form_AddProduct.controls['SellingPrice'].hasError('min') || Form_AddProduct.controls['SellingPrice'].hasError('max')">
                  <span class="text-danger">Selling price must be above 0 upto 99999999 </span>
                </label>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Product price on which reward will be provided.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Reward Percentage<span class="text-danger"> *</span></label>
            <div class="row">
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input type="text" placeholder="" [formControl]="Form_AddProduct.controls['RewardPercentage']"
                  name="RewardPercentage" maxlength="25" class="form-control"
                  (keypress)="_HelperService.PreventText($event)"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['RewardPercentage'].valid && Form_AddProduct.controls['RewardPercentage'].touched}">

                <label for="SellingPrice"
                  *ngIf="Form_AddProduct.controls['SellingPrice'].hasError('required') && Form_AddProduct.controls['SellingPrice'].touched">
                  <span class="text-danger">Enter Reward Percentage</span>
                </label>

                <label for="RewardPercentage"
                  *ngIf="Form_AddProduct.controls['RewardPercentage'].hasError('maxlength') ">
                  <span class="text-danger">RewardPercentage limit exceeded</span>
                </label>
                <label for=""
                  *ngIf="Form_AddProduct.controls['RewardPercentage'].hasError('min') || Form_AddProduct.controls['RewardPercentage'].hasError('max')">
                  <span class="text-danger">reward must be given between 0-100 </span>
                </label>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Reward percentage of product.Enter 0 if no discount on product.</span>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="ResetFilterControls">
            <label>Product Category</label>
            <div class="row">
              <div class="col-md-7 col-lg-7 col-sm-12">
                <div class="controls">
                  <select2 name="CategoryName" class="full-width" [options]="GetProductCategories_Option"
                    (valueChanged)="GetProductCategories_ListChange($event)"></select2>
                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Primary Category Of Product</span>
              </div>
            </div>

          </div>
          <div class="form-group" *ngIf="ResetFilterControls">
            <label>Product Sub Category</label>
            <div class="row">
              <div class="col-md-7 col-lg-7 col-sm-12">
                <div class="controls">
                  <select2 name="SubCategoryName" class="full-width" [options]="GetProductSubCategories_Option"
                    (valueChanged)="GetProductSubCategories_ListChange($event)"></select2>
                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Sub-Category Of Product</span>
              </div>
            </div>

          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-white tx-13" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary tx-13"
          [disabled]="!Form_AddProduct.valid || _HelperService.IsFormProcessing"
          (click)="Form_AddProduct_Process(Form_AddProduct.value)">
          <span *ngIf="!_HelperService.IsFormProcessing">
            Save changes
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ 'Common.PleaseWait' | translate}}...
          </span>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal  fade " id="form_EditProduct_Content" role="dialog" aria-labelledby="exampleModalLabel4"
  aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content newmodal-body tx-14">
      <div class="modal-header">
        <h6 class="modal-title ml-3">Edit Product Details: SKU <span>- {{SelectedSKU}}</span></h6>
      </div>
      <form [formGroup]="Form_Product" (ngSubmit)="Form_Product_Process(Form_Product.value)" role="form">
        <div class="modal-body  pd-30">
          <div class="form-group">
            <label>Product Name<span class="text-danger"> *</span></label>
            <div class="row">
              <div class="col-md-8 col-lg-8 col-sm-12">
                <input type="text" placeholder="" name="Name" maxlength="25" class="form-control"
                  [(ngModel)]="ProductName" [formControl]="Form_Product.controls['Name']"
                  [ngClass]="{'is-invalid':!Form_Product.controls['Name'].valid && Form_Product.controls['Name'].touched}">

                <label class="text-danger" for="Name"
                  *ngIf="Form_Product.controls['Name'].hasError('required') && Form_Product.controls['Name'].touched">
                  Name required
                </label>
                <label class="text-danger" for="Name"
                  *ngIf="Form_Product.controls['Name'].hasError('minlength') || Form_Product.controls['Name'].hasError('maxlength')">
                  Name must be stleast 4 characters long
                </label>

              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span>Product Name</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Product Price<span class="text-danger"> *</span></label>
            <div class="row">
              <div class="col-md-8 col-lg-8 col-sm-12">
                <input type="text" placeholder="" [(ngModel)]="ProductPrice"
                  (keypress)="_HelperService.PreventText($event)" name="SellingPrice" maxlength="25"
                  class="form-control" [formControl]="Form_Product.controls['SellingPrice']"
                  [ngClass]="{'is-invalid':!Form_Product.controls['SellingPrice'].valid && Form_Product.controls['SellingPrice'].touched}">

                <label class="text-danger" for="Name"
                  *ngIf="Form_Product.controls['SellingPrice'].hasError('required') && Form_Product.controls['SellingPrice'].touched">
                  Selling Price required
                </label>
                <label class="text-danger" for="Name"
                  *ngIf="Form_Product.controls['SellingPrice'].hasError('min') || Form_Product.controls['SellingPrice'].hasError('max')">
                  Price must be above 0
                </label>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Product price on which reward will be provided.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Reward Percentage<span class="text-danger"> *</span></label>
            <div class="row">
              <div class="col-md-8 col-lg-8 col-sm-12">
                <input type="text" placeholder="" [(ngModel)]="RewardPercentage"
                  (keypress)="_HelperService.PreventText($event)" name="RewardPercentage" maxlength="25"
                  class="form-control" [formControl]="Form_Product.controls['RewardPercentage']"
                  [ngClass]="{'is-invalid':!Form_Product.controls['RewardPercentage'].valid && Form_Product.controls['RewardPercentage'].touched}">

                <label class="text-danger" for="Name"
                  *ngIf="Form_Product.controls['RewardPercentage'].hasError('required') && Form_Product.controls['RewardPercentage'].touched">
                  Reward % required
                </label>
                <label class="text-danger" for="Name"
                  *ngIf="Form_Product.controls['RewardPercentage'].hasError('min') || Form_Product.controls['RewardPercentage'].hasError('max')">
                  Reward % must be between 0-100
                </label>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Reward percentage of product.Enter 0 if no discount on product.</span>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
            <label>Product Category</label>
            <div class="row">
              <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="controls">
                  <select2 name="CategoryName" class="full-width" [options]="GetProductCategories_Option"
                    (valueChanged)="GetProductCategories_ListChange($event)"></select2>
                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Primary Category Of Product</span>
              </div>
            </div>

          </div>
          <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
            <label>Product Sub Category</label>
            <div class="row">
              <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="controls">
                  <select2 name="SubCategoryName" class="full-width" [options]="GetProductSubCategories_Option"
                    (valueChanged)="GetProductSubCategories_ListChange($event)"></select2>
                </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12">
                <span class="mg-b-15">Sub-Category Of Product</span>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="">Product Status</label>

            <div class="d-flex">
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions"
                    [value]="_HelperService.AppConfig.Status.Active"
                    [formControl]="Form_Product.controls['StatusCode']" />
                  <i class="dark-white"></i>
                  {{ "Common.Active" | translate }}</label>
              </div>
              <div class="radio  mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions"
                    [value]="_HelperService.AppConfig.Status.Inactive"
                    [formControl]="Form_Product.controls['StatusCode']" />
                  <i class="dark-white"></i>
                  {{ "Common.Inactive" | translate }}</label>
              </div>
              <div class="radio  mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions"
                    [value]="_HelperService.AppConfig.Status.Blocked"
                    [formControl]="Form_Product.controls['StatusCode']" />
                  <i class="dark-white"></i>
                  Blocked</label>
              </div>
            </div>

          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-white tx-13" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary tx-13"
          [disabled]="!Form_Product.valid || _HelperService.IsFormProcessing"
          (click)="Form_Product_Process(Form_Product.value)">
          <span *ngIf="!_HelperService.IsFormProcessing">
            Update
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ 'Common.PleaseWait' | translate}}...
          </span>
        </button>
        <button type="button" class="btn btn-danger tx-13" (click)="Delete_Confirm()"
          data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>