<div class="box mb-0">
    <div class="box-header b-b">
        <h3> {{TerminalsList_Config.Title}}</h3>
    </div>
    <div class="box-tool">
        <ul class="nav nav-xs">
            <li title="{{ 'Common.FilterT' | translate }}" class="nav-item"
                (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
                    class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li>
            <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)"><a
                    class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li>
            <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"><a
                    class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
        </ul>
    </div>
    <div class="box-header light lt">
        <div class="form-inline ">
            <div class="input-group mr-2 mb-2">
                <input type="text" [value]="TerminalsList_Config.SearchParameter" maxlength="100" class="form-control"
                    placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append"><button class="btn white" type="button"
                        (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                'Common.Go' | translate }}</button></div>
            </div>
            <div class="form-group mr-2 mb-2 ">
                <input type="text" class="form-control  form-daterangepicker mr-2" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
            </div>
            <div class="form-group mr-2 mb-2 ">
                <select2 [options]="_DataHelperService.S2_Sort_Option"
                    [data]="TerminalsList_Config.SortExpressionOption" [value]="TerminalsList_Config.SortExpression"
                    (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                </select2>
            </div>
            <div class="form-group mr-2 mb-2 ">
                <select2 [options]="_DataHelperService.S2_Status_Option" [data]="TerminalsList_Config.StatusOptions"
                    [value]="TerminalsList_Config.Status"
                    (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
            </div>



            <div class="form-group mr-2 mb-2">
                <select2 [options]="TerminalsList_Filter_Store_Option"
                    (valueChanged)="TerminalsList_Filter_Stores_Change($event)">
                </select2>
            </div>
            <div class="form-group mr-2 mb-2">
                <select2 [options]="TerminalsList_Filter_Bank_Option"
                    (valueChanged)="TerminalsList_Filter_Banks_Change($event)">
                </select2>
            </div>

        </div>
        <div class="mt-2" *ngIf="TerminalsList_Config.ToggleFilter">
            <div class="form-group mr-2 mb-2">
                <select2 [options]="TerminalsList_Filter_Provider_Option"
                    (valueChanged)="TerminalsList_Filter_Providers_Change($event)">
                </select2>
            </div>
        </div>
    </div>

    <div class="box-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="td-status">
                        <i class="{{ 'Common.StatusI' | translate }}"></i>
                    </th>
                    <th *ngFor="let TItem of TerminalsList_Config.VisibleHeaders" class="{{TItem.Class}}">
                        {{TItem.DisplayName}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="TerminalsList_RowSelected(TItem)" *ngFor="let TItem of TerminalsList_Config.Data
                                                            | paginate: { id: 'MerchantsList',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,
                                                            totalItems: TerminalsList_Config.TotalRecords }">
                    <td class="td-status p-1">
                        <img class="br" src="{{TItem.IconUrl}}" class="grid-icon" [style.border-color]="TItem.StatusC">
                    </td>
                    <td *ngFor="let HTItem of TerminalsList_Config.VisibleHeaders" class="{{HTItem.Class}}"
                        title="{{TItem[HTItem.SystemName]}}">
                        <span *ngIf="HTItem.NavigateLink != undefined">
                            <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                <a routerLink="{{HTItem.NavigateLink}}"> {{TItem[HTItem.SystemName] || "--"}}</a>
                            </span>
                            <span *ngIf="HTItem.NavigateField != undefined">
                                <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                        {{TItem[HTItem.SystemName]|| "0"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span></a>
                            </span>
                        </span>
                        <span *ngIf="HTItem.NavigateLink == undefined">
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                {{TItem[HTItem.SystemName] || "--"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                {{TItem[HTItem.SystemName]|| "0"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                {{TItem[HTItem.SystemName] || "--"}}
                            </span>
                        </span>
                    </td>
                    <!-- <td class="td-btn-info" (click)="TerminalsList_RowSelected(TItem)">
                                    <i class="{{ 'Common.InfoI' | translate }}"></i>
                                </td> -->
                </tr>
            </tbody>
        </table>

        <div class="  p-4">
            <span class="mr-1">
                {{ 'Common.Showing' | translate }}
                <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                    {{TerminalsList_Config.ShowingEnd}}
                </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
            </span>
            |
            <span class="ml-1">
                {{ 'Common.Show' | translate }}
                <select class=" w-64 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
                    (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{TItem}}
                    </option>
                </select> {{ 'Common.Entries' | translate }}
            </span>
            <span class="float-right">
                <pagination-controls id="MerchantsList"
                    (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                    nextLabel="{{ '' | translate }}" previousLabel="{{ '' | translate }}">
                </pagination-controls>
            </span>
        </div>
    </div>
</div>