<div class="card pd-15" style="border-radius: 0px !important;">
    <div class="card-header pt-0">
        <button class="btn px-4 float-right tx-12 btn-success rounded-50" (click)="Form_AddUser_Show()"> Add terminal
        </button>
    </div>

    <!-- <div class="d-sm-flex justify-content-between pd-15">
        <div class=" media">
            <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <i data-feather="smartphone"></i>
            </div>
            <div class="media-body bd-pink" *ngIf="_HelperService._AccountOverview.TerminalStatus">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                    ALL</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{
                    _HelperService._AccountOverview.TerminalStatus.Total | number: "1.0-1" || "--" }}</h4>
            </div>
        </div>
        <div class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
            <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                <i data-feather="smartphone"></i>
            </div>
            <div class="media-body" *ngIf="_HelperService._AccountOverview.TerminalStatus">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                    Active</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{
                    _HelperService._AccountOverview.TerminalStatus.Active | number: "1.0-1" || "--" }}</h4>
            </div>
        </div>
        <div class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
            <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <i data-feather="smartphone"></i>
            </div>
            <div class="media-body" *ngIf="_HelperService._AccountOverview.TerminalStatus">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                    Idle</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{
                    _HelperService._AccountOverview.TerminalStatus.Idle | number: "1.0-1" || "--" }}</h4>
            </div>
        </div>
        <div class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
            <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <i data-feather="smartphone"></i>
            </div>
            <div class="media-body" *ngIf="_HelperService._AccountOverview.TerminalStatus">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                    Dead</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{
                    _HelperService._AccountOverview.TerminalStatus.Dead | number: "1.0-1" || "--" }}</h4>
            </div>
        </div>
        <div class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
            <div
                class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <i data-feather="smartphone"></i>
            </div>
            <div class="media-body" *ngIf="_HelperService._AccountOverview.TerminalStatus">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
                    InActive</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{
                    _HelperService._AccountOverview.TerminalStatus.Inactive || "0" }}</h4>
            </div>
        </div>
    </div> -->

</div>
<div [className]="_HelperService._Assets.Box.root" class="mt-3" style="border-radius: 0px !important;">
    <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TerminalsList_Config  .SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="TerminalsList_ToggleOption  ( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="TerminalsList_ToggleOption  ( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search" class="tx-grey"></i> </button>
                </div>
            </div>
            <span class="badge badge-pill badge-primary"
                *ngFor="let TItem of TerminalsList_Config  .Filters">{{TItem.Title}}</span>
        </div>
        <div class="d-flex ml-auto">
            <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                <i data-feather="minus-circle"></i> </button>

            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                    [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                    (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
            _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TerminalsList_sdropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Sort
                            <div class="float-right tx-20" [hidden]="TerminalsList_Config.Sort.SortOrder == 'asc'"
                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" [hidden]="TerminalsList_Config.Sort.SortOrder == 'desc'"
                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>
                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }}"
                            *ngFor="let TItem of TerminalsList_Config.Sort.SortOptions"
                            (click)="TerminalsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>
                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TerminalsList_fdropdown" data-toggle="dropdown"
                    (click)="_HelperService.StopClickPropogation()" aria-haspopup="true" aria-expanded="false"> <i
                        data-feather="filter" class=""></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                            Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Added On</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="TerminalsList_Config.StatusOptions"
                                    (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>

                        <div>
                            <label for=""> Acquirer</label>
                            <div class="form-group wd-100p">
                                <select2 [options]="TerminalsList_Filter_Bank_Option"
                                    (valueChanged)="TerminalsList_Filter_Banks_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>

                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 cursor-pointer RefreshColor RefreshColorOne"
                (click)="TerminalsList_ToggleOption  ( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw" ></i> </a>
        </nav>
    </div>

    <div class="pt-0 pd-l-15 pd-b-15">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
            (click)="RemoveFilterComponent('Status')">
            {{_HelperService.FilterSnap.StatusName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
            (click)="RemoveFilterComponent('Sort')">
            <span>
                {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
            (click)="RemoveFilterComponent('Other',i)">
            {{TItem.data[0].DisplayName}}
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                    class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary"
            *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>
    </div>
    <div [className]="_HelperService._Assets.Box.bodyContent">


        <div class="table-responsive">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                <thead>
                    <tr>
                        <th>
                            <span class="">Status</span>
                        </th>
                        <th class="">
                            <span class="">Terminal ID</span>
                        </th>
                        <th>
                            <span class="">Store</span>
                        </th>
                        <th>
                            <span class="">Acquirer</span>
                        </th>
                        <th>
                            <span class="">Last Tr.</span>
                        </th>
                        <th>
                            <span class="">RM</span>
                        </th>

                        <th>
                            <span class="">Added On</span>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer" (click)="TerminalsList_RowSelected(TItem)" *ngFor="let TItem of TerminalsList_Config.Data
                                                    | paginate: { id: 'MerchantsList',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,
                                                    totalItems: TerminalsList_Config.TotalRecords }">

                        <td>
                            <div class="text-xs _500 ">
                                <span *ngIf="TItem.StatusCode == 'default.active'">
                                    <span class="text-lowercase badge badge-success rounded-50 badge-pill">{{
                                        TItem.StatusName || "--" }}</span>
                                </span>
                                <span *ngIf="TItem.StatusCode == 'default.inactive'">
                                    <span class="text-lowercase badge badge-warning rounded-50 badge-pill">{{
                                        TItem.StatusName || "--" }}</span>
                                </span>
                                <span *ngIf="TItem.StatusCode == 'default.blocked'">
                                    <span class="text-lowercase badge badge-danger rounded-50 badge-pill">{{
                                        TItem.StatusName || "--" }}</span>
                                </span>
                            </div>
                        </td>


                        <td>
                            <div class="">
                                <span class="tx-bold">{{TItem.TerminalId || "--" }}</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="">{{TItem.StoreName || "--"}}</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="">{{TItem.AcquirerName || "--"}}</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="">{{TItem.LastTransactionDate || "--"}}</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="text-muted tx-12">{{TItem.RM || "--"}}</span>
                            </div>
                        </td>

                        <td>
                            <div>
                                <span class="">{{TItem.CreateDateD}}</span>
                            </div>
                            <div>
                                <span class="">{{TItem.CreateDateT}}</span>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
        <div class="  p-4">
            <span class="mr-1">
                {{ 'Common.Showing' | translate }}
                <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                    {{TerminalsList_Config.ShowingEnd}}
                </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
            </span>
            |
            <span class="ml-1">
                {{ 'Common.Show' | translate }}
                <select class=" w-64 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
                    (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{TItem}}
                    </option>
                </select>
            </span>
            <span class="float-right bold">
                <pagination-controls id="MerchantsList"
                    (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                    nextLabel="{{ '' | translate }}" previousLabel="{{ '' | translate }}">
                </pagination-controls>
            </span>
        </div>
    </div>


</div>

<div id="Form_AddUser_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title ml-3">Add New Pos Terminal</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.TerminalId" | translate
                                        }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                            [formControl]="Form_AddUser.controls['TerminalId']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddUser.controls['TerminalId'].valid &&
                                    Form_AddUser.controls['TerminalId'].touched
                                }" />
                                    </div>
                                    <label class="text-danger" for="TerminalId" *ngIf="
                                Form_AddUser.controls['TerminalId'].hasError('required') &&
                                Form_AddUser.controls['TerminalId'].touched
                              ">Enter Terminal Id</label>
                                    <label class="text-danger" for="TerminalId" *ngIf="
                                Form_AddUser.controls['TerminalId'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddUser.controls['TerminalId'].hasError('maxlength')
                              ">Enter Terminal Id</label>
                                </div>
                                <div class="form-group">
                                    <label>{{ "System.Users.SerialNumber" | translate
                                        }}
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="SerialNumberSerialNumber" maxlength="128"
                                            class="form-control" [formControl]="Form_AddUser.controls['SerialNumber']"
                                            [ngClass]="{
                                  'is-invalid':
                                    !Form_AddUser.controls['SerialNumber'].valid &&
                                    Form_AddUser.controls['SerialNumber'].touched
                                }" />
                                    </div>
                                    <!-- <label class="text-danger" for="SerialNumber" *ngIf="
                                Form_AddUser.controls['SerialNumber'].hasError('required') &&
                                Form_AddUser.controls['SerialNumber'].touched
                              ">Enter Serial Number</label>
                                    <label class="text-danger" for="SerialNumber" *ngIf="
                                Form_AddUser.controls['SerialNumber'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddUser.controls['SerialNumber'].hasError('maxlength')
                              "> Sero</label> -->
                                </div>

                                <div class="form-group">
                                    <label for=""> Store </label>
                                    <select2 class="wd-100p" [options]="StoresList_Option"
                                        (valueChanged)="StoresList_Change($event)">
                                    </select2>
                                </div>

                                <div class="form-group">
                                    <label for=""> Acquirer</label>
                                    <select2 class="wd-100p" [options]="GetBranches_Option"
                                        (valueChanged)="GetBranches_ListChange($event)">
                                    </select2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>