<aside class="aside aside-fixed">
  <div class="aside-header">
    <a *ngIf="_HelperService.CheckMode == 'light'" routerLink="{{
      _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Acquirer
    }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img src="../../assets/img/thankucash.svg"
        height="20px" width="128px" alt="." /></a>

    <a *ngIf="_HelperService.CheckMode =='dark'" routerLink="{{
          _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Acquirer
        }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img
        src="../../assets/img/thankucash_white.svg" height="20px" width="128px" alt="." /></a>
    <a href="" class="aside-menu-link cursor-pointer">
      <i data-feather="menu"></i>
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="aside-body pd-b-60">
    <div class="aside-loggedin">
      <div class="d-flex align-items-center justify-content-start">
        <a class="avatar"><img src="{{ _HelperService.UserAccount.IconUrl }}" height="48px" width="48px"
            class="rounded-circle" alt=""></a>
        <div class="aside-alert-link">
          <a class="" data-toggle="tooltip" title="You have 0 messages"><i data-feather="message-square"></i></a>
          <a class="" data-toggle="tooltip" title="You have 0 notifications"><i data-feather="bell"></i></a>
          <a (click)="ProcessLogout()" title="Sign Out" data-toggle="tooltip" class="cursor-pointer"><i
              data-feather="log-out"></i> </a>
        </div>
      </div>
      <div class="aside-loggedin-user">
        <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
          <h6 class="tx-semibold mg-b-0">{{ _HelperService.UserAccount.DisplayName }}

          </h6>
          <i data-feather="chevron-down" class="tx-black DarkModeColor"></i>
        </a>
        <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
      </div>
      <div class="collapse" id="loggedinMenu">
        <ul class="nav nav-aside mg-b-0">

          <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.PTSP.Profile
    }}" [routerLinkActive]="['active']" class="nav-link">


              <!-- <i data-feather="user"></i> -->
              <i data-feather="user-check"></i>
              <!-- <span class="">{{"System.Menu.Profile" | translate}}</span></a> -->
              <span class="">Account</span></a>
          </li>

          <!-- <li class="nav-item" [routerLinkActive]="['active']"><a (click)="ProcessLogout()">
        <i data-feather="log-out"></i>
                      <span class="">Sign out</span></a>
                  </li> -->

                  <li class="nav-item cursor-pointer"><a (click)="ProcessLogout()" class="nav-link"><i
                    data-feather="log-out"></i> <span>Sign
                    Out</span></a>
              </li>

        </ul>
      </div>
    </div><!-- aside-loggedin -->
    <ul class="nav nav-aside">
      <li class="nav-item " [routerLinkActive]="['active']"> <a 
        [routerLink]="_HelperService.AppConfig.Pages.ThankUCash.Dashboard.PTSP" [routerLinkActive]="['active']" class="nav-link"><i data-feather="home"></i>
          <span class="">Overview</span></a></li>
      <!-- <li class="nav-item " [routerLinkActive]="['active']"> <a 
        [routerLink]="_HelperService.AppConfig.Pages.ThankUCash.Dashboard.PTSP" [routerLinkActive]="['active']" class="nav-link"><i data-feather="home"></i>
          <span class="">Dashboard</span></a></li> -->

      <li class="nav-label mg-t-20">Merchant Management</li>
      <li class="nav-item " [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Merchants}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="briefcase"></i> <span
            class="">Merchants</span></a></li>

      <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP
    .Terminals
    }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
          <span class="">{{"System.Menu.PosTerminals" | translate}}</span></a></li>

      <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP
            .Stores
            }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="shopping-cart"></i>
          <span class="">Stores</span></a></li>


      <li class="nav-label mg-t-20">Report & Analysis</li>
      <li class="nav-item with-sub" [routerLinkActive]="['active']">
        <a href="" class="nav-link"><i data-feather="pie-chart"></i> <span>POS Reports</span></a>
        <ul>
          <li [routerLinkActive]="['active']">
            <a routerLink="{{
      _HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Reports.Activity
      }}" [routerLinkActive]="['active']">
              <span>Activity</span></a>
          </li>
          <li [routerLinkActive]="['active']">
            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Reports.Transactions}}"
              [routerLinkActive]="['active']">
              <span>Transactions</span></a>
          </li>
          
        </ul>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']"><a
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Reports.CommisionHistory}}"
        [routerLinkActive]="['active']" class="nav-link"><i data-feather="credit-card"></i>
        <span>Commission History</span></a></li>

      <li class="nav-item" [routerLinkActive]="['active']"><a
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.FAQCategories}}"
        [routerLinkActive]="['active']" class="nav-link"><i data-feather="help-circle"></i>
        <span>FAQ Categories</span></a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Apps}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="disc"></i>
          <span>App & Keys</span></a></li>

    </ul>



  </div>

  <span class="aside-header d-flex justify-content-center bd-t w-100 text-center"
    style="position: fixed; bottom:0%; margin-top: -2.5em ;">
    <div class="mg-r-20 pd-b-10">
      <!-- <a routerLink="{{
        _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Acquirer
      }}" [routerLinkActive]="['active']" class="aside-logo nav-link pd-l-10"><img
          src="../../assets/img/thankucash.svg" height="25px" alt="." /></a> -->

          <a class="aside-logo tx-10 tx-spacing-3 p-0 m-0" target="_blank" href="http://connectedanalytics.xyz/"> <span
            class="tx-10 tx-color-03 text-uppercase" style="font-size: 10px !important;"> Powered by </span> <br> <span
            class="tx-18 pd-b-20"> <img src="../../assets/img/connected-analytics.svg" height="25" width="135" alt="">
          </span></a>


    </div>
  </span>
</aside>
<div class="content ht-100v pd-0">
  <div class="content-header justify-content-start">
    <a class="cursor-pointer" (click)="_HelperService.NavigateBack()">
      <i data-feather="arrow-left-circle"></i>
    </a>
    <span class="text-uppercase ml-3">
      {{ _HelperService.AppConfig.ActivePageName }}</span>
  </div>
  <div [className]="_HelperService.FullContainer ? '' : 'content-body skin'">
    <div class="container">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>

<div class="df-settings">
  <a id="dfSettingsShow" href="" class="df-settings-link"><i data-feather="settings"></i></a>
  <div class="df-settings-body">
    <div class="pd-y-20">
      <h3 class="tx-bold tx-spacing--2 tx-brand-02 mg-b-0"><img src="../../assets/img/thankucash.svg" alt=""></h3>
      <span class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03"> Skin Customizer</span>
      <div class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03"> 0.0.1.3 </div>
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Skin Mode</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-mode df-mode-default active" data-title="classic"></a>
          <span class="df-skin-name">Classic</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-light" data-title="light">
            <span class="bg-ui-01"></span>
            <span class="bg-ui-02"></span>
          </a>
          <span class="df-skin-name">Light</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-cold" data-title="cool">
            <span class="bg-primary op-1"></span>
            <span class="bg-primary op-2"></span>
          </a>
          <span class="df-skin-name">Cool</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-mode df-mode-dark" data-title="dark">
            <span class="bg-gray-700"></span>
            <span class="bg-gray-900"></span>
          </a>
          <span class="df-skin-name tx-nowrap">Dark</span>
        </div>
      </div><!-- row -->
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Navigation Skin</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-skin df-skin-default active" data-title="default"></a>
          <span class="df-skin-name">Default</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-deepblue" data-title="deepblue">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Deep Blue</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-charcoal" data-title="charcoal">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Charcoal</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-skin df-skin-gradient1" data-title="gradient1">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Gradient 1</span>
        </div>
      </div><!-- row -->
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Font Family Base</label>
      <div class="row row-xs">
        <div class="col-7">
          <a href="" id="setFontBase" class="btn btn-xs btn-outline-secondary ">IBM Plex Sans</a>
        </div><!-- col -->
        <div class="col-5">
          <a href="" id="setFontRoboto" class="btn btn-xs btn-outline-secondary active">Roboto</a>
        </div><!-- col -->
      </div><!-- row -->
    </div>
  </div><!-- df-settings-body -->
</div><!-- df-settings -->