<div *ngIf="LocationType == 'popup'">
    <div class="loc-container">
        <div class="mb-3 loc-container-pre">
            <button *ngIf="!IsAddressSet" type="button" class="btn btn-outline-primary btn-sm"
                (click)="HCXLocManager_OpenManager()">Add
                Location</button>
        </div>
        <div class="mb-3 loc-container-details" *ngIf="IsAddressSet">
            <div class="loc-container-address">
                Address : {{data.Address}}
            </div>
            <div class="mb-3 loc-container-locality">
                {{data.CityName}},
                {{data.StateName}},
                {{data.CountryName}}
            </div>
            <button type="button" class="btn btn-outline-primary btn-xs"
                (click)="HCXLocManager_OpenUpdateManager()">Update
                Location</button>
        </div>
    </div>
</div>
<div *ngIf="LocationType == 'form'">
    <div class="loc-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="agm">
                    <div class="hcx-locator">
                        <input type="text" name="GAddress" maxlength="256" class="form-control hcx-locator-input"
                            ngx-google-places-autocomplete [ngModel]="data.MapAddress"
                            (onAddressChange)="HCXLocManager_AddressChange($event)">
                    </div>
                    <agm-map style="height:260px;" [zoom]="12" [latitude]="data.Latitude" [longitude]="data.Longitude"
                        [streetViewControl]="false">
                        <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group mt-3">
                    <label>Detailed Address<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <textarea name="Address" maxlength="256" placeholder="Address" class="form-control"
                            (keyup)="HCXLoc_Manager_SetAddress_Emit()" [(ngModel)]="data.Address" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group mt-3"
                    *ngIf="data.CountryName != undefined && data.CountryName != null && data.CountryName != ''">
                    <label>Country</label>
                    <div class="controls">
                        <span class="input-group-text">{{data.CountryName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group" *ngIf="!ShowState">
                    <label>State<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <span class="input-group-text">Please wait ...</span>
                    </div>
                </div>
                <div class="form-group" *ngIf="ShowState">
                    <label>State<span class="text-danger">*</span>
                    </label>
                    <select2 class="full-width" name="loc_manager_state" [value]="data.StateId"
                        [data]="HCXLocManager_S2States_Data" [options]="HCXLocManager_S2States_Option"
                        (valueChanged)="HCXLoc_Manager_StateSelected($event)">
                    </select2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group " *ngIf="!ShowCity">
                    <label>City<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <span class="input-group-text">Please wait ...</span>
                    </div>
                </div>
                <div class="form-group" *ngIf="ShowCity">
                    <label>City<span class="text-danger">*</span>
                    </label>
                    <select2 name="hcxloc_manager_city" class="full-width" [value]="data.CityId"
                        [options]="HCXLoc_Manager_City_Option" (valueChanged)="HCXLoc_Manager_City_Change($event)">
                    </select2>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- LOC M - Start -->
<div class="modal fade" id="{{HCXModalLocationManagerId}}" role="dialog" aria-hidden="true" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content tx-14">
            <div class="modal-header">
                <h6 class="modal-title ml-2">Location Manager</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="agm">
                            <div class="hcx-locator">
                                <input type="text" name="GAddress" maxlength="256"
                                    class="form-control hcx-locator-input" ngx-google-places-autocomplete
                                    [ngModel]="data.MapAddress" (onAddressChange)="HCXLocManager_AddressChange($event)">
                            </div>
                            <agm-map style="height:370px;" [zoom]="12" [latitude]="data.Latitude"
                                [longitude]="data.Longitude" [streetViewControl]="false">
                                <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group ">
                            <label>Detailed Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea name="Address" maxlength="256" placeholder="Address" class="form-control"
                                    [(ngModel)]="data.Address" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label>Country</label>
                            <div class="controls">
                                <span class="input-group-text">{{_HelperService.UserCountry.CountryName || "--"}}</span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!ShowState">
                            <label>State<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <span class="input-group-text">Please wait ...</span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="ShowState">
                            <label>State<span class="text-danger">*</span>
                            </label>
                            <select2 class="full-width" name="loc_manager_state" [value]="data.StateId"
                                [data]="HCXLocManager_S2States_Data" [options]="HCXLocManager_S2States_Option"
                                (valueChanged)="HCXLoc_Manager_StateSelected($event)">
                            </select2>
                        </div>
                        <div class="form-group " *ngIf="!ShowCity">
                            <label>City<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <span class="input-group-text">Please wait ...</span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="ShowCity">
                            <label>City<span class="text-danger">*</span>
                            </label>
                            <select2 name="hcxloc_manager_city" class="full-width" [value]="data.CityId"
                                [options]="HCXLoc_Manager_City_Option"
                                (valueChanged)="HCXLoc_Manager_City_Change($event)">
                            </select2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary tx-13"
                    (click)="HCXLoc_Manager_SetAddress_Cancel()">Cancel</button>
                <button type="button" class="btn btn-primary tx-13" (click)="HCXLoc_Manager_SetAddress()">Set
                    Address</button>
            </div>
        </div>
    </div>
</div>
<!-- LOC M - END -->