<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0 pb-20" id="headingOne">

            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl">
                            <img [style.border-color]="_StoreDetails.StatusC"
                                 src="{{_StoreDetails.IconUrl}}"
                                (error)="_HelperService.defaultImage($event)" class="rounded-circle bd bd-2" alt="">
                        </div>
                    </div><!-- media -->
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize mg-b-2">
                                {{_StoreDetails.DisplayName}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal  lh-2 mg-b-0">
                                    <span class="mg-r-5 text-secondary"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span> <span class="">

                                        {{ _HelperService._UserAccount.OwnerDisplayName}} </span>
                                </h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal  lh-2 mg-b-0 d-flex">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;"
                                            data-feather="map-pin"></i> </span> <span>{{_StoreDetails.Address}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40  tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_StoreDetails.RewardPercentage}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40 tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_StoreDetails.Terminals}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminal</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <!-- <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="clicked()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div> -->
                                <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; myFunction()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i
                                                class="fas fa-chevron-down tx-grey" [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class="Hm-height ht-100p" [zoom]="14" [latitude]="_StoreDetails.Latitude"
                                    [styles]="_HelperService.darkStyle" [longitude]="_StoreDetails.Longitude">
                                    <agm-marker [latitude]="_StoreDetails.Latitude"
                                        [longitude]="_StoreDetails.Longitude"></agm-marker>
                                </agm-map>
                                <!-- <div style="z-index: 3 !important;" class="Hm-height   ht-100p" leaflet 
                                    [leafletOptions]="_HelperService.lefletoptions"
                                    [leafletLayers]="_HelperService.layers"
                                    (leafletMapReady)="_HelperService.onMapReady($event,false)">
                                </div> -->
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 Hm-media768">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">
                                            Contact Person
                                        </label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="tx-color-03"><i data-feather="smartphone"></i>
                                                <a *ngIf="_StoreDetails.ContactPerson">
                                                    {{_StoreDetails.ContactNumber ||"--" }}
                                                </a>
                                            </li>
                                            <li class="tx-color-03 Word-break">
                                                <i data-feather="mail"></i>
                                                <a *ngIf="_StoreDetails.ContactPerson">
                                                    {{_StoreDetails.ContactPerson.EmailAddress}}
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-lg-6 Hm-media768">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">
                                            Relationship Manager
                                        </label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i>
                                                <span *ngIf="_StoreDetails.Rm" class="tx-color-03">
                                                    {{_StoreDetails.Rm.Name}}
                                                </span>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i>
                                                <a *ngIf="_StoreDetails.Rm" class="tx-color-03">
                                                    {{_StoreDetails.Rm.MobileNumber}}
                                                </a>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="mail"></i>
                                                <a *ngIf="_StoreDetails.Rm">{{_StoreDetails.Rm.EmailAddress}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-lg-12 Hm-media768">
                                        <div class="d-inline justify-content-between"
                                            *ngFor="let catagories of _StoreDetails['Categories']">
                                            <button type="button"
                                                class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">{{catagories.Name}}</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40   tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_StoreDetails.RewardPercentage}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_StoreDetails.Terminals}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminal</p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <!-- <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="clicked()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div> -->
                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; DisplayDiv()" class="btn  btn-link" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bd-b-0 pd-10 mt-3">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
        <div class="d-flex flex-wrap">
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Store.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="profile-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Store.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="profile" aria-selected="false">Transactions</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="contact-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Store.Terminals}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="contact" aria-selected="false">Terminals</a>
            </li>
        </div>

        <div class="row  d-flex no-gutters pd-r-10">
            <div class="col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class="  mg-r-10 order-1">
                    <input type="text" style="height: 30px;" autocomplete="off"
                        class="form-control tx-13 form-daterangepicker" name="daterangeInput" daterangepicker
                        [options]="_HelperService.AppConfig.DatePickerOptionsForToday"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label
                    class="cursor-pointer btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label
                    class="cursor-pointer btn btn-xs  pb-0 mb-0 tx-13  d-flex align-items-center {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label
                    class="cursor-pointer btn pb-0 mb-0 btn-xs tx-13  active mr-auto  d-flex align-items-center {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>
        </div>


    </ul>
    <router-outlet></router-outlet>
</div>


<!-- <div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;">
    <div class="off-canvas-content">
        <div class="off-canvas-header text-danger text-right">
            <a (click)="unclick()"><i data-feather="x-circle" class="wd-25 ht-25"></i></a>
        </div>
        <div id="Form_EditUser_Content" class="off-canvas-body">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="card">
                    <div class="card-header bd-0">
                        <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Manage Account </h3>
                        <ul class="nav nav-line" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Business" role="tab"
                                    aria-controls="home" aria-selected="true">Business Info</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Address" role="tab"
                                    aria-controls="contact" aria-selected="false">Address details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body  p-lg pd-l-15">
                      <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
                          <div class="tab-pane fade show active" id="Business" role="tabpanel"
                              aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label>Store Name<span class="text-danger">*</span></label>
                                          <div class="controls">

                                              <input type="text"
                                                  placeholder="{{'System.Users.DisplayName' | translate }}"
                                                  name="DisplayName" maxlength="25" class="form-control"
                                                  [(ngModel)] = "_StoreDetails.DisplayName"
                                                  [formControl]="Form_EditUser.controls['DisplayName']"
                                                  [ngClass]="{'is-invalid':!Form_EditUser.controls['DisplayName'].valid && Form_EditUser.controls['DisplayName'].touched}">
                                          </div>
                                          <div class="text-xs text-muted _500"> </div>
                                          <label class="text-danger" for="DisplayName"
                                              *ngIf="Form_EditUser.controls['DisplayName'].hasError('required') && Form_EditUser.controls['DisplayName'].touched">
                                              enter store name
                                          </label>
                                          <label class="text-danger" for="DisplayName"
                                              *ngIf="Form_EditUser.controls['DisplayName'].hasError('minlength') || Form_EditUser.controls['DisplayName'].hasError('maxlength')">business
                                              store name must be between 2 - 25 characters</label>
                                      </div>
                                      <div class="form-group">
                                          <label>Store Nick Name<span class="text-danger">*</span> </label>
                                          <div class="controls">
                                              <input type="text" name="Name" maxlength="256" class="form-control"
                                                  [formControl]="Form_EditUser.controls['Name']"
                                                  [(ngModel)] = "_StoreDetails.DisplayName"
                                                  [ngClass]="{'is-invalid':!Form_EditUser.controls['Name'].valid && Form_EditUser.controls['Name'].touched}">
                                          </div>
                                          <label class="text-danger" for="Name"
                                              *ngIf="Form_EditUser.controls['Name'].hasError('required') && Form_EditUser.controls['Name'].touched">
                                              enter store nick name
                                          </label>
                                          <label class="text-danger" for="DisplayName"
                                              *ngIf="Form_EditUser.controls['Name'].hasError('minlength') || Form_EditUser.controls['Name'].hasError('maxlength')">parent
                                              enter store nick name must be between 4 - 256 characters</label>

                                      </div>

                                      <div class="form-group">
                                          <label>Phone Number<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <div class="input-group">
                                                  <div class="input-group-prepend">
                                                      <span class="input-group-text">+234</span>
                                                  </div>
                                                  <input type="text" name="ContactNumber" minlength="10"
                                                      maxlength="18" class="form-control contact-textbox-height"
                                                      (keypress)="_HelperService.PreventText($event)"
                                                      [(ngModel)] = "_StoreDetails.ContactNumber"
                                                      [formControl]="Form_EditUser.controls['ContactNumber']"
                                                      [ngClass]="{'is-invalid':!Form_EditUser.controls['ContactNumber'].valid && Form_EditUser.controls['ContactNumber'].touched}">
                                              </div>
                                          </div>
                                          <label class="text-danger" for="ContactNumber"
                                              *ngIf="Form_EditUser.controls['ContactNumber'].hasError('required') && Form_EditUser.controls['ContactNumber'].touched">enter
                                              enter phone number</label>
                                          <label class="text-danger" for="ContactNumber"
                                              *ngIf="Form_EditUser.controls['ContactNumber'].hasError('minlength') || Form_EditUser.controls['ContactNumber'].hasError('maxlength')">
                                              pnone number must be between 10 to 18 numbers
                                          </label>

                                      </div>
                                      <div class="form-group">
                                          <label>Email ID<span class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" name="EmailAddress" maxlength="256"
                                                  class="form-control"
                                                  [formControl]="Form_EditUser.controls['EmailAddress']"
                                                  [(ngModel)] = "_StoreDetails.EmailAddress"
                                                  [ngClass]="{'is-invalid':!Form_EditUser.controls['EmailAddress'].valid && Form_EditUser.controls['EmailAddress'].touched}">
                                          </div>
                                          <label class="text-danger" for="EmailAddress"
                                              *ngIf="Form_EditUser.controls['EmailAddress'].hasError('required') && Form_EditUser.controls['EmailAddress'].touched">
                                              enter email address
                                          </label>

                                          <label class="text-danger" for="EmailAddress"
                                              *ngIf="Form_EditUser.controls['EmailAddress'].hasError('email') && Form_EditUser.controls['EmailAddress'].touched">
                                              enter valid email address
                                          </label>

                                      </div>

                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                                  <label>{{ 'System.Menu.Branch' | translate }}<span
                                                          class="text-danger">*</span>
                                                  </label>
                                                  <select2 name="S2GetBranches" class="full-width"
                                                      [options]="GetBranches_Option"
                                                      (valueChanged)="GetBranches_ListChange($event)"></select2>

                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                                  <label>{{ 'System.Users.ReportingManager' | translate }}<span
                                                          class="text-danger">*</span>
                                                  </label>
                                                  <select2 name="S2GetManagers" class="full-width"
                                                      [options]="GetMangers_Option"
                                                      (valueChanged)="GetMangers_ListChange($event)"></select2>
                                                  
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="contact-tab">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label class="tx-roboto tx-12 text-dark">Locate Address<span
                                                  class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <input type="text" name="GAddress" maxlength="256" class="form-control"
                                                  ngx-google-places-autocomplete #placesStore="ngx-places"
                                                  (onAddressChange)="Form_EditUser_AddressChange($event)">
                                          </div>
                                          <label class="text-warn">You can click on map to mark exact location of
                                              store </label>
                                      </div>
                                      <agm-map style="height:255px;" [zoom]="12" [latitude]="Form_EditUser_Latitude"
                                          [longitude]="Form_EditUser_Longitude"
                                          (mapClick)="Form_EditUser_PlaceMarkerClick($event)"
                                          [streetViewControl]="false">
                                          <agm-marker [latitude]="Form_EditUser_Latitude"
                                              [longitude]="Form_EditUser_Longitude">
                                          </agm-marker>
                                      </agm-map>

                                      <div class="form-group mt-3">
                                          <label class="tx-roboto tx-12 text-dark">Detailed Address <span
                                                  class="text-muted"> (Street
                                                  Name, Building Name, Floor Number Etc) </span> <span
                                                  class="text-danger">*</span>
                                          </label>
                                          <div class="controls">
                                              <textarea name="Address" maxlength="256" class="form-control" rows="3"
                                                  [formControl]="Form_EditUser.controls['Address']"
                                                  [(ngModel)] = "_StoreDetails.Address"
                                                  [ngClass]="{'is-invalid':!Form_EditUser.controls['Address'].valid && Form_EditUser.controls['Address'].touched}"></textarea>
                                          </div>
                                          <label class="text-danger" for="Address"
                                              *ngIf="Form_EditUser.controls['Address'].hasError('required') && Form_EditUser.controls['Address'].touched">{{
                                                                    'System.Users.Address_ER_Required' | translate }}</label>
                                          <label class="text-danger" for="Address"
                                              *ngIf="Form_EditUser.controls['Address'].hasError('minlength') || Form_EditUser.controls['Address'].hasError('maxlength')">{{
                                                                    'System.Users.Address_ER_Length' | translate }}</label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                    <div class="card-footer d-flex justify-content-between pd-l-35">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"
                          (click)="Form_EditUser_Block()">
                          {{ "Common.Block" | translate }}
                      </button>
                      <button type="submit" class="btn btn-primary"
                          (click)="Form_EditUser.value.OperationType = 'new'"
                          [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                          <span *ngIf="!_HelperService.IsFormProcessing">
                              {{ "Common.Save" | translate }}
                          </span>
                          <span *ngIf="_HelperService.IsFormProcessing">
                              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                              {{ "Common.PleaseWait" | translate }}...
                          </span>
                      </button>





                  </div>
                </div>
            </form>

        </div>
    </div>
</div> -->