<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
        <li class="breadcrumb-items text-small">Merchant Management</li>
        <li class="breadcrumb-items active" aria-current="page">POS Terminals</li>
    </ol>
</nav>
<div class="card shadow-none">

    <div [className]="_HelperService._Assets.Box.header">
        <div [className]="_HelperService._Assets.Box.headerTitle"> {{TerminalsList_Config.Title}}
            <span class="text-muted tx-normal">
                ({{TerminalsList_Config.TotalRecords}})
            </span>
        </div>
        <!-- <div [className]="_HelperService._Assets.Box.headerTitleRight">

            <div class="d-flex flex-grow-1">
                <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                    (click)="Delete_Filter()">
                    <i data-feather="minus-circle"></i> </button>

                <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                    <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option"
                        class="wd-30 select2" [data]="_HelperService.Active_FilterOptions"
                        [value]="_HelperService.Active_FilterOptions[0]"
                        (valueChanged)="Active_FilterValueChanged( $event )">
                    </select2>
                </div>
                <button type="button" class=" btn btn-outline-success tx-12 bd-l-0  rounded-0 bd-gray-200 btn-icon"
                    (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

            </div>
        </div> -->
    </div>



    <div class="pd-10">

        <!-- <ul class="nav nav-line" id="myTab5" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="terminals-tab1" data-toggle="tab" href="#tabterminals" role="tab"
                    aria-controls="home" aria-selected="true">Terminals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="location-tab2" data-toggle="tab" href="#tablocation" role="tab"
                    aria-controls="home" aria-selected="false">Location</a>
            </li>

        </ul> -->

        <div class="d-sm-flex justify-content-between px-0 ">
            <div class="media mg-t-5">
                <div class="media cursor-pointer" type="button" (click)="PTSPList_TypeChange(5)">
                    <h4
                        class="wd-50 wd-md-50 ht-50 ht-md-50 bg-primary tx-white d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </h4>
                    <div class="media-body ml-2">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">All</h6>
                        <div class="db-title-count-xl tx-20 mt-2">
                            {{_AOverview.TerminalStatus.Total | number: "1.0-1" || "--"}}
                        </div>
                    </div>
                </div>
            </div>
            <div type="button" class="media mg-t-20 mg-sm-t-5 mg-sm-l-15 mg-md-l-40" (click)="PTSPList_TypeChange(1)">
                <div class="media cursor-pointer">
                    <h4
                        class="wd-50 wd-md-50 ht-50 ht-md-50 bg-success tx-white d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </h4>
                    <div class="media-body ml-2">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">Active</h6>
                        <div class="db-title-count-xl tx-20 mt-2">
                            {{ _AOverview.TerminalStatus.Active || "0"}}
                        </div>
                    </div>
                </div>
            </div>
            <div type="button" class="media mg-t-20 mg-sm-t-5 mg-sm-l-15 mg-md-l-40" (click)="PTSPList_TypeChange(2)">
                <div class="media cursor-pointer">
                    <h4
                        class="wd-50 wd-md-50 ht-50 ht-md-50 bg-warning tx-white d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </h4>
                    <div class="media-body ml-2">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">Idle</h6>
                        <div class="db-title-count-xl tx-20 mt-2">
                            {{ _AOverview.TerminalStatus.Idle || "0"}}
                        </div>
                    </div>
                </div>
            </div>
            <div type="button" class="media mg-t-20 mg-sm-t-5 mg-sm-l-15 mg-md-l-40" (click)="PTSPList_TypeChange(3)">
                <div class="media cursor-pointer">
                    <h4
                        class="wd-50 wd-md-50 ht-50 ht-md-50 bg-danger tx-white d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </h4>
                    <div class="media-body ml-2">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">Dead</h6>
                        <div class="db-title-count-xl tx-20 mt-2">
                            {{ _AOverview.TerminalStatus.Dead || "0" }}
                        </div>
                    </div>

                </div>
            </div>
            <div type="button" class="media mg-t-20 mg-sm-t-5 mg-sm-l-15 mg-md-l-40" (click)="PTSPList_TypeChange(4)">
                <div class="media cursor-pointer">
                    <h4
                        class="wd-50 wd-md-50 ht-50 ht-md-50 bg-secondary tx-white d-flex align-items-center justify-content-center rounded">
                        <i data-feather="smartphone"></i>
                    </h4>
                    <div class="media-body ml-2">
                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1  tx-semibold tx-nowrap mg-md-b-2">
                            InActive
                        </h6>
                        <div class="db-title-count-xl tx-20 mt-2">
                            {{ _AOverview.TerminalStatus.Inactive || "0" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content " id="myTabContent5">
        <div class="tab-pane fade show active" id="tabterminals" role="tabpanel" aria-labelledby="terminals-tab1">
            <div class="">
                <div class="card">
                    <!-- <hr> -->
                    <div class="box-header px-3 pd-t-15 pd-b-10   d-flex align-items-center justify-content-between">
                        <div class="form-inline ">
                            <div class="input-group input-group-sm mr-3">
                                <input type="text" class="form-control" [value]="TerminalsList_Config.SearchParameter"
                                    maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                                    (keyup)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-light" type="button"
                                        (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                                            data-feather="search" class="tx-grey"></i> </button>
                                </div>
                            </div>


                        </div>

                        <div class="d-flex ml-auto">
                            <button type="button"
                                class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                                [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
                                <i data-feather="minus-circle"></i> </button>

                            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option"
                                    class="wd-30 select2" [data]="_HelperService.Active_FilterOptions"
                                    [value]="_HelperService.Active_FilterOptions[0]"
                                    (valueChanged)="Active_FilterValueChanged( $event )">
                                </select2>
                            </div>
                            <button type="button"
                                class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                                [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
                                _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                                (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

                        </div>

                        <nav class="nav nav-with-icon tx-20">
                            <div class="dropdown dropleft">
                                <a href="" class="nav-link mr-2" id="TerminalsList_sdropdown" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left"
                                        class="tx-20 tx-grey"></i> </a>
                                <div class="dropdown-menu tx-13">
                                    <form class="wd-250 pd-15">
                                        <h6
                                            class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                            Sort
                                            <div class="float-right tx-20"
                                                [hidden]="TerminalsList_Config.Sort.SortOrder == 'asc'"
                                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                <i class="fas fa-sort-alpha-down-alt"></i>
                                            </div>
                                            <div class="float-right tx-20"
                                                [hidden]="TerminalsList_Config.Sort.SortOrder == 'desc'"
                                                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                <i class="fas fa-sort-alpha-up-alt"></i>
                                            </div>
                                        </h6>
                                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }}"
                                            *ngFor="let TItem of TerminalsList_Config.Sort.SortOptions"
                                            (click)="TerminalsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                                            {{TItem.Name}}
                                        </a>
                                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                            Reset</button>
                                        <button type="button" class="btn btn-primary btn-sm mg-t-20"
                                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                                    </form>
                                </div>
                            </div>
                            <div class="dropdown dropleft">
                                <a href="" class="nav-link" id="TerminalsList_fdropdown" data-toggle="dropdown"
                                    (click)="_HelperService.StopClickPropogation()" aria-haspopup="true"
                                    aria-expanded="false"> <i data-feather="filter" class="tx-grey"></i> </a>
                                <div class="dropdown-menu tx-13">
                                    <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
                                        <h6
                                            class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                            Filters
                                        </h6>
                                        <div>
                                            <div class="form-group">
                                                <label>Added On</label>
                                                <input type="text" class="form-control  form-daterangepicker"
                                                    name="daterangeInput" daterangepicker
                                                    [options]="_HelperService.AppConfig.DateRangeOptions"
                                                    (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                                    [data]="TerminalsList_Config.StatusOptions"
                                                    (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                                </select2>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <label>Merchant</label>
                                                <select2 [options]="TerminalsList_Filter_Merchant_Option"
                                                    class="wd-100p"
                                                    (valueChanged)="TerminalsList_Filter_Merchants_Change($event)">
                                                </select2>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <label>Store</label>
                                                <select2 [options]="TerminalsList_Filter_Store_Option" class="wd-100p"
                                                    (valueChanged)="TerminalsList_Filter_Stores_Change($event)">
                                                </select2>
                                            </div>
                                        </div>
                                        <div>
                                            <label for=""> Acquirer</label>
                                            <div class="form-group wd-100p">
                                                <select2 [options]="TerminalsList_Filter_Bank_Option"
                                                    (valueChanged)="TerminalsList_Filter_Banks_Change($event)">
                                                </select2>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-light btn-sm mr-2"
                                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                            Reset</button>
                                        <button type="button" class="btn btn-primary btn-sm "
                                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>

                                    </form>
                                </div>
                            </div>
                            <a class="nav-link ml-2 cursor-pointer"
                                (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                                <i data-feather="refresh-cw" class="tx-grey"></i> </a>
                        </nav>
                    </div>

                    <div class="pt-0 pd-l-15 pd-b-15">
                        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                            [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
                            (click)="RemoveFilterComponent('Status')">
                            {{_HelperService.FilterSnap.StatusName}}
                            <span
                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                    class="fas fa-times"></i> </span>
                        </div>
                        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                            [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
                            (click)="RemoveFilterComponent('Sort')">
                            <span>
                                {{_HelperService.FilterSnap.Sort.SortColumn + "--" +
                                _HelperService.FilterSnap.Sort.SortOrder}}</span>
                            <span
                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                    class="fas fa-times"></i> </span>
                        </div>
                        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                            [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
                            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
                            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
                            <span
                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                    class="fas fa-times"></i> </span>
                        </div>
                        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                            *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
                            (click)="RemoveFilterComponent('Other',i)">
                            {{TItem.data[0].DisplayName}}
                            <span
                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                    class="fas fa-times"></i> </span>
                        </div>

                        <span class="badge badge-pill badge-primary"
                            *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>
                    </div>

                    <div class="card-body p-0">
                        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                            <thead>
                                <tr>
                                    <th class="td-status" *ngIf="ColoumConfig[0].Value">
                                        Status
                                    </th>
                                    <th *ngIf="ColoumConfig[1].Value">
                                        <span class="">Terminal ID</span>
                                    </th>
                                    <th *ngIf="ColoumConfig[2].Value">
                                        <span class="">Acquirer</span>
                                    </th>
                                    <th *ngIf="ColoumConfig[3].Value">
                                        <span class="">Store </span>
                                    </th>
                                    <th *ngIf="ColoumConfig[4].Value">
                                        <span class="">Contact</span>
                                    </th>
                                    <th *ngIf="ColoumConfig[5].Value">
                                        <span class="">Last Tr.</span>
                                    </th>
                                    <th *ngIf="ColoumConfig[6].Value">
                                        <span class="">Added On</span>
                                    </th>

                                    <th class="d-flex">
                                        <span class="btn cursor-pointer text-primary p-0"
                                            style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip"
                                            title="Edit Your Column" (click)="EditColumnConfig()">
                                            <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cursor-pointer" (click)="TerminalsList_RowSelected(TItem)"
                                    *ngFor="let TItem of TerminalsList_Config.Data
                                                                                    | paginate: { id: 'MerchantsList',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,
                                                                                    totalItems: TerminalsList_Config.TotalRecords }">
                                    <td *ngIf="ColoumConfig[0].Value">
                                        <div class="text-xs _500 ">
                                            <span *ngIf="TItem.StatusCode == 'default.active'">
                                                <span
                                                    class="text-lowercase badge badge-success rounded-50 badge-pill text-capitalize">{{
                                                    TItem.StatusName || "--" }}</span>
                                            </span>
                                            <span *ngIf="TItem.StatusCode == 'default.inactive'">
                                                <span
                                                    class="text-lowercase badge badge-warning rounded-50 badge-pill text-capitalize">{{
                                                    TItem.StatusName || "--" }}</span>
                                            </span>
                                            <span *ngIf="TItem.StatusCode == 'default.blocked'">
                                                <span
                                                    class="text-lowercase badge badge-danger rounded-50 badge-pill text-capitalize">{{
                                                    TItem.StatusName || "--" }}</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td *ngIf="ColoumConfig[1].Value">
                                        <div>
                                            <span class="tx-14 tx-semibold">{{TItem.DisplayName || "--"}}</span>
                                        </div>
                                    </td>
                                    <td *ngIf="ColoumConfig[2].Value">
                                        <div>
                                            <span class="tx-14">{{TItem.AcquirerDisplayName || "--"}}</span>
                                        </div>
                                    </td>
                                    <td *ngIf="ColoumConfig[3].Value">
                                        <div>
                                            <span class="tx-14 text-primary">{{TItem.StoreDisplayName || "--"}}</span>
                                        </div>
                                        <div>
                                            <span class="text-muted tx-12 WordWrap">
                                                {{TItem.Address | truncateText:40 || "--"}} </span>
                                        </div>
                                    </td>
                                    <td *ngIf="ColoumConfig[4].Value">
                                        <div>
                                            <span class="tx-14">{{TItem.StoreMobileNumber || "--"}}</span>
                                        </div>
                                    </td>
                                    <td *ngIf="ColoumConfig[5].Value">
                                        <div>
                                            <span class="text-muted tx-14">{{TItem.LastTransactionDate || "--"}}</span>
                                        </div>
                                    </td>
                                    <td *ngIf="ColoumConfig[6].Value">
                                        <div>
                                            <span class="text-muted tx-14">{{TItem.CreateDateD || "--"}}</span>
                                        </div>
                                        <div>
                                            <span class="text-muted tx-14">{{TItem.CreateDateT || "--"}}</span>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="  p-4">
                            <span class="mr-1">
                                {{ 'Common.Showing' | translate }}
                                <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                                    {{TerminalsList_Config.ShowingEnd}}
                                </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
                            </span>
                            |
                            <span class="ml-1">
                                {{ 'Common.Show' | translate }}
                                <select class=" w-64 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
                                    (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                                    <option [ngValue]="TItem"
                                        *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                        {{TItem}}
                                    </option>
                                </select>
                            </span>
                            <span class="float-right bold">
                                <pagination-controls id="MerchantsList"
                                    (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                                    nextLabel="{{ '' | translate }}" previousLabel="{{ '' | translate }}">
                                </pagination-controls>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="tablocation" role="tabpanel" aria-labelledby="location-tab2">

        </div>

    </div>

</div>

<div class="modal fade" id="EditCol" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Column</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngFor="let Col of TempColoumConfig">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
                        <label class="form-check-label" for="">
                            {{Col.Name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="SaveColumnConfig()">Save</button>
            </div>
        </div>
    </div>
</div>