<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
            <div class="box">
                <div class="box-header b-b b-2x">
                    <h3 class="text-warn">Customer Information</h3><small class="text-gray">Provider customer
                        information for
                        account setup </small>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.Users.DisplayName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="25" class="form-control"
                                        [formControl]="Form_AddUser.controls['DisplayName']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['DisplayName'].valid && Form_AddUser.controls['DisplayName'].touched}">
                                </div>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_AddUser.controls['DisplayName'].hasError('required') && Form_AddUser.controls['DisplayName'].touched">{{
                                    'System.Users.DisplayName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_AddUser.controls['DisplayName'].hasError('minlength') || Form_AddUser.controls['DisplayName'].hasError('maxlength')">{{
                                    'System.Users.DisplayName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.Name' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Name" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['Name']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                </div>
                                <label class="text-danger" for="Name"
                                    *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">{{
                                    'System.Users.Name_ER_Required' | translate }}</label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">{{
                                    'System.Users.Name_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.Users.FirstName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="FirstName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddUser.controls['FirstName']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                </div>
                                <label class="text-danger" for="FirstName"
                                    *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">{{
                                    'System.Users.FirstName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="FirstName"
                                    *ngIf="Form_AddUser.controls['FirstName'].hasError('minlength') || Form_AddUser.controls['FirstName'].hasError('maxlength')">{{
                                    'System.Users.FirstName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.LastName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="LastName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddUser.controls['LastName']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['LastName'].valid && Form_AddUser.controls['LastName'].touched}">
                                </div>
                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddUser.controls['LastName'].hasError('required') && Form_AddUser.controls['LastName'].touched">{{
                                    'System.Users.LastName_ER_Required' | translate }}</label>
                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddUser.controls['LastName'].hasError('minlength') || Form_AddUser.controls['LastName'].hasError('maxlength')">{{
                                    'System.Users.LastName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.Users.MobileNumber' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['MobileNumber']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                </div>
                                <label class="text-danger" for="MobileNumber"
                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">{{
                                    'System.Users.MobileNumber_ER_Required' | translate }}</label>
                                <label class="text-danger" for="MobileNumber"
                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">{{
                                    'System.Users.MobileNumber_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.Users.ContactNumber' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="ContactNumber" minlength="10" maxlength="18"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['ContactNumber']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ContactNumber'].valid && Form_AddUser.controls['ContactNumber'].touched}">
                                </div>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="Form_AddUser.controls['ContactNumber'].hasError('required') && Form_AddUser.controls['ContactNumber'].touched">{{
                                    'System.Users.ContactNumber_ER_Required' | translate }}</label>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="Form_AddUser.controls['ContactNumber'].hasError('minlength') || Form_AddUser.controls['ContactNumber'].hasError('maxlength')">{{
                                    'System.Users.ContactNumber_ER_Length' | translate }}</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['EmailAddress']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{
                                    'System.Users.EmailAddress_ER_Required' | translate }}</label>

                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{
                                    'System.Users.EmailAddress_ER_Invalid' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.SecondaryEmailAddress' | translate }}<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="SecondaryEmailAddress" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['SecondaryEmailAddress']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['SecondaryEmailAddress'].valid && Form_AddUser.controls['SecondaryEmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="SecondaryEmailAddress"
                                    *ngIf="Form_AddUser.controls['SecondaryEmailAddress'].hasError('required') && Form_AddUser.controls['SecondaryEmailAddress'].touched">{{
                                        'System.AddAcquirers.SecondaryEmailAddress_ER_Required' | translate }}</label>
                                <label class="text-danger" for="SecondaryEmailAddress"
                                    *ngIf="Form_AddUser.controls['SecondaryEmailAddress'].hasError('email') && Form_AddUser.controls['SecondaryEmailAddress'].touched">{{
                                        'System.AddAcquirers.SecondaryEmailAddress_ER_Invalid' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'System.Users.WebsiteUrl' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="WebsiteUrl" maxlength="1024" class="form-control"
                                        [formControl]="Form_AddUser.controls['WebsiteUrl']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['WebsiteUrl'].valid && Form_AddUser.controls['WebsiteUrl'].touched}">
                                </div>
                                <label class="text-danger" for="WebsiteUrl"
                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('required') && Form_AddUser.controls['WebsiteUrl'].touched">{{
                                    'System.Users.WebsiteUrl_ER_Required' | translate }}</label>
                                <label class="text-danger" for="WebsiteUrl"
                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('pattern') && Form_AddUser.controls['WebsiteUrl'].touched">{{
                                    'System.Users.WebsiteUrl_ER_Invalid' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'System.Users.Description' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Description" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['Description']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}">
                                </div>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">{{
                                    'System.Users.Description_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Description"
                                    *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">{{
                                    'System.Users.Description_ER_Length' | translate }}</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'System.Users.LocateAddress' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls" *ngIf="!_HelperService.ToggleField">
                                    <input type="text" name="GAddress" maxlength="256" class="form-control"
                                        ngx-google-places-autocomplete #places="ngx-places"
                                        (onAddressChange)="Form_AddUser_AddressChange($event)">
                                </div>
                            </div>
                            <label>{{'System.Users.LocationMap' | translate }}<span class="text-danger">*</span>
                            </label>
                            <div class="mb-3" *ngIf="!_HelperService.ToggleField">
                                <agm-map [zoom]=" 12" [latitude]="Form_AddUser_Latitude"
                                    [longitude]="Form_AddUser_Longitude" [styles]="_HelperService.darkStyle"
                                    (mapClick)="Form_AddUser_PlaceMarkerClick($event)">
                                    <agm-marker [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude">
                                    </agm-marker>
                                </agm-map>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'System.Users.Address' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input [(ngModel)]="Form_AddUser_Address" type="text" name="Address" maxlength="128"
                                        class="form-control" [formControl]="Form_AddUser.controls['Address']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                </div>
                                <label class="text-danger" for="Address"
                                    *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">{{
                                    'System.Users.Address_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Address"
                                    *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">{{
                                    'System.Users.Address_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.Latitude' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input [(ngModel)]="Form_AddUser_Latitude" type="text" name="Latitude"
                                        maxlength="20" class="form-control"
                                        [formControl]="Form_AddUser.controls['Latitude']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Latitude'].valid && Form_AddUser.controls['Latitude'].touched}">
                                </div>
                                <label class="text-danger" for="Latitude"
                                    *ngIf="Form_AddUser.controls['Latitude'].hasError('required') && Form_AddUser.controls['Latitude'].touched">{{
                                    'System.Users.Latitude_ER_Required' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.Longitude' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input [(ngModel)]="Form_AddUser_Longitude" type="text" name="Longitude"
                                        maxlength="20" class="form-control"
                                        [formControl]="Form_AddUser.controls['Longitude']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Longitude'].valid && Form_AddUser.controls['Longitude'].touched}">
                                </div>
                                <label class="text-danger" for="Longitude"
                                    *ngIf="Form_AddUser.controls['Longitude'].hasError('required') && Form_AddUser.controls['Longitude'].touched">{{
                                    'System.Users.Longitude_ER_Required' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div> <label>{{ 'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Male"
                                    [formControl]="Form_AddUser.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Male' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Female"
                                    [formControl]="Form_AddUser.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Female' | translate }}</label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                <label>{{ 'System.Users.Role' | translate }}<span class="text-danger">*</span>
                                </label>
                                <select2 name="S2GetRoles" class="full-width" [options]="GetRoles_Option"
                                    (valueChanged)="GetRoles_ListChange($event)"></select2>
                                <label class="text-danger" for="RoleKey"
                                    *ngIf="Form_AddUser.controls['RoleKey'].hasError('required') && Form_AddUser.controls['RoleKey'].touched">{{
                                    'System.Users.EmailAddress_ER_Required' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.Users.UserName' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="UserName" maxlength="256" class="form-control"
                                        [formControl]="Form_AddUser.controls['UserName']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['UserName'].valid && Form_AddUser.controls['UserName'].touched}">
                                </div>
                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_AddUser.controls['UserName'].hasError('required') && Form_AddUser.controls['UserName'].touched">{{
                                    'System.Users.UserName_ER_Required' | translate }}</label>

                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_AddUser.controls['UserName'].hasError('minlength') || Form_AddUser.controls['UserName'].hasError('maxlength')">{{
                                    'System.Users.UserName_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'System.Users.Password' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" name="Password" maxlength="20"
                                        [(ngModel)]="_HelperService.RandomPassword" class="form-control"
                                        [formControl]="Form_AddUser.controls['Password']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">

                                    <div class="input-group-append"><button class="btn white" type="button"
                                            (click)="_HelperService.GeneratePassoword()"><i
                                                class="{{ 'Common.RefreshI' | translate }}"></i></button></div>
                                </div>

                                <label class="text-danger" for="Password"
                                    *ngIf="Form_AddUser.controls['Password'].hasError('required') && Form_AddUser.controls['Password'].touched">{{
                                    'System.Users.Password_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Password"
                                    *ngIf="Form_AddUser.controls['Password'].hasError('pattern') ||Form_AddUser.controls['Password'].hasError('minlength') || Form_AddUser.controls['Password'].hasError('maxlength')">{{
                                    'System.Users.Password_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'System.Users.AccessPin' | translate }}<span class="text-danger">*</span>
                                </label>
                                <div class="input-group"> <input type="text" name="AccessPin" minlength="4"
                                        maxlength="4" class="form-control"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['AccessPin']"
                                        [(ngModel)]="_HelperService.RandomNumber"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['AccessPin'].valid && Form_AddUser.controls['AccessPin'].touched}">
                                    <div class="input-group-append"><button class="btn white" type="button"
                                            (click)="_HelperService.GetRandomNumber()"><i
                                                class="{{ 'Common.RefreshI' | translate }}"></i></button></div>
                                </div>


                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_AddUser.controls['AccessPin'].hasError('required') && Form_AddUser.controls['AccessPin'].touched">{{
                                    'System.Users.AccessPin_ER_Required' | translate }}</label>
                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_AddUser.controls['AccessPin'].hasError('pattern') ||Form_AddUser.controls['AccessPin'].hasError('minlength') || Form_AddUser.controls['AccessPin'].hasError('maxlength')">{{
                                    'System.Users.AccessPin_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div> <label>{{ 'System.Users.AccountStatus' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>

                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Active"
                                    [formControl]="Form_AddUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Active' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Inactive"
                                    [formControl]="Form_AddUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Inactive' | translate }}</label></div>
                    </div>
                    <div class="mb-4">
                        <label>{{ 'System.Users.Icon' | translate }}
                            <span class="small muted">
                                -
                                {{_HelperService._Icon_Cropper_Data.Width}}x{{_HelperService._Icon_Cropper_Data.Height}}
                            </span>
                        </label>
                        <div class="mb-3">
                            <input type="file" (change)="_HelperService.Icon_Change($event)" />
                        </div>
                        <div *ngIf="_HelperService._Icon_Cropper_Image != ''">
                            <span class="float-right">
                                <button type="button" class="btn btn-sm btn-success"
                                    (click)="_HelperService.Icon_Crop_Loaded()">
                                    <i class="fa fa-fw  fa-edit "></i> {{ 'Common.EditPicture' | translate }}
                                </button>
                                <button type="button" class="btn btn-sm btn-warning"
                                    (click)="_HelperService.Icon_Crop_Clear()">
                                    <i class="fa fa-fw  fa-sync "></i> {{ 'Common.ClearPicture' | translate }}
                                </button>
                            </span>
                            <img [src]="_HelperService._Icon_Cropper_Image" class="avatar w-96 b-a" />
                        </div>
                    </div>
                    <div class="mb-4">
                        <label>{{ 'System.Users.Poster' | translate }}
                            <span class="small muted">
                                -
                                {{_HelperService._Poster_Cropper_Data.Width}}x{{_HelperService._Poster_Cropper_Data.Height}}
                            </span>

                        </label>
                        <div class="mb-3">
                            <input type="file" #Poster_Selector (change)="_HelperService.Poster_Change($event)" />
                        </div>

                        <div *ngIf="_HelperService._Poster_Cropper_Image != ''">
                            <span class="float-right">
                                <button type="button" class="btn btn-sm btn-success"
                                    (click)="_HelperService.Poster_Crop_Loaded()">
                                    <i class="fa fa-fw  fa-edit "></i> {{ 'Common.EditPicture' | translate }}
                                </button>
                                <button type="button" class="btn btn-sm btn-warning"
                                    (click)="_HelperService.Poster_Crop_Clear()">
                                    <i class="fa fa-fw  fa-sync "></i> {{ 'Common.ClearPicture' | translate }}
                                </button>
                            </span>
                            <img [src]="_HelperService._Poster_Cropper_Image" style="max-width:200px" class="b-a" />
                        </div>
                    </div>
                </div>
                <div class="light p-3 text-right b-b b-t">
                    <button type="submit" class="btn btn-fw warn warn mr-2"
                        (click)="Form_AddUser.value.OperationType='new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Save' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                }}...
                        </span>
                    </button>
                    <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                        (click)="Form_AddUser.value.OperationType='close'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.SaveAndClose' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                }}...
                        </span>
                    </button>
                    <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                        (click)="Form_AddUser.value.OperationType='edit'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.SaveAndEdit' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                }}...
                        </span>
                    </button>
                    <button type="button" class="btn btn-outline   b-warning  text-warning mr-2"
                        (click)="Form_AddUser_Clear()">{{
                            'Common.Clear' |
                            translate }}</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Form_AddUser_Close()">{{
                            'Common.Close'
                            | translate }}</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">
    </div>
</div>





<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal " id="_Poster_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper *ngIf="_HelperService._Poster_Cropper_ChangedEvent"
                                [imageChangedEvent]="_HelperService._Poster_Cropper_ChangedEvent" [aspectRatio]="16/9"
                                format="_HelperService.AppConfig.Poster_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Poster_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Poster_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Poster_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Poster_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Poster_Cropped($event)"
                                (imageLoaded)="_HelperService.Poster_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Poster_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Poster_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Poster_Cropper_Image" class="b-a b-2x img-responsive"
                                    style="    width: 100% !important;" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Poster_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>