<div class="pt-3" >
    <div class="row mb-3">
        <div class="col-lg-9">
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 1 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange(1)">
                Today
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 2 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange(2)">
                Yesterday
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 3 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange(3)">
                This Week
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 4 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange(4)">
                Last Week
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 5 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange(5)">
                This Month
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 6 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange(6)">
                Last Month
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 7 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange(7)">
                All
            </button>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control dr-picker" name="daterangeInput" daterangepicker
                [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="UserAnalytics_DateChange($event)" />
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-lg-4">
                <div class="box p-3 bg-app text-white">
                    <div class="d-flex">Total Sale</div>
                    <div class="text-xs _500 ">Total invoice amount from cash, card sale & redeem
                    </div>
                    <div class="py-3 text-center text-lg ">
                            <span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._AccountOverview.PurchaseAmount | number:'1.2-2' ||"--"}}
                    </div>
                    <div class="d-flex mb-2">
                        <span class="flex">Store Visits </span>
                        <span> {{_HelperService._AccountOverview.Transactions | number:'1.0-1' ||"--"}}</span>
                    </div>
                    <div class="d-flex mb-2"><span class="flex ">New Customers</span>
                        <span>{{_HelperService._AccountOverview.AppUsers | number:'1.0-1' ||"--"}}</span>
                    </div>

                    <div class="d-flex"><span class="flex ">Repeating Customers</span>
                        <span>{{_HelperService._AppUsersOverview.RepeatingAppUsers | number:'1.0-1' ||"--"}}</span>
                    </div>

                    
                </div>
            </div>
            <div class="col-6 col-lg-4" *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled">
                    <div class="box p-3">
                        <div class=""><span class="text-warn">TUC+ Rewards</span>
                        
                        <!-- <span class="float-right text-xs">
                                {{_HelperService._RewardOverview.TUCPlusRewardTransactions | number:'1.0-1' ||"--"}} visits
                        </span> -->
                        </div>
                        <div class="text-xs _500 text-muted">Total rewards credited to users TUC+ Wallet    
                        </div>
                        <div class="py-3 text-center text-lg text-success"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.TUCPlusRewardAmount | number:'1.2-2' ||"--"}}
                        </div>
                        <!-- <div class="d-flex mb-2"><span class="flex text-muted">Sale </span>
                            <span><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.TUCPlusRewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                        </div> -->
                        <div class="d-flex mb-2 "><span class="flex text-muted">Conv. Charge </span>
                            <span class="text-danger _700"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.TUCPlusRewardChargeAmount | number:'1.2-2' ||"--"}}</span>
                        </div>

                        <div class="d-flex mb-2"><span class="flex text-muted">Claimed Rew. </span>
                            <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.TUCPlusRewardClaimedAmount | number:'1.2-2' ||"--"}}
                        </div>
                        
                        <div class="d-flex "><span class="flex text-muted">Unclaimed Rew.</span>
                            <span ><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._AccountOverview.TUCPlusBalance | number:'1.2-2' ||"--"}}</span>
                        </div>
                        <!-- <div class="d-flex"><span class="flex text-muted">Visits</span>
                            <span>{{_HelperService._RewardOverview.TUCPlusRewardTransactions | number:'1.0-1' ||"--"}}</span>
                        </div> -->
    
                    </div>
                </div>
                <div class="col-6 col-lg-4" *ngIf="!_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled">
                        <div class="box p-3">
                            <div class="d-flex"><span class="text-warn">Total rewards</span></div>
                            <div class="text-xs _500 text-muted">Total rewards credited to users TUC  Wallet
                                </div>
                            <div class="py-3 text-center text-lg text-dark"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.RewardAmount | number:'1.2-2' ||"--"}}
                            </div>
        
                            <div class="d-flex mb-2"><span class="flex text-muted">Sale </span>
                                <span><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.RewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                            </div>
                            <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                <span>{{_HelperService._RewardOverview.RewardTransactions | number:'1.0-1' ||"--"}}</span></div>
        
                        </div>
                    </div>
                <div class="col-6 col-lg-4">
                        <div class="box p-3">
                            <div class="d-flex"><span class="text-warn">Total Redeem</span></div>
                            <div class="text-xs _500 text-muted">Total amount redeemed from TUC Wallet</div>
                            <div class="py-3 text-center text-lg text-warning"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RedeemOverview.RedeemAmount | number:'1.2-2' ||"--"}}
                            </div>
                            <div class="d-flex mb-2"><span class="flex text-muted">Sale </span>
                                <span><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RedeemOverview.RedeemPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                            </div>
                            <div class="mb-4 d-flex pb-1"><span class="flex text-muted">Visits</span>
                                <span>{{_HelperService._RedeemOverview.RedeemTransactions | number:'1.0-1' ||"--"}}</span></div>
                        </div>
                    </div>
                        
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box ">
                    <div class="row no-gutters">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="box-header">
                                <h3 class="text-warn">Sale sources</h3>
                                <small class="text-gray">Transaction payment sources </small>
                            </div>
                            <div class="row no-gutters pb-3 pl-3 pr-3">
                                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4">
                                            <div *ngIf="_HelperService._RewardTypeOverview.RewardTypeData.length > 0">
                                                <canvas height="200" baseChart
                                                    [colors]="_HelperService._UserOverviewPlot.PieColors"
                                                    [data]="_HelperService._RewardTypeOverview.RewardTypeData"
                                                    [labels]="_HelperService._RewardTypeOverview.RewardTypeLabels"
                                                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                                                    [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                                                    [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                                                    [legend]="false"></canvas>
                                            </div>
                                        </div>
                                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4" *ngIf="!_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled">
                                            <div class="py-2  text-lg text-success"><span
                                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.RewardPurchaseAmount | number:'1.2-2' ||"--"}}
                                            </div>
                                            <div>
                                               Total Card & Cash Sale
                                            </div>
                                            <div class="text-xs text-muted mb-3">Total invoice amount through sale at store locations </div>
    
                                            <div class="text-left">
                                                <div class="d-flex mb-2"><span class="flex text-muted">Reward Amount
                                                    </span>
                                                    <span><span
                                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.RewardAmount | number:'1.2-2' ||"--"}}</span>
                                                </div>
                                                <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                                    <span> {{_HelperService._RewardOverview.RewardTransactions | number:'1.0-1' ||"--"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4" *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled">
                                                <div class="py-2  text-lg text-success"><span
                                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.TUCPlusRewardPurchaseAmount | number:'1.2-2' ||"--"}}
                                                </div>
                                                <div>
                                                        Total Card & Cash Sale
                                                </div>
                                                <div class="text-xs text-muted mb-3">Total Sale made through sale at store locations </div>
        
                                                <div class="text-left">
                                                    <div class="d-flex mb-2"><span class="flex text-muted">Reward Amount
                                                        </span>
                                                        <span><span
                                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardOverview.TUCPlusRewardAmount | number:'1.2-2' ||"--"}}</span>
                                                    </div>
                                                    <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                                        <span> {{_HelperService._RewardOverview.TUCPlusRewardTransactions | number:'1.0-1' ||"--"}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                          
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4">
                                    <div class="py-2  text-lg text-warn"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardTypeOverview.CardRewardPurchaseAmount  | number:'1.2-2' ||"--"}}
                                    </div>
                                    <div>
                                        Card Sale
                                    </div>
                                    <div class="text-xs text-muted mb-3">Card payment done at store location by
                                            customers </div>

                                    <div class="text-left">
                                        <div class="d-flex mb-2"><span class="flex text-muted">Reward Amount
                                            </span>
                                            <span><span
                                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardTypeOverview.CardRewardAmount | number:'1.2-2' ||"--"}}</span>
                                        </div>
                                        <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                            <span>{{_HelperService._RewardTypeOverview.CardRewardTransactions | number:'1.0-1' ||"--"}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4">
                                    <div class="py-2 text-lg text-info"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardTypeOverview.CashRewardPurchaseAmount  | number:'1.2-2' ||"--"}}
                                    </div>
                                    <div class="">
                                        Cash Sale</div>
                                    <div class="text-xs text-muted mb-3">Cash payment done at store location by
                                        customers
                                    </div>
                                    <div class="text-left">
                                        <div class="d-flex mb-2"><span class="flex text-muted">Reward Amount
                                            </span>
                                            <span><span
                                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._RewardTypeOverview.CashRewardAmount | number:'1.2-2' ||"--"}}</span>
                                        </div>
                                        <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                            <span>{{_HelperService._RewardTypeOverview.CashRewardTransactions | number:'1.0-1' ||"--"}}</span>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-12">
        <div class="box ">

            <div class="row no-gutters">

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div>
                        <div class="box-header">
                            <h3 class="text-warn">Card Sale Sources</h3>
                            <small>Sale done through credit or debit card summary</small>
                        </div>
                    </div>
                    <div class="row no-gutters p-3">
                        <div class="col-md-4">
                            <div style="height: 265px;overflow:auto;">
                                <div class="  mb-2"
                                    *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
                                    <div class="light p-2 w-100 r-2x">
                                        <div class="_500 pb-1">
                                            {{TItem.Name ||"--"}}
                                        </div>
                                        <div class="">
                                            <span class="text-success _500 text-sm"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            <span
                                                class="text-success _500 text-sm">{{TItem.Purchase | number:'1.2-2' ||"--"}}</span>
                                            <span class="text-muted text-xs _500"> SALE </span>
                                        </div>
                                        <div class="text-muted text-sm">
                                            card holders: <span class="text-dark">{{TItem.Users ||"--"}}</span>
                                            <span class="float-right"> tran. <span
                                                    class="text-dark">{{TItem.Transactions ||"--"}}</span>
                                            </span>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="pb-3"
                                *ngIf="_HelperService._RewardTypeOverview.AppUsersCardTypeDataUsers.length > 0">
                                <canvas height="210" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                                    [data]="_HelperService._RewardTypeOverview.AppUsersCardTypeDataUsers"
                                    [labels]="_HelperService._RewardTypeOverview.AppUsersCardTypeLabel"
                                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                                    [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                                    [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                                    [legend]="false"></canvas>
                            </div>
                            <div class="text-center">
                                <div class="text-warn">Customer Purchase by Card Type</div>
                                <div class="text-xs text-muted  pb-3">Customer who have purchased products with
                                    different card types
                                </div>
                            </div>
                            <!-- <div class="px-4 py-2">
                                <div class="d-flex mb-2"
                                    *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
                                    <span class="flex text-muted">{{TItem.Name ||"--"}}</span>
                                    <span>{{TItem.Users | number:'1.0-1' ||"--"}}</span>
                                </div>
                            </div> -->

                        </div>
                        <!-- <div class="col-md-6">

                            <div class="pb-3"
                                *ngIf="_HelperService._RewardTypeOverview.AppUsersCardTypeDataTransactions.length > 0">
                                <canvas height="200" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                                    [data]="_HelperService._RewardTypeOverview.AppUsersCardTypeDataTransactions"
                                    [labels]="_HelperService._RewardTypeOverview.AppUsersCardTypeLabel"
                                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                                    [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                                    [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                                    [legend]="false"></canvas>
                            </div>
                            <div class="text-center">
                                <div class="text-warn">Customers Card Use</div>
                                <div class="text-xs text-muted  pb-3">Number of times customer used payment card at
                                    store
                                    locations
                                </div>
                            </div>
                            <div class="px-4 py-2">
                                <div class="d-flex mb-2"
                                    *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
                                    <span class="flex text-muted">{{TItem.Name ||"--"}}</span>
                                    <span>{{TItem.Transactions | number:'1.0-1' ||"--"}}</span>
                                </div>
                            </div>

                        </div> -->
                        <div class="col-md-4">

                            <div class="pb-3"
                                *ngIf="_HelperService._RewardTypeOverview.AppUsersCardTypeDataPurchase.length > 0">
                                <canvas height="210" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                                    [data]="_HelperService._RewardTypeOverview.AppUsersCardTypeDataPurchase"
                                    [labels]="_HelperService._RewardTypeOverview.AppUsersCardTypeLabel"
                                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                                    [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                                    [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                                    [legend]="false"></canvas>
                            </div>
                            <div class="text-center">
                                <div class="text-warn">Customer Card purchase by Volume </div>
                                <div class="text-xs text-muted  pb-3">Volume of amount spent by customer using
                                    different credit/debit card type
                                </div>
                            </div>
                            <!-- <div class="px-4 py-2">
                                <div class="d-flex mb-2"
                                    *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
                                    <span class="flex text-muted">{{TItem.Name ||"--"}}</span>
                                    <span class="_500"> <span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                        {{TItem.Purchase | number:'1.0-1' ||"--"}}</span>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                   
                    <div style="    height: 350px;
                        overflow: auto;">
                        <div class="p-2 ">
                           
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 light">
                    <div class="box-header">
                        <h3 class="text-warn">Customer Banks</h3>
                        <small>Customer card banks</small>
                    </div>
                    <div style="    height: 270px;
                    overflow: auto;">
                        <div class="px-2 ">
                            <div class="d-flex mb-2"
                                *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersBank">
                                <div class="white p-2 py-3 w-100 r-2x">
                                    <div class="_500 pb-1">
                                        {{TItem.Name ||"--"}}
                                    </div>
                                    <div class="">
                                        <span class="text-success _500 text-sm"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                        <span
                                            class="text-success _500 text-sm">{{TItem.Purchase | number:'1.2-2' ||"--"}}</span>
                                        <span class="text-muted text-xs _500"> SALE </span>
                                    </div>
                                    <div class="text-muted text-sm">
                                        users: <span class="text-dark">{{TItem.Users ||"--"}}</span>
                                        <span class="float-right"> tran. <span
                                                class="text-dark">{{TItem.Transactions ||"--"}}</span>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="box ">
            <div class="box-body p-0">
                <div class="row no-gutters">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">
                        <div class="box-header">
                            <h3 class="text-warn">Customer Store Visit Timings</h3>
                            <small class="text-gray">User store visits based on transactions on POS</small>
                        </div>
                        <div class="pl-3" *ngIf="_HelperService._UserOverviewPlot.HourlyVisitData.length > 0">
                            <canvas height="80" baseChart #RewardPlot="base-chart"
                                [colors]="_HelperService._UserOverviewPlot.Colors"
                                [datasets]="_HelperService._UserOverviewPlot.HourlyVisitData"
                                [labels]="_HelperService._UserOverviewPlot.HourlyVisitLabel"
                                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptions"></canvas>
                        </div>
                        <div class="pl-3" *ngIf="_HelperService._UserOverviewPlot.HourlyVisitData.length == 0 ">
                            <div class="text-warning">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ 'Common.PleaseWait' | translate }} ...
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-12">
        <div class="box ">
            <div class="box-header">
                <h3 class="text-warn">Customers Overview</h3>
                <small>Customers overview visiting at store locations</small>
            </div>
            <div class="row no-gutters px-3">
                <div class="col-md-3">
                    <div _ngcontent-c2="" class="py-2 d-block">
                        <div class="d-block text-md text-warn _500">
                            {{_HelperService._AppUsersOverview.OwnAppUsers | number:'1.0-1' ||"--"}}</div>
                        <div class="d-block ">New Customers</div>
                        <div class="text-xs text-muted">Customers registerd through ThankUCash Network at your
                            store
                            locations</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div _ngcontent-c2="" class="py-2 d-block">
                        <div class="d-block text-md text-warn _500">
                            {{_HelperService._AppUsersOverview.ReferralAppUsers | number:'1.0-1' ||"--"}}</div>
                        <div class="d-block ">Referred Customers</div>
                        <div class="text-xs text-muted">Customers registerd through ThankUCash Network at other
                            merchant locations</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div _ngcontent-c2="" class="py-2 d-block">
                        <div class="d-block text-md text-warn _500">
                            {{_HelperService._AppUsersOverview.UniqueAppUsers | number:'1.0-1' ||"--"}}</div>
                        <div class="d-block ">Unique Customers</div>
                        <div class="text-xs text-muted">Customers who visited only once at your store locations
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div _ngcontent-c2="" class="py-2 d-block">
                        <div class="d-block text-md text-warn _500">
                            {{_HelperService._AppUsersOverview.RepeatingAppUsers | number:'1.0-1' ||"--"}}</div>
                        <div class="d-block ">Repeating Customers</div>
                        <div class="text-xs text-muted">Customers who visited mutliple times at your store
                            locations
                        </div>
                    </div>
                </div>

            </div>
            <div class="row no-gutters p-3">
                <div class="col-md-3">

                    <div class="pb-3" *ngIf="_HelperService._AppUsersOverview.AppUsersDataByGender.length > 0">
                        <canvas height="190" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                            [data]="_HelperService._AppUsersOverview.AppUsersDataByGender"
                            [labels]="_HelperService._AppUsersOverview.AppUsersLabelsByGender"
                            [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                            [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                            [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                            [legend]="false"></canvas>
                    </div>
                    <div class="text-warn">Customers By Gender</div>
                    <div class="text-xs text-muted  pb-3">Customers gender distribution with available gender
                        information
                    </div>
                    <!-- <div class="px-2 py-2">
                        <div class="light w-100 p-2 mb-2 r-2x">
                            <span>Male</span>
                            <span
                                class="float-right _500">{{_HelperService._AppUsersOverview.AppUsersMale | number:'1.0-1' ||"--"}}</span>
                        </div>
                        <div class="light w-100 p-2 mb-2 r-2x">
                            <span>Female</span>
                            <span
                                class="float-right _500">{{_HelperService._AppUsersOverview.AppUsersFemale | number:'1.0-1' ||"--"}}</span>
                        </div>
                        <div class="light w-100 p-2 mb-2 r-2x">
                            <span>Unknown</span>
                            <span
                                class="float-right _500">{{_HelperService._AppUsersOverview.AppUsersOther | number:'1.0-1' ||"--"}}</span>
                        </div>
                    </div> -->

                </div>
                <div class="col-md-3">

                    <div class="pb-3" *ngIf="_HelperService._AppUsersOverview.AppUsersCountByAgeGroup.length > 0">
                        <canvas height="190" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                            [data]="_HelperService._AppUsersOverview.AppUsersCountByAgeGroup"
                            [labels]="_HelperService._AppUsersOverview.AppUsersLabelsByAgeGroup"
                            [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                            [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                            [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                            [legend]="false"></canvas>
                    </div>
                    <div class="text-warn  ">Customers By Age Group</div>
                    <div class="text-xs text-muted pb-3">Customers distribution by age group with available
                        information</div>
                    <!-- <div class="px-2 py-2">
                        <div class="light w-100 p-2 mb-2 r-2x"
                            *ngFor="let TItem of _HelperService._AppUsersOverview.AppUsersByAgeGroup">
                            <span>{{TItem.Name ||"--"}}</span>
                            <span class="float-right _500">{{TItem.Users  | number:'1.0-1' ||"--"}}</span>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-3">

                    <div class="pb-3" *ngIf="_HelperService._AppUsersOverview.AppUsersVisitByAgeGroup.length > 0">
                        <canvas height="200" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                            [data]="_HelperService._AppUsersOverview.AppUsersVisitByAgeGroup"
                            [labels]="_HelperService._AppUsersOverview.AppUsersLabelsByAgeGroup"
                            [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                            [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                            [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                            [legend]="false"></canvas>
                    </div>
                    <div class="text-warn  ">Customer Visits By Age Group</div>
                    <div class="text-xs text-muted pb-2">Customers store visits distribution by age group with
                        available information</div>
                    <!-- <div class="px-2 py-2">
                        <div class="light w-100 p-2 mb-2 r-2x"
                            *ngFor="let TItem of _HelperService._AppUsersOverview.AppUsersByAgeGroup">
                            <span>{{TItem.Name ||"--"}}</span>
                            <span class="float-right _500">{{TItem.Visits  | number:'1.0-1' ||"--"}}</span>
                        </div>

                    </div> -->
                </div>
                <div class="col-md-3">

                    <div class="pb-3"
                        *ngIf="_HelperService._AppUsersOverview.AppUsersPurchaseByAgeGroup.length > 0">
                        <canvas height="200" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                            [data]="_HelperService._AppUsersOverview.AppUsersPurchaseByAgeGroup"
                            [labels]="_HelperService._AppUsersOverview.AppUsersLabelsByAgeGroup"
                            [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                            [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                            [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                            [legend]="false"></canvas>
                    </div>
                    <div class="text-warn ">Customer purchase By Age Group</div>
                    <div class="text-xs text-muted  pb-2">Customers store purchase distribution by age group
                        with
                        available information</div>
                    <!-- <div class="px-2 py-2">
                        <div class="light w-100 p-2 mb-2 r-2x"
                            *ngFor="let TItem of _HelperService._AppUsersOverview.AppUsersByAgeGroup">
                            <span>{{TItem.Name ||"--"}}</span>
                            <span class="float-right _500">
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{TItem.Purchase  | number:'1.2-2' ||"--"}}</span>
                        </div>

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-lg-12" *ngIf="_HelperService._AccountOverview.AcquirerAmountDistribution != undefined && _HelperService._AccountOverview.AcquirerAmountDistribution.length > 0">
            <div class="box fadein">
                <div class="box-header pb-0">
                    <h3 class="text-warn">Bank Collections</h3>
                    <small class="text-gray">Total purchase amount collected at bank through card payment at store
                        pos terminals
                        terminals</small>
                </div>
                <div class="box-body p-3">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-2"
                            *ngFor="let TItem of _HelperService._AccountOverview.AcquirerAmountDistribution">
                            <div class="r-2x p-2 light w-100">
                                <div class="float-left">
                                    <span class="w-40 avatar circle warn mr-3">
                                        <img src="{{TItem.IconUrl}}">
                                    </span>
                                </div>
                                <div>
                                    <div class="text-primary">
                                        {{TItem.DisplayName || "--"}}
                                    </div>

                                    <div class="f-s-11">
                                        {{TItem.Terminals || "--"}} Terminals
                                    </div>
                                    <div>
                                        <span class="text-success">
                                            <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.PurchaseAmount  | number:'1.2-2' || "--"}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
</div>