<!-- <div class="df-settings">
  <a id="dfSettingsShow" href="" class="df-settings-link"><i data-feather="settings"></i></a>
  <div class="df-settings-body">
    <div class="pd-t-20">
      <img src="../../assets/img/thankucash.svg" height="20px" width="" alt="." />
    </div>
    <span class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03 pd-b-20"> Skin Customizer</span>
    
    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Skin Mode</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-mode df-mode-default active" data-title="classic"></a>
          <span class="df-skin-name">Classic</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-light" data-title="light">
            <span class="bg-ui-01"></span>
            <span class="bg-ui-02"></span>
          </a>
          <span class="df-skin-name">Light</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-cold" data-title="cool">
            <span class="bg-primary op-1"></span>
            <span class="bg-primary op-2"></span>
          </a>
          <span class="df-skin-name">Cool</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-mode df-mode-dark disabled" data-title="dark">
            <span class="bg-gray-700"></span>
            <span class="bg-gray-900"></span>
          </a>
          <span class="df-skin-name tx-nowrap">Dark <span class="tx-normal">(Coming Soon)</span></span>
        </div>
      </div> 
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Navigation Skin</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-skin df-skin-default active" data-title="default"></a>
          <span class="df-skin-name">Default</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-deepblue" data-title="deepblue">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Deep Blue</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-charcoal" data-title="charcoal">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Charcoal</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-skin df-skin-gradient1" data-title="gradient1">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Gradient 1</span>
        </div>
      </div>
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Navigation Layout</label>
      <div class="row row-xs">
        <div class="col">
          <a href="../classic/dashboard-one.html" class="btn btn-xs btn-white btn-uppercase btn-block">Horizontal</a>
        </div>
        <div class="col">
          <a href="../classic-plus/dashboard-one.html" class="btn btn-xs btn-white btn-uppercase btn-block">Vertical</a>
        </div>
      </div>
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Font Family Base</label>
      <div class="row row-xs">
        <div class="col-7">
          <a href="" id="setFontBase" class="btn btn-xs btn-white btn-uppercase btn-block">IBM Plex Sans</a>
        </div>
        <div class="col-5">
          <a href="" id="setFontRoboto" class="btn btn-xs btn-white btn-uppercase btn-block active-primary">Roboto</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- df-settings -->
<ng-progress [spinnerPosition]="'right'"  [color]="'#00cccc'" [thick]='true' ></ng-progress>

<router-outlet></router-outlet>


