<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
        <li class="breadcrumb-items text-small">Merchant Management</li>
        <li class="breadcrumb-items text-small">Merchants</li>
        <li class="breadcrumb-items active" aria-current="page">Merchant Details</li>
    </ol>
</nav>
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0 pb-20" id="headingOne">
            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl"><img  [style.border-color]="_Merchantdetails.StatusC" src="{{_Merchantdetails.IconUrl}}"
                                (error)="_HelperService.defaultImage($event)" class="rounded-circle bd bd-2" alt=""> </div>
                    </div><!-- media -->
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-bold text-capitalize  mg-b-2">
                                {{_Merchantdetails.DisplayName}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-5">
                                    <span class="mg-r-5 text-secondary"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span> Merchant Id: <span>
                                        {{_Merchantdetails.AccountCode}} </span>
                                </h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0 d-flex">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span>
                                    <span>{{_Merchantdetails.Address}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-bold tx-40  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_Merchantdetails.Terminals | number: "1.0-1" || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0">Pos Terminal</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <!-- <div class="manageButton mg-t-0 pd-t-0">
                                    <button type="button" (click)="clicked()"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                        Account</button>
                                        
                                </div> -->
                                <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; myFunction()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i
                                                class="fas fa-chevron-down tx-grey" [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class="Hm-height ht-100p" [zoom]="14"  [styles]="_HelperService.darkStyle"
                                    [latitude]="_HelperService._UserAccount.Latitude"
                                    [longitude]="_HelperService._UserAccount.Longitude">
                                    <agm-marker [latitude]="_HelperService._UserAccount.Latitude"
                                        [longitude]="_HelperService._UserAccount.Longitude"></agm-marker>
                                </agm-map>
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 Hm-media768">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor  mg-b-15">Contact
                                            Person</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i> <span
                                                    *ngIf="_Merchantdetails.ContactPerson"
                                                    class="tx-color-03">{{_Merchantdetails.ContactPerson.Name || "--"}}</span>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i><span
                                                    *ngIf="_Merchantdetails.ContactPerson" class="tx-color-03">
                                                    {{_Merchantdetails.ContactPerson.MobileNumber}} </span>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <span
                                                    *ngIf="_Merchantdetails.ContactPerson"
                                                    class="tx-color-03 Word-break">{{_Merchantdetails.ContactPerson.EmailAddress}}</span>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-lg-6 Hm-media768">
                                        <label class="tx-14 tx-bold text-capitalize Hm-HeaderColor mg-b-15">Relationship
                                            Manager</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i> <span
                                                    *ngIf="_Merchantdetails.Rm"
                                                    class="tx-color-03">{{_Merchantdetails.Rm.Name}}</span></li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i> <span
                                                    *ngIf="_Merchantdetails.Rm"
                                                    class="tx-color-03">{{_Merchantdetails.Rm.MobileNumber}}</span></li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <span
                                                    *ngIf="_Merchantdetails.Rm"
                                                    class="tx-color-03">{{_Merchantdetails.Rm.EmailAddress}}</span>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-lg-12 Hm-media768">
                                        <div class="d-inline m-auto"
                                            *ngFor="let catagories of _Merchantdetails['Categories']">
                                            <button type="button"
                                                class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">{{catagories.Name}}</button>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card pd-10 mt-3">

    <ul class="nav nav-line d-flex justify-content-between" role="tablist">

        <div class="d-flex flex-wrap">

            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLinkActive]="['active']" data-toggle="tab"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Merchant.Dashboard}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLinkActive]="['active']" data-toggle="tab"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Merchant.Transactions}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="false">Transactions</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLinkActive]="['active']" data-toggle="tab"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Merchant.Terminals}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="false">Terminals</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLinkActive]="['active']" data-toggle="tab"
                    routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelPTSP.Merchant.Products}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="false">Products</a>
            </li>

        </div>


        <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class="order-1">
                    <input type="text" autocomplete="off" style="height: 30px;" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptionsForToday"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label class="cursor-pointer btn btn-xs pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label class="cursor-pointer btn btn-xs  pb-0 mb-0 tx-13  d-flex align-items-center {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label class="cursor-pointer btn pb-0 mb-0 btn-xs tx-13  active d-flex mr-3 align-items-center {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>
        </div>


    </ul>

</div>
<router-outlet></router-outlet>

<!-- <div class="off-canvas off-canvas-overlay off-canvas-right  mn-wd-30p" #offCanvas style="width: 480px !important;">
    <div class="off-canvas-content">
        <div class="off-canvas-header text-danger text-right">
            <a (click)="unclick()"><i data-feather="x-circle" class="wd-25 ht-25"></i></a>
        </div>
        <div id="FormA_EditUser_Content" class="off-canvas-body">

            <div class="card">
                <div class="card-header bd-0">
                    <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Manage Account </h3>
                    <ul class="nav nav-line" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Business" role="tab"
                                aria-controls="home" aria-selected="true">Business Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Contact" role="tab"
                                aria-controls="profile" aria-selected="false">Contact Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Address" role="tab"
                                aria-controls="contact" aria-selected="false">Address details</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body  p-lg pd-l-15">
                    <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
                        <div class="tab-pane fade show active" id="Business" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="FormA_EditUser"
                                        (ngSubmit)="FormA_EditUser_Process(FormA_EditUser.value)" role="form">
                                        <div class="form-group">
                                            <label>{{'System.Users.BusinessName' | translate }}<span
                                                    class="text-danger">*</span></label>
                                            <div class="controls">

                                                <input type="text"
                                                    placeholder="{{'System.Users.DisplayName' | translate }}"
                                                    name="DisplayName" maxlength="25" class="form-control"
                                                    [(ngModel)]="_UserAccount.DisplayName"
                                                    [formControl]="FormA_EditUser.controls['DisplayName']"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['DisplayName'].valid && FormA_EditUser.controls['DisplayName'].touched}">
                                            </div>
                                            <div class="text-xs text-muted _500"> </div>
                                            <label class="text-danger" for="DisplayName"
                                                *ngIf="FormA_EditUser.controls['DisplayName'].hasError('required') && FormA_EditUser.controls['DisplayName'].touched">
                                                enter business name
                                            </label>
                                            <label class="text-danger" for="DisplayName"
                                                *ngIf="FormA_EditUser.controls['DisplayName'].hasError('minlength') || FormA_EditUser.controls['DisplayName'].hasError('maxlength')">business
                                                business name must be between 4 - 256 characters</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Nick Name<span class="text-danger">*</span> </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Nick Name" name="Name" maxlength="256"
                                                    class="form-control" [formControl]="FormA_EditUser.controls['Name']"
                                                    [(ngModel)]="_UserAccount.Name"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['Name'].valid && FormA_EditUser.controls['Name'].touched}">
                                            </div>
                                            <label class="text-danger" for="Name"
                                                *ngIf="FormA_EditUser.controls['Name'].hasError('required') && FormA_EditUser.controls['Name'].touched">
                                                enter nick name
                                            </label>
                                            <label class="text-danger" for="DisplayName"
                                                *ngIf="FormA_EditUser.controls['Name'].hasError('minlength') || FormA_EditUser.controls['Name'].hasError('maxlength')">parent
                                                nick name must be between 2 - 25 characters</label>

                                        </div>
                                        <div class="form-group">
                                            <label>{{'System.Users.BusinessOwnerName' | translate }}<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="OwnerName" name="OwnerName"
                                                    maxlength="256" class="form-control"
                                                    [formControl]="FormA_EditUser.controls['OwnerName']"
                                                    [(ngModel)]="_UserAccount.OwnerName"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['OwnerName'].valid && FormA_EditUser.controls['OwnerName'].touched}">
                                            </div>
                                            <label class="text-danger" for="OwnerName"
                                                *ngIf="FormA_EditUser.controls['OwnerName'].hasError('required') && FormA_EditUser.controls['OwnerName'].touched">
                                                enter business owner name</label>
                                            <label class="text-danger" for="OwnerName"
                                                *ngIf="FormA_EditUser.controls['OwnerName'].hasError('minlength') || FormA_EditUser.controls['OwnerName'].hasError('maxlength')">
                                                business owner name must be between 4 to 256 characters
                                            </label>

                                        </div>
                                        <div class="form-group">
                                            <label>Phone Number<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">+234</span>
                                                    </div>
                                                    <input type="text" placeholder="Phone Number" name="ContactNumber"
                                                        minlength="10" maxlength="18"
                                                        class="form-control contact-textbox-height"
                                                        (keypress)="_HelperService.PreventText($event)"
                                                        [formControl]="FormA_EditUser.controls['ContactNumber']"
                                                        [(ngModel)]="_UserAccount.ContactNumber"
                                                        [ngClass]="{'is-invalid':!FormA_EditUser.controls['ContactNumber'].valid && FormA_EditUser.controls['ContactNumber'].touched}">
                                                </div>
                                            </div>
                                            <label class="text-danger" for="ContactNumber"
                                                *ngIf="FormA_EditUser.controls['ContactNumber'].hasError('required') && FormA_EditUser.controls['ContactNumber'].touched">enter
                                                enter phone number</label>
                                            <label class="text-danger" for="ContactNumber"
                                                *ngIf="FormA_EditUser.controls['ContactNumber'].hasError('minlength') || FormA_EditUser.controls['ContactNumber'].hasError('maxlength')">
                                                phone number must be between 10 to 14 numbers
                                            </label>

                                        </div>
                                        <div class="form-group">
                                            <label>Email ID<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Email Id" name="EmailAddress"
                                                    maxlength="256" class="form-control"
                                                    [formControl]="FormA_EditUser.controls['EmailAddress']"
                                                    [(ngModel)]="_UserAccount.EmailAddress"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['EmailAddress'].valid && FormA_EditUser.controls['EmailAddress'].touched}">
                                            </div>
                                            <label class="text-danger" for="EmailAddress"
                                                *ngIf="FormA_EditUser.controls['EmailAddress'].hasError('required') && FormA_EditUser.controls['EmailAddress'].touched">
                                                enter email address
                                            </label>

                                            <label class="text-danger" for="EmailAddress"
                                                *ngIf="FormA_EditUser.controls['EmailAddress'].hasError('email') && FormA_EditUser.controls['EmailAddress'].touched">
                                                enter valid busness email address
                                            </label>

                                        </div>
                                        <div class="form-group">
                                            <label>Reward Percentage<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Reward Percentage"
                                                    name="RewardPercentage" minlength="1" maxlength="100"
                                                    class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                    [formControl]="FormA_EditUser.controls['RewardPercentage']"
                                                    [(ngModel)]="_MerchantDetails.RewardPercentage"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['RewardPercentage'].valid && FormA_EditUser.controls['RewardPercentage'].touched}">
                                            </div>
                                            <label class="text-danger" for="RewardPercentage"
                                                *ngIf="FormA_EditUser.controls['RewardPercentage'].hasError('required') && FormA_EditUser.controls['RewardPercentage'].touched">
                                                enter reward percentage
                                            </label>
                                            <label class="text-danger" for="RewardPercentage"
                                                *ngIf="FormA_EditUser.controls['RewardPercentage'].hasError('min') || FormA_EditUser.controls['RewardPercentage'].hasError('max')">
                                                reward percentage must be between 1 to 100
                                            </label>
                                        </div>

                                        <div class="card-footer d-flex justify-content-between pd-l-35">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                (click)="FormA_EditUser_Block()">
                                                {{ "Common.Block" | translate }}
                                            </button>
                                            <button type="submit" class="btn btn-primary"
                                                (click)="FormA_EditUser.value.OperationType = 'edit'"
                                                [disabled]="!FormA_EditUser.valid || _HelperService.IsFormProcessing">
                                                <span [hidden]="_HelperService.IsFormProcessing">
                                                    {{ "Common.Save" | translate }}
                                                </span>
                                                <span [hidden]="!_HelperService.IsFormProcessing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                    {{ "Common.PleaseWait" | translate }}...
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Contact" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="FormB_EditUser"
                                        (ngSubmit)="FormB_EditUser_Process(FormB_EditUser.value)" role="form">
                                        <div class="form-group">
                                            <label>Contact Person<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Name" name="FirstName" minlength="4"
                                                    maxlength="128" class="form-control"
                                                    [(ngModel)]="_UserAccount.FirstName"
                                                    [formControl]="FormB_EditUser.controls['FirstName']"
                                                    [ngClass]="{'is-invalid':!FormB_EditUser.controls['FirstName'].valid && FormB_EditUser.controls['FirstName'].touched}">
                                            </div>
                                            <label class="text-danger" for="FirstName"
                                                *ngIf="FormB_EditUser.controls['FirstName'].hasError('required') && FormB_EditUser.controls['FirstName'].touched">
                                                enter name
                                            </label>
                                            <label class="text-danger" for="FirstName"
                                                *ngIf="FormB_EditUser.controls['FirstName'].hasError('minlength') || FormB_EditUser.controls['FirstName'].hasError('maxlength')">
                                                enter name must be between 4 to 128 characters
                                            </label>
                                        </div>
                                        <div class="form-group ">
                                            <label> Email id<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Email Id" name="SecondaryEmailAddress"
                                                    maxlength="256" class="form-control"
                                                    [(ngModel)]="_UserAccount.EmailAddress"
                                                    [formControl]="FormB_EditUser.controls['SecondaryEmailAddress']"
                                                    [ngClass]="{'is-invalid':!FormB_EditUser.controls['SecondaryEmailAddress'].valid && FormB_EditUser.controls['SecondaryEmailAddress'].touched}">
                                            </div>
                                            <label class="text-danger" for="SecondaryEmailAddress"
                                                *ngIf="FormB_EditUser.controls['SecondaryEmailAddress'].hasError('required') && FormB_EditUser.controls['SecondaryEmailAddress'].touched">
                                                enter email address
                                            </label>

                                            <label class="text-danger" for="SecondaryEmailAddress"
                                                *ngIf="FormB_EditUser.controls['SecondaryEmailAddress'].hasError('email') && FormB_EditUser.controls['SecondaryEmailAddress'].touched">
                                                enter valid email address
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label> Mobile Number<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Mobile Number" name="MobileNumber"
                                                    minlength="10" maxlength="18" class="form-control"
                                                    (keypress)="_HelperService.PreventText($event)"
                                                    [formControl]="FormB_EditUser.controls['MobileNumber']"
                                                    [(ngModel)]="_UserAccount.MobileNumber"
                                                    [ngClass]="{'is-invalid':!FormB_EditUser.controls['MobileNumber'].valid && FormB_EditUser.controls['MobileNumber'].touched}">
                                            </div>
                                            <label class="text-danger" for="MobileNumber"
                                                *ngIf="FormB_EditUser.controls['MobileNumber'].hasError('required') && FormB_EditUser.controls['MobileNumber'].touched">
                                                enter mobile number
                                            </label>
                                            <label class="text-danger" for="MobileNumber"
                                                *ngIf="FormB_EditUser.controls['MobileNumber'].hasError('minlength') || FormB_EditUser.controls['MobileNumber'].hasError('maxlength')">
                                                mobile number must be between 10 to 14 numbers
                                            </label>
                                        </div>

                                        <div class="card-footer d-flex justify-content-between pd-l-35">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                (click)="FormB_EditUser_Block()">
                                                {{ "Common.Block" | translate }}
                                            </button>
                                            <button type="submit" class="btn btn-primary"
                                                (click)="FormB_EditUser.value.OperationType = 'edit'"
                                                [disabled]="!FormB_EditUser.valid || _HelperService.IsFormProcessing">
                                                <span [hidden]="_HelperService.IsFormProcessing">
                                                    {{ "Common.Save" | translate }}
                                                </span>
                                                <span [hidden]="!_HelperService.IsFormProcessing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                    {{ "Common.PleaseWait" | translate }}...
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="FormC_EditUser"
                                        (ngSubmit)="FormC_EditUser_Process(FormC_EditUser.value)" role="form">
                                        <div class="form-group">
                                            <label class="tx-roboto tx-12 text-dark">Locate Address<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="GAddress" maxlength="256" class="form-control"
                                                    ngx-google-places-autocomplete #placesStore="ngx-places"
                                                    (onAddressChange)="FormC_EditUser_AddressChange($event)">
                                            </div>
                                            <label class="text-warn">You can click on map to mark exact location of
                                                store </label>
                                        </div>
                                        <agm-map style="height:255px;" [zoom]="12" [latitude]="FormC_EditUser_Latitude"
                                            [longitude]="FormC_EditUser_Longitude"
                                            (mapClick)="FormC_EditUser_PlaceMarkerClick($event)"
                                            [streetViewControl]="false">
                                            <agm-marker [latitude]="FormC_EditUser_Latitude"
                                                [longitude]="FormC_EditUser_Longitude">
                                            </agm-marker>
                                        </agm-map>

                                        <div class="form-group mt-3">
                                            <label class="tx-roboto tx-12 text-dark">Detailed Address <span
                                                    class="text-muted"> (Street
                                                    Name, Building Name, Floor Number Etc) </span> <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <textarea name="Address" placeholder="Address" maxlength="256"
                                                    class="form-control" rows="3" [(ngModel)]="_MerchantDetails.Address"
                                                    [formControl]="FormC_EditUser.controls['Address']"
                                                    [ngClass]="{'is-invalid':!FormC_EditUser.controls['Address'].valid && FormC_EditUser.controls['Address'].touched}"></textarea>
                                            </div>
                                            <label class="text-danger" for="Address"
                                                *ngIf="FormC_EditUser.controls['Address'].hasError('required') && FormC_EditUser.controls['Address'].touched">{{
                                                                      'System.Users.Address_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="Address"
                                                *ngIf="FormC_EditUser.controls['Address'].hasError('minlength') || FormC_EditUser.controls['Address'].hasError('maxlength')">{{
                                                                      'System.Users.Address_ER_Length' | translate }}</label>
                                        </div>

                                        <div class="card-footer d-flex justify-content-between pd-l-35">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                (click)="FormC_EditUser_Block()">
                                                {{ "Common.Block" | translate }}
                                            </button>
                                            <button type="submit" class="btn btn-primary"
                                                (click)="FormC_EditUser.value.OperationType = 'edit'"
                                                [disabled]="!FormC_EditUser.valid || _HelperService.IsFormProcessing">
                                                <span [hidden]="_HelperService.IsFormProcessing">
                                                    {{ "Common.Save" | translate }}
                                                </span>
                                                <span [hidden]="!_HelperService.IsFormProcessing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                    {{ "Common.PleaseWait" | translate }}...
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->