<div class="shadow-none">
  <div class="row mg-b-20 mg-lg-b-30">
    <div class="col-12">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1"> Today's Overview - <span> {{TodayDate | date }} </span></h4>

    </div>
  </div>
  <div class="row row-xs mg-b-10 Hm-media768">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">

        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active Merchants</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-primary mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.ActiveMerchants | number:"1.0-1" || "--"}}
          </h3>
          <p class="tx-11 tx-color-03 mg-b-10"><span class="tx-medium tx-danger "> </span></p>
        </div>
        <p class="tx-11 tx-color-03 mg-b-0">
          Total active merchant of
          <span class="tx-color-02 tx-bold">{{_AccountOverview.TotalMerchants | number: "1.0-1" || "--"}}</span>
          registered
        </p>

      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active POS Terminals</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-teal tx-rubik mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.ActiveTerminals | number: "1.0-1"|| "--"}}</h3>

          <p class="tx-11 tx-color-03 mg-b-10"><span class="tx-medium tx-danger "> </span></p>
        </div>
        <p class="tx-11 tx-color-03 mg-b-0"> Total active POS of <span
            class="tx-color-02 tx-bold">{{_AccountOverview.TotalTerminals | number: "1.0-1" || "--"}}</span>
          registered POS
        </p>


      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">total stores</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik faint-red mg-b-8 mg-r-5 lh-1 mg-t-5">
            {{_AccountOverview.ActiveStores | number:"1.0-1" || "--"}}
          </h3>

        </div>
        <p class="tx-11 tx-color-03 mg-b-0"> Total active stores of
          <span class="tx-color-02 tx-bold">{{_AccountOverview.TotalStores | number: "1.0-1" || "--"}}</span> stores
        </p>


      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">pos UPGRADE requests</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-bold tx-rubik tx-MasterCard mg-b-8 mg-r-5 lh-1 mg-t-5">
            {{_AccountOverview.ActivePosUpgradeRequest | number: "1.0-1" || "--"}}
          </h3>
        </div>
        <p class="tx-11 tx-color-03 mg-b-0 "> Currently onboarded POS providers</p>
      </div>
    </div>
  </div>


  <div class="row row-xs mb-3">
    <div class="col-lg-9 col-xl-9 col-sm-12 col-md-12">
      <div class="card ">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5 tx-bold">POS Activity details</h6>
            <p class="tx-11 tx-color-03 mg-b-0">The Metrics Explains how many POS terminals are active and running</p>
          </div>

        </div>
        <div class="card-body  pd-lg-25">
          <div class="row align-items-sm-end">
            <div class="col-lg-8 col-md-12 col-xl-8">
              <canvas class="chart-six" height="175px" baseChart #DataPlot="base-chart" [datasets]="barChartData"
                *ngIf="showBarChart" [labels]="barChartLabels" [options]="Options" [colors]="barChartColors"
                [plugins]="Plugins" [chartType]="_HelperService.ChartConfig.BarChart.Type">
              </canvas>
            </div>
            <div class="col-lg-4 col-md-12 col-xl-4 mg-t-30 mg-lg-t-0" *ngIf="_AccountOverview.TerminalStatus">
              <div class="row mg-b-10">
                <div class="col-sm-6 col-lg-12">
                  <div class="d-flex align-items-center justify-content-between mg-b-5">

                    <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Active POS</h6>
                    <span class="tx-11 tx-color-03 mg-b-0 ">
                      {{_AccountOverview.ActiveTerminalsPerc | number: "1.0-1" ||"--"}}%
                      Active POS of
                    </span>
                  </div>
                  <div class="d-flex align-items-end justify-content-between mg-b-5">
                    <h5 class="tx-bold tx-rubik lh-2 mg-b-0">
                      {{_AccountOverview.TerminalStatus.Active | number: "1.0-1" || "--" }}</h5>
                    <h6 class="tx-normal tx-rubik tx-color-03 lh-2 mg-b-0 mg-r-25">
                      {{_AccountOverview.TerminalStatus.Total | number: "1.0-1" || "--" }}</h6>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-teal" [ngStyle]="{'width': _AccountOverview.ActiveTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Idle POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{_AccountOverview.TerminalStatus.Idle | number: "1.0-1" || "--" }}
                      </h5>
                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-11 tx-color-03 mg-b-0">
                        {{_AccountOverview.IdleTerminalsPerc | number: "1.0-1" ||"--"}}% idle POS not<br>
                        seen activity in 4 <b>Hours</b>
                      </span>
                    </div>
                  </div>

                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-warning" [ngStyle]="{'width': _AccountOverview.IdleTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Dead POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{_AccountOverview.TerminalStatus.Dead | number: "1.0-1" || "--" }}
                      </h5>
                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-11 tx-color-03 mg-b-0">
                        {{_AccountOverview.DeadTerminalsPerc | number: "1.0-1" ||"--"}}%
                        POS not seen<br>activity in
                        <span class="tx-bold"> 7 Days
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-deadpos" [ngStyle]="{'width': _AccountOverview.DeadTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="leftdiv">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">In-active POS</h6>
                      <h5 class="tx-bold tx-rubik lh-2 mg-b-0 mg-t-5">
                        {{_AccountOverview.TerminalStatus.Inactive | number: "1.0-1" || "--" }}</h5>

                    </div>

                    <div class="rightdiv mg-t-0 pd-t-0 d-flex align-items-start">
                      <span class="tx-11 tx-color-03 mg-b-0">
                        {{_AccountOverview.UnusedTerminalsPerc | number: "1.0-1" ||"--"}}%
                        POS not yet<br>updated with TUC
                      </span>
                    </div>
                  </div>
                  <div class="progress ht-4 mg-b-0">
                    <div class="progress-bar bg-primary" [ngStyle]="{'width': _AccountOverview.UnusedTerminalsPerc+'%'}"
                      role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-xl-3 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0">
      <div class="card ht-100p ">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between bd-b-0">
          <h5 class="mg-b-5 tx-14 tx-bold">POS Alerts <br>
            <p class="tx-11 tx-normal  tx-color-03 mg-b-0">These POS need urgent attention .</p>
          </h5>
          <div class="d-flex align-items-center tx-18">
            <a (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"
              class="link-03 lh-0  cursor-pointer"><i class="icon tx-grey ion-md-refresh"></i></a>
            <a class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more tx-grey"></i></a>
          </div>
        </div>
        <div class="PosAlert">
          <div>
            <ul class="list-group list-group-flush tx-13" *ngFor="let TItem of TerminalsList_Config.Data">
              <li class="list-group-item d-flex pd-sm-x-20 cursor-pointer" (click)="TerminalsList_RowSelected(TItem)"
                *ngIf="TItem.ActivityStatus == _HelperService.POSActivityStatus.Dead">
                <div class=""><span class=" rounded-circle bg-white">
                    <img class="br" src="{{TItem.ProviderIconUrl}}" (error)="_HelperService.defaultImage($event)"
                      class="img wd-40 ht-40 rounded-circle bd bd-2  bd-danger">
                  </span></div>
                <div class="pd-l-10">
                  <p class="tx-bold tx-14 mg-b-0 tx-alertpos">{{TItem.DisplayName}}</p>
                  <small class="tx-11 tx-color-03 mg-b-0"> Last Transaction On {{TItem.LastTransactionDate || 'n/a'}}
                  </small>
                  <br> <small class="tx-11 tx-color-03 mg-b-0 WordWrap">
                    <span class="tx-color-02"> {{TItem.StoreDisplayName}} </span>,
                    <span title="{{TItem.StoreAddress}}">{{TItem.StoreAddress | truncateText:20 || "--"}}</span>
                  </small>
                  <br> <small class="tx-11 tx-normal tx-teal mg-b-0"> {{TItem.StoreContactNumber}}</small>
                </div>

              </li>
            </ul>
          </div>
        </div>
      </div><!-- card -->
    </div>
  </div>
</div>