<div>
  <div class="row mb-3">
    <div class="col-lg-9">
      <button
        class="btn  btn-sm mb-1"
        type="button"
        [ngClass]="Type === 1 ? 'warn' : 'grey'"
        (click)="UserAnalytics_DateChange(1)"
      >
        Today
      </button>
      <button
        class="btn  btn-sm mb-1"
        type="button"
        [ngClass]="Type === 2 ? 'warn' : 'grey'"
        (click)="UserAnalytics_DateChange(2)"
      >
        Yesterday
      </button>
      <button
        class="btn  btn-sm mb-1"
        type="button"
        [ngClass]="Type === 3 ? 'warn' : 'grey'"
        (click)="UserAnalytics_DateChange(3)"
      >
        This Week
      </button>
      <button
        class="btn  btn-sm mb-1"
        type="button"
        [ngClass]="Type === 4 ? 'warn' : 'grey'"
        (click)="UserAnalytics_DateChange(4)"
      >
        Last Week
      </button>
      <button
        class="btn  btn-sm mb-1"
        type="button"
        [ngClass]="Type === 5 ? 'warn' : 'grey'"
        (click)="UserAnalytics_DateChange(5)"
      >
        This Month
      </button>
      <button
        class="btn  btn-sm mb-1"
        type="button"
        [ngClass]="Type === 6 ? 'warn' : 'grey'"
        (click)="UserAnalytics_DateChange(6)"
      >
        Last Month
      </button>
      <button
        class="btn  btn-sm mb-1"
        type="button"
        [ngClass]="Type === 7 ? 'warn' : 'grey'"
        (click)="UserAnalytics_DateChange(7)"
      >
        All
      </button>
    </div>
    <div class="col-lg-3">
      <input
        type="text"
        class="form-control dr-picker"
        name="daterangeInput"
        daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptions"
        (selected)="UserAnalytics_DateChange($event)"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="box ">
        <div class="box-header">
          <h3 class="text-warn">Terminal Sale</h3>
          <small class="text-gray"
            >Transaction divided by payment type done on pos termianls
          </small>
        </div>
        <div class="row no-gutters mb-2 pb-3 pl-3 pr-3 b-b b-2x">
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4">
            <div class="py-2  text-lg text-warn">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span
              >{{
                _HelperService._AccountOverview.PurchaseAmount
                  | number: "1.2-2" || "--"
              }}
            </div>
            <div>
              Total Sale
            </div>
            <div class="text-xs text-muted mb-3">
              Total sale done by terminals by card or cash mode at store
            </div>

            <div class="text-left">
              <div class="d-flex">
                <span class="flex text-muted">Transactions</span>
                <span>{{
                  _HelperService._AccountOverview.Transactions
                    | number: "1.0-1" || "--"
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4">
            <div class="py-2  text-lg text-warn">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span
              >{{
                _HelperService._RewardTypeOverview.CardRewardPurchaseAmount
                  | number: "1.2-2" || "--"
              }}
            </div>
            <div>
              Card Payments
            </div>
            <div class="text-xs text-muted mb-3">
              Payment made through credit or debit card at store location
            </div>

            <div class="text-left">
              <div class="d-flex">
                <span class="flex text-muted">Transactions</span>
                <span>{{
                  _HelperService._RewardTypeOverview.CardRewardTransactions
                    | number: "1.0-1" || "--"
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4">
            <div class="py-2 text-lg text-success">
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span
              >{{
                _HelperService._RewardTypeOverview.CashRewardPurchaseAmount
                  | number: "1.2-2" || "--"
              }}
            </div>
            <div class="">
              Cash Payments
            </div>
            <div class="text-xs text-muted mb-3">
              Cash payment done at store location by customers
            </div>
            <div class="text-left">
              <div class="d-flex">
                <span class="flex text-muted">Transactions</span>
                <span>{{
                  _HelperService._RewardTypeOverview.CashRewardTransactions
                    | number: "1.0-1" || "--"
                }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-4">
            <div
              *ngIf="
                _HelperService._RewardTypeOverview.RewardTypeData.length > 0
              "
            >
              <canvas
                height="200"
                baseChart
                [colors]="_HelperService._UserOverviewPlot.PieColors"
                [data]="_HelperService._RewardTypeOverview.RewardTypeData"
                [labels]="_HelperService._RewardTypeOverview.RewardTypeLabels"
                [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                [legend]="false"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="box ">
        <div class="row no-gutters">
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="box-header">
              <h3 class="text-warn">Terminal Payments sources</h3>
              <small class="text-gray"
                >Transaction divided by payment type done on pos termianls
              </small>
            </div>

            <div class="row no-gutters p-3">
              <div class="col-md-4">
                <div style="height: 265px;overflow:auto;">
                  <div
                    class="  mb-2"
                    *ngFor="
                      let TItem of _HelperService._RewardTypeOverview
                        .AppUsersCardType
                    "
                  >
                    <div class="light p-2 w-100 r-2x">
                      <div class="_500 pb-1">
                        {{ TItem.Name || "--" }}
                      </div>
                      <div class="">
                        <span
                          class="text-success _500 text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbol"
                        ></span>
                        <span class="text-success _500 text-sm">{{
                          TItem.Purchase | number: "1.2-2" || "--"
                        }}</span>
                        <span class="text-muted text-xs _500"> SALE </span>
                      </div>
                      <div class="text-muted text-sm">
                        card holders:
                        <span class="text-dark">{{ TItem.Users || "--" }}</span>
                        <span class="float-right">
                          tran.
                          <span class="text-dark">{{
                            TItem.Transactions || "--"
                          }}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="pb-3"
                  *ngIf="
                    _HelperService._RewardTypeOverview.AppUsersCardTypeDataUsers
                      .length > 0
                  "
                >
                  <canvas
                    height="210"
                    baseChart
                    [colors]="_HelperService._UserOverviewPlot.PieColors"
                    [data]="
                      _HelperService._RewardTypeOverview
                        .AppUsersCardTypeDataUsers
                    "
                    [labels]="
                      _HelperService._RewardTypeOverview.AppUsersCardTypeLabel
                    "
                    [chartType]="
                      _HelperService._UserOverviewPlot.ChartTypeDoughnet
                    "
                    [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                    [options]="
                      _HelperService._UserOverviewPlot.ChartTypePieOptions
                    "
                    [legend]="false"
                  ></canvas>
                </div>
                <div class="text-center">
                  <div class="text-warn">Customer Purchase by Card Type</div>
                  <div class="text-xs text-muted  pb-3">
                    Customer who have purchased products with different card
                    types
                  </div>
                </div>
                <!-- <div class="px-4 py-2">
                                                  <div class="d-flex mb-2"
                                                      *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
                                                      <span class="flex text-muted">{{TItem.Name ||"--"}}</span>
                                                      <span>{{TItem.Users | number:'1.0-1' ||"--"}}</span>
                                                  </div>
                                              </div> -->
              </div>
              <!-- <div class="col-md-6">
              
                                              <div class="pb-3"
                                                  *ngIf="_HelperService._RewardTypeOverview.AppUsersCardTypeDataTransactions.length > 0">
                                                  <canvas height="200" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                                                      [data]="_HelperService._RewardTypeOverview.AppUsersCardTypeDataTransactions"
                                                      [labels]="_HelperService._RewardTypeOverview.AppUsersCardTypeLabel"
                                                      [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                                                      [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                                                      [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                                                      [legend]="false"></canvas>
                                              </div>
                                              <div class="text-center">
                                                  <div class="text-warn">Customers Card Use</div>
                                                  <div class="text-xs text-muted  pb-3">Number of times customer used payment card at
                                                      store
                                                      locations
                                                  </div>
                                              </div>
                                              <div class="px-4 py-2">
                                                  <div class="d-flex mb-2"
                                                      *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
                                                      <span class="flex text-muted">{{TItem.Name ||"--"}}</span>
                                                      <span>{{TItem.Transactions | number:'1.0-1' ||"--"}}</span>
                                                  </div>
                                              </div>
              
                                          </div> -->
              <div class="col-md-4">
                <div
                  class="pb-3"
                  *ngIf="
                    _HelperService._RewardTypeOverview
                      .AppUsersCardTypeDataPurchase.length > 0
                  "
                >
                  <canvas
                    height="210"
                    baseChart
                    [colors]="_HelperService._UserOverviewPlot.PieColors"
                    [data]="
                      _HelperService._RewardTypeOverview
                        .AppUsersCardTypeDataPurchase
                    "
                    [labels]="
                      _HelperService._RewardTypeOverview.AppUsersCardTypeLabel
                    "
                    [chartType]="
                      _HelperService._UserOverviewPlot.ChartTypeDoughnet
                    "
                    [plugins]="_HelperService._UserOverviewPlot.PieChartPlugins"
                    [options]="
                      _HelperService._UserOverviewPlot.ChartTypePieOptions
                    "
                    [legend]="false"
                  ></canvas>
                </div>
                <div class="text-center">
                  <div class="text-warn">Customer Card purchase by Volume</div>
                  <div class="text-xs text-muted  pb-3">
                    Volume of amount spent by customer using different
                    credit/debit card type
                  </div>
                </div>
                <!-- <div class="px-4 py-2">
                                                  <div class="d-flex mb-2"
                                                      *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
                                                      <span class="flex text-muted">{{TItem.Name ||"--"}}</span>
                                                      <span class="_500"> <span
                                                              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                                          {{TItem.Purchase | number:'1.0-1' ||"--"}}</span>
                                                  </div>
                                              </div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 light">
            <div class="box-header">
              <h3 class="text-warn">Customer Banks</h3>
              <small>Customer card banks</small>
            </div>
            <div
              style="    height: 300px;
                                      overflow: auto;"
            >
              <div class="px-2 ">
                <div
                  class="d-flex mb-2"
                  *ngFor="
                    let TItem of _HelperService._RewardTypeOverview.AppUsersBank
                  "
                >
                  <div class="white p-2 py-3 w-100 r-2x">
                    <div class="_500 pb-1">
                      {{ TItem.Name || "--" }}
                    </div>
                    <div class="">
                      <span
                        class="text-success _500 text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"
                      ></span>
                      <span class="text-success _500 text-sm">{{
                        TItem.Purchase | number: "1.2-2" || "--"
                      }}</span>
                      <span class="text-muted text-xs _500"> SALE </span>
                    </div>
                    <div class="text-muted text-sm">
                      users:
                      <span class="text-dark">{{ TItem.Users || "--" }}</span>
                      <span class="float-right">
                        tran.
                        <span class="text-dark">{{
                          TItem.Transactions || "--"
                        }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
