
<fieldset class="form-fieldset ">
    <legend>Upload Merchant</legend>
    <div class="container d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span>
            
            <!-- <input type="button" id="btnFileUpload" value="Select File" /> -->
            <!-- <a onclick="" id="FileUploadLink">Browse from device</a> -->
            <!-- <span id="spnFilePath"></span>
            <input type="file" id="FileUpload1" hidden /> -->

            <input type="file" id="myFile" size="50" (change)="onFileChange($event)" multiple="false"
            class="cursor-pointer btn  dragDrop" accept=".xlsx" style="padding:35px !important;" />

   
            <!-- <ng2-file-input id="myFile"  class="text-center mt-1" [multiple]="false" 
                (onAdded)="onFileChange($event)"
                extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                [removable]="false"></ng2-file-input>   -->

                <button onclick="myFunction()" (click)="onUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button>
                <button (click)="onUploadFinish()" class="btn btn-brand-02  wd-200 mt-3">Finish Upload</button>
            <!-- <input type="file" ng2FileSelect [uploader]="uploader"  (onFileSelected)="onFileSelected($event)" />
             <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" /> -->
            <!-- <div class="pd-20">
            </div> -->
            <!-- <strong>{{ uploader?.queue?.name }}</strong> -->
        </div>    
    </div>
</fieldset>

<div id="ModalShowFile" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-lg d-flex justify-content-center" >
        
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title ">Upload Merchant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>

            
            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span>

                    <h6><label id="demo"></label></h6>
                    <label class="text-muted mg-t-30">Uploading merchant...</label>
                    <label class="text-muted">We upload and notify you once process is complete</label>
             
            </div>
        </div>
    </div>
</div>
<div id="ModalShowFileFinish" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-lg d-flex justify-content-center" >
        
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title ">Upload Finish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                <span class="tx-50 tx-success"><i class='lni lni-checkmark-circle'></i></span>
                <h6><label >8000 of 10000 Merchants Successfully uploaded</label></h6>
                <label class="text-muted">500 merchant found as existing customers of TUC</label>
                <label class="text-muted mg-t-30">We are unable to find 1500 merchants, you can still try to upload it</label>
                <!-- <a href="" class="">Try Again</a> -->
             
            </div>
            
            <h6 type="button" class="btn" data-toggle="modal"  data-target="#ModalShowFileFinish" class="tx-brand-02 text-center mg-b-25">  Try Again </h6    >

        </div>
    </div>
</div>


<!-- <div class="card">
    <div class="card-header b-b b-2x">
        <h6 class="text-primary">Merchants Upload</h6>
        <small class="text-secondary">Upload merchants list in bulk </small>
    </div>
    <div class="card-body light">
        <div class="row no-gutters">
            <div class="col-md-7">
                <input type="file" (change)="onFileChange($event)" multiple="false"
                    class="btn warn btn-lg p-3 float-center" accept=".ods" style="padding:35px !important;" />

                <a href="../../../../assets/uploads/MerchantImport.xlsx" target="_blank"
                    class="btn btn-success float-left p-3 mb-3">
                    <div class="mb-2"><i class="fa fa-file-excel fa-4x"></i> </div>
                    <div> Download Sample</div>
                </a>
            </div> -->
            <!-- <div class="col-md-5">
    <div class="mb-2">
    Fields required for upload
    </div>
    <div class="row">
    <div class="col-md-6 ">
    <div class="text-danger mb-1 700">FirstName <span class="text-danger 500 text-xs"> :
    required</span>
    </div>
    <div class="mb-1 text-danger 700">LastName <span class="text-danger 500 text-xs"> :
    required</span>
    </div>
    <div class="text-danger 700">MobileNumber <span class="text-danger 500 text-xs"> :
    required</span></div>
    </div>
    <div class="col-md-6 ">
    <div class="mb-1">EmailAddress <span class="text-success _500 text-xs">optional</span></div>
    <div class="mb-1">Gender <span class="text-success _500 text-xs">optional</span></div>
    <div>Date Of Birth <span class="text-success _500 text-xs">optional</span></div>
    </div>
    </div>
    </div> -->
        <!-- </div>

    </div>
    <div class="card-header b-b b-2x b-t " *ngIf="CustomersList.length > 0">
        <h3 class="text-warn">Merchants Upload Status</h3>
        <small class="text-gray">Process selected customers list </small>
    </div>
    <div class="card-body" *ngIf="CustomersList.length > 0">
        <button type="button" class="btn btn-success float-left p-3 mb-3" (click)="StartCustomerUpload()"
            *ngIf="!IsUploading">
            <div class="mb-2"><i class="fa fa-upload fa-4x"></i> </div>
            <div>Start Upload</div>
        </button>

        <h1> {{UploadCount || '0'}} / {{TotalCount || '0'}} </h1>

    </div>
    <div class="card-body p-0" *ngIf="CustomersList.length > 0">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Company</th>
                        <th>Contact Number</th>
                        <th>Email Address</th>
                        <th>Reward %</th>
                        <th>Status</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let TItem of CustomersList">
                        <td>
                            {{ TItem.DisplayName || '--'}}
                        </td>
                        <td>
                            {{ TItem.CompanyName || '--'}}
                        </td>
                        <td>
                            {{ TItem.BusinessContactNumber || '--'}}
                        </td>
                        <td>
                            {{ TItem.BusinessEmailAddress || '--'}}
                        </td>
                        <td>
                            {{ TItem.RewardPercentage || '--'}}
                        </td>
                        <td>
                            {{ TItem.Status || '--'}}
                        </td>
                        <td>
                            {{ TItem.Message || '--'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<!-- <div class="card">
    <div class="card-header b-b b-2x">
        <h6 class="text-primary">Merchants Upload</h6>
        <small class="text-secondary">Upload merchants list in bulk </small>
    </div>
    <div class="card-body light">
        <div class="row no-gutters">
            <div class="col-md-7">
                <input type="file" (change)="onFileChange($event)" multiple="false"
                    class="btn warn btn-lg p-3 float-center" accept=".xlsx" style="padding:35px !important;" />

                <a href="../../../../assets/uploads/MerchantImport.xlsx" target="_blank"
                    class="btn btn-success float-left p-3 mb-3">
                    <div class="mb-2"><i class="fa fa-file-excel fa-4x"></i> </div>
                    <div> Download Sample</div>
                </a>
            </div> -->
         
        <!-- </div>

    </div>
    <div class="card-header b-b b-2x b-t " *ngIf="CustomersList.length > 0">
        <h3 class="text-warn">Merchants Upload Status</h3>
        <small class="text-gray">Process selected customers list </small>
    </div>
    <div class="card-body" *ngIf="CustomersList.length > 0">
        <button type="button" class="btn btn-success float-left p-3 mb-3" (click)="StartCustomerUpload()"
            *ngIf="!IsUploading">
            <div class="mb-2"><i class="fa fa-upload fa-4x"></i> </div>
            <div>Start Upload</div>
        </button>

        <h1> {{UploadCount || '0'}} / {{TotalCount || '0'}} </h1>

    </div>
    <div class="card-body p-0" *ngIf="CustomersList.length > 0">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Company</th>
                        <th>Contact Number</th>
                        <th>Email Address</th>
                        <th>Reward %</th>
                        <th>Status</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let TItem of CustomersList">
                        <td>
                            {{ TItem.DisplayName || '--'}}
                        </td>
                        <td>
                            {{ TItem.CompanyName || '--'}}
                        </td>
                        <td>
                            {{ TItem.BusinessContactNumber || '--'}}
                        </td>
                        <td>
                            {{ TItem.BusinessEmailAddress || '--'}}
                        </td>
                        <td>
                            {{ TItem.RewardPercentage || '--'}}
                        </td>
                        <td>
                            {{ TItem.Status || '--'}}
                        </td>
                        <td>
                            {{ TItem.Message || '--'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->