<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10 mg-l-15">
        <li class="breadcrumb-items text-small">Merchant Management</li>
        <li class="breadcrumb-items text-small">Merchants</li>
        <li class="breadcrumb-items active" aria-current="page">Add New Merchant</li>
    </ol>
</nav>


<div class="tx-13 card mg-b-25">
    <div id="wizard">
        <!-- <h3 hidden>General Details</h3> -->
        <h3 hidden>Business Information</h3>

        <section>
            <form [formGroup]="Form_AddMerchant" class="body-font"
                (ngSubmit)="Form_AddMerchant_Process(Form_AddMerchant.value)">
                <h3>Business Information</h3>
                <p class="small-text">Please Enter merchants initial information to create merchant account</p>
                <div class="row row-sm">

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Business Name<span class="text-danger"> *</span></label>
                            <div class="controls">

                                <input required type="text" placeholder="Enter Business Name" name="Name" id="BName"
                                    class="form-control" [formControl]="Form_AddMerchant.controls['Name']"
                                    [ngClass]="{'is-invalid':!Form_AddMerchant.controls['Name'].valid && Form_AddMerchant.controls['Name'].touched}">
                            </div>

                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddMerchant.controls['Name'].hasError('required') && Form_AddMerchant.controls['Name'].touched ">
                                Enter business name
                            </label>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddMerchant.controls['Name'].hasError('minlength') || Form_AddMerchant.controls['Name'].hasError('maxlength')">business
                                Name must be between 4 - 256 characters</label>
                        </div>
                        <div class="form-group  ">
                            <label>Business Display Name<span class="text-danger">*</span> </label>
                            <div class="controls">
                                <input required type="text" name="DisplayName" id="BNickname" maxlength="25"
                                    placeholder="Display Name" class="form-control"
                                    [formControl]="Form_AddMerchant.controls['DisplayName']"
                                    [ngClass]="{'is-invalid':!Form_AddMerchant.controls['DisplayName'].valid && Form_AddMerchant.controls['DisplayName'].touched}">
                            </div>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddMerchant.controls['DisplayName'].hasError('required') && Form_AddMerchant.controls['DisplayName'].touched">
                                Enter business display name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddMerchant.controls['DisplayName'].hasError('minlength') || Form_AddMerchant.controls['DisplayName'].hasError('maxlength')">parent
                                Display name must be between 2 - 25 characters</label>

                        </div>
                        <div class="form-group  ">
                            <label>Business Owner Name<span class="text-danger">*</span> </label>
                            <div class="controls">
                                <input required type="text" name="BusinessOwnerName" id="BusinessOwnerName"
                                    (keypress)="_HelperService.PreventNumber($event)" placeholder="Enter Business"
                                    class="form-control" [formControl]="Form_AddMerchant.controls['BusinessOwnerName']"
                                    [ngClass]="{'is-invalid':!Form_AddMerchant.controls['BusinessOwnerName'].valid && Form_AddMerchant.controls['BusinessOwnerName'].touched}">
                            </div>
                            <label class="text-danger" for="BusinessOwnerName"
                                *ngIf="Form_AddMerchant.controls['BusinessOwnerName'].hasError('required') && Form_AddMerchant.controls['BusinessOwnerName'].touched">
                                Enter Owner name name
                            </label>
                            <label class="text-danger" for="BusinessOwnerName"
                                *ngIf="Form_AddMerchant.controls['BusinessOwnerName'].hasError('minlength') || Form_AddMerchant.controls['BusinessOwnerName'].hasError('maxlength')">parent
                                Owner name must be between 2 - 25 characters</label>

                        </div>
                        <div class="form-group  ">
                            <label>Business Email Address<span class="text-danger">*</span> </label>
                            <div class="controls">
                                <input required type="email" name="EmailAddress" placeholder="Enter Email ID"
                                    class="form-control" id="BEmail"
                                    [formControl]="Form_AddMerchant.controls['EmailAddress']"
                                    [ngClass]="{'is-invalid':!Form_AddMerchant.controls['EmailAddress'].valid && Form_AddMerchant.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddMerchant.controls['EmailAddress'].hasError('required') && Form_AddMerchant.controls['EmailAddress'].touched">
                                Enter business email address
                            </label>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddMerchant.controls['EmailAddress'].hasError('email') && Form_AddMerchant.controls['EmailAddress'].touched ">
                                Enter valid business email address</label>

                        </div>
                        <div class="form-group  ">
                            <label>Business Contact Number<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">+234</span>
                                    </div>
                                    <input required style="height: 40px;" type="text" name="ContactNumber"
                                        placeholder="Enter Phone Number" id="BContact"
                                        [formControl]="Form_AddMerchant.controls['ContactNumber']"
                                        class="form-control contact-textbox-height"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [ngClass]="{'is-invalid':!Form_AddMerchant.controls['ContactNumber'].valid && Form_AddMerchant.controls['ContactNumber'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_AddMerchant.controls['ContactNumber'].hasError('required') && Form_AddMerchant.controls['ContactNumber'].touched">enter
                                Business contact number</label>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_AddMerchant.controls['ContactNumber'].hasError('minlength') || Form_AddMerchant.controls['ContactNumber'].hasError('maxlength')">
                                Business contact number must be between 10 to 14 numbers
                            </label>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="tx-medium tx-14">Business Location</h3>
                                <hcx-addressmanager [data]="_Address" (OnAddressSet)="AddressChange($event)">
                                </hcx-addressmanager>
                            </div>
                        </div>

                        <div class="custom-control mg-t-30 custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [checked]="!_ContactInfo"
                                (change)="_ToogleContactInfo()" name="browser[]" value="1" data-parsley-mincheck="2"
                                data-parsley-class-handler="#cbWrapper"
                                data-parsley-errors-container="#cbErrorContainer" required=""
                                data-parsley-multiple="browser" id="b2">
                            <label class="custom-control-label  text-muted tx-14" for="b2">Contact Information same as
                                Business Information</label> <br>
                        </div>
                        <div>
                            <h3 class="titleclass mg-t-20">Contact Information</h3>
                            <p class="small-text mt-2">please enter business registered address or main business
                                location
                            </p>
                            <div class="row row-sm">
                                <div class="col-sm-12 col-md-6 col-lg-12">
                                    <div class="form-group">

                                        <label>Contact Person<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="FirstName" id="FirstName"
                                                placeholder="Primary Contact person information"
                                                [formControl]="Form_AddMerchant.controls['FirstName']"
                                                (keypress)="_HelperService.PreventNumber($event)" class="form-control"
                                                [ngClass]="{'is-invalid':!Form_AddMerchant.controls['FirstName'].valid && Form_AddMerchant.controls['FirstName'].touched}">

                                        </div>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="Form_AddMerchant.controls['FirstName'].hasError('required') && Form_AddMerchant.controls['FirstName'].touched">
                                            Enter person name
                                        </label>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="Form_AddMerchant.controls['FirstName'].hasError('minlength') || Form_AddMerchant.controls['FirstName'].hasError('maxlength')">
                                            Person name must be between 4 - 256 characters
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-12">
                                    <div class="form-group">

                                        <label>Email ID<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input required type="email" id="EmailAddress" name="EmailAddress"
                                                [formControl]="Form_AddMerchant.controls['CEmailAddress']"
                                                placeholder="Enter Email ID" class="form-control"
                                                [(ngModel)]="Form_AddMerchant.value.CEmailAddress"
                                                [ngClass]="{'is-invalid':!Form_AddMerchant.controls['EmailAddress'].valid && Form_AddMerchant.controls['EmailAddress'].touched}">

                                        </div>
                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="Form_AddMerchant.controls['EmailAddress'].hasError('required') && Form_AddMerchant.controls['EmailAddress'].touched">
                                            Enter business email address
                                        </label>
                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="Form_AddMerchant.controls['EmailAddress'].hasError('email') && Form_AddMerchant.controls['EmailAddress'].touched">
                                            Enter valid business email address
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-12">
                                    <div class="form-group">

                                        <label>Mobile Number<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">+234</span>
                                                </div>
                                                <input required type="text" style="height: 40px;" id="ContactNum"
                                                    name="MobileNumber" placeholder="Enter mobile Number"
                                                    [formControl]="Form_AddMerchant.controls['MobileNumber']"
                                                    class="form-control contact-textbox-height"
                                                    (keypress)="_HelperService.PreventText($event)"
                                                    [(ngModel)]="Form_AddMerchant.value.MobileNumber"
                                                    [ngClass]="{'is-invalid':!Form_AddMerchant.controls['MobileNumber'].valid && Form_AddMerchant.controls['MobileNumber'].touched}">

                                            </div>
                                            <label class="text-danger" for="MobileNumber"
                                                *ngIf="Form_AddMerchant.controls['MobileNumber'].hasError('required') && Form_AddMerchant.controls['MobileNumber'].touched">
                                                Enter Mobile number
                                            </label>
                                            <label class="text-danger" for="MobileNumber"
                                                *ngIf="Form_AddMerchant.controls['MobileNumber'].hasError('minlength') || Form_AddMerchant.controls['MobileNumber'].hasError('maxlength')">
                                                Mobile number must be between 10 - 14 number
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="titleclass mt-3">Reward Details</h3>
                        <p class="small-text mt-2">Please Enter initial reward percentage provided by customer.Keep
                            empty to allow merchant to set</p>
                        <div class="row row-sm">
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="form-group">
                                    <label>Reward Percentage<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Reward Percentage" name="RewardPercentage"
                                            id="BRewardPer" (keypress)="_HelperService.PreventText($event)"
                                            [formControl]="Form_AddMerchant.controls['RewardPercentage']"
                                            class="form-control" [(ngModel)]="Form_AddMerchant.value.RewardPercentage"
                                            [ngClass]="{'is-invalid':!Form_AddMerchant.controls['RewardPercentage'].valid && Form_AddMerchant.controls['RewardPercentage'].touched}">
                                    </div>
                                    <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddMerchant.controls['RewardPercentage'].hasError('required') && Form_AddMerchant.controls['RewardPercentage'].touched">
                                        Enter reward percentage
                                    </label>
                                    <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddMerchant.controls['RewardPercentage'].hasError('min') || Form_AddMerchant.controls['RewardPercentage'].hasError('max')">
                                        Reward Percentage must be between 0 to 100
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary float-right" (click)="Form_AddMerchant_Show()"
                        [disabled]="!Form_AddMerchant.valid || _HelperService.IsFormProcessing">
                        Save
                    </button>
                </div>
            </form>
        </section>

        <h3 hidden>Store Details</h3>

        <section id="storewiz">
            <h3>Create First Store</h3>
            <p class="small-text mt-2">Please Enter store initial information to create first store</p>
            <form [formGroup]="Form_AddStore" class="body-font" (ngSubmit)="RegisterNewStore(Form_AddStore.value)">
                <div class="custom-control mg-t-30 custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="browser[]" value="1"
                        [checked]="_StoreInfoCopy" (change)="_ToogleStoreCopy()" data-parsley-mincheck="2"
                        data-parsley-class-handler="#cbWrapper" data-parsley-errors-container="#cbErrorContainer"
                        required="" data-parsley-multiple="browser" id="b3">
                    <label class="custom-control-label  text-muted tx-14" for="b3">
                        Store details are same as business details
                    </label>
                    <br>
                </div>

                <div class="row mg-t-20">

                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <div class="form-group">
                            <label>Store Name<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input required [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                    name="DisplayName" placeholder="Enter Store Name"
                                    [formControl]="Form_AddStore.controls['DisplayName']" class="form-control"
                                    id="F_StoreName" [(ngModel)]="Form_AddStore.value.DisplayName"
                                    [ngClass]="{'is-invalid':!Form_AddStore.controls['DisplayName'].valid && Form_AddStore.controls['DisplayName'].touched}">
                            </div>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddStore.controls['DisplayName'].hasError('required') && Form_AddStore.controls['DisplayName'].touched">
                                Enter store name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddStore.controls['DisplayName'].hasError('minlength') || Form_AddStore.controls['DisplayName'].hasError('maxlength')">
                                Store name must be between 4 to 40 characters
                            </label>
                        </div>
                        <div class="form-group ">
                            <label>Email ID<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input required [attr.disabled]="_StoreInfoCopy ? '' : null" type="email"
                                    name="EmailAddress" class="form-control"
                                    placeholder="Enter Email Id of store or Use Business Id" id="F_StoreEmail"
                                    [formControl]="Form_AddStore.controls['EmailAddress']"
                                    [(ngModel)]="Form_AddStore.value.EmailAddress"
                                    [ngClass]="{'is-invalid':!Form_AddStore.controls['EmailAddress'].valid && Form_AddStore.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddStore.controls['EmailAddress'].hasError('required') && Form_AddStore.controls['EmailAddress'].touched">
                                Enter email address
                            </label>

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddStore.controls['EmailAddress'].hasError('email') && Form_AddMerchant.controls['EmailAddress'].touched ">
                                Enter valid email address
                            </label>
                        </div>
                        <div class="form-group">
                            <label> Phone Number<span class="text-danger">*</span>
                            </label>
                            <div class="controls input-group">
                                <div class="input-group-prepend">
                                    <span style="height: 36px;"
                                        class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                </div>

                                <input required [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                    name="MobileNumber" placeholder="Enter Store Phone number"
                                    [formControl]="Form_AddStore.controls['MobileNumber']" class="form-control"
                                    (keypress)="_HelperService.PreventText($event)" id="F_StorePhone"
                                    [(ngModel)]="Form_AddStore.value.MobileNumber"
                                    [ngClass]="{'is-invalid':!Form_AddStore.controls['MobileNumber'].valid && Form_AddStore.controls['MobileNumber'].touched}">
                            </div>
                            <label class="text-danger" for="MobileNumber"
                                *ngIf="Form_AddStore.controls['MobileNumber'].hasError('required') && Form_AddStore.controls['MobileNumber'].touched">
                                Enter Phone number is required field
                            </label>
                            <label class="text-danger" for="MobileNumber"
                                *ngIf="Form_AddStore.controls['MobileNumber'].hasError('minlength') || Form_AddStore.controls['MobileNumber'].hasError('maxlength')">
                                Phone number must be between 10 to 18 numbers
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mg-l-30">

                        <div class="col-md-6">
                            <h3 class="tx-medium tx-14">Business Location</h3>
                            <hcx-addressmanager #storelocator [data]="_AddressStore"
                                (OnAddressSet)="AddressChangeStore($event)">
                            </hcx-addressmanager>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary float-right" (click)="Form_AddStore_Show()"
                        [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
                        Save
                    </button>
                </div>
            </form>
        </section>

        <h3 class="ml-3">POS Terminals</h3>
        <section>
            <div class="col-md-12">
                <div class="tx-14 text-muted"> Please add pos detail of merchant. Please select proper PTSP for
                    terminal
                    and confirm before finish</div>
                <div class="row mg-t-25">
                    <div class="form-group col-md-5 pb-0 mb-0 col-sm-12">
                        <label class="tx-13 text-muted">Acquirer Name</label> <br>
                        <select2 [options]="GetAcquirersOption" (valueChanged)="GetAcquirersListChange($event)">
                        </select2>
                    </div>


                    <div class="form-group col-md-3 col-sm-12">
                        <label class="tx-13 text-muted">{{ "System.Users.TerminalId" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" name="DisplayName" class="form-control wd-80p"
                                [formControl]="Form_AddTerminal.controls['TerminalId']" />
                        </div>
                        <label class="text-danger" for="DisplayName"
                            *ngIf="Form_AddTerminal.controls['TerminalId'].hasError('required') && Form_AddTerminal.controls['TerminalId'].touched">
                            Terminal ID is necessary
                        </label>
                        <label class="text-danger" for="DisplayName"
                            *ngIf="Form_AddTerminal.controls['TerminalId'].hasError('minlength') || Form_AddTerminal.controls['TerminalId'].hasError('maxlength')">
                            Terminal ID must be min 6 In length
                        </label>
                    </div>

                    <div class="col-md-4 pd-t-25 col-sm-12">
                        <button type="button" class="btn btn-primary" (click)="AddTerminalToList()"
                            [disabled]="!Form_AddTerminal.valid || _HelperService.IsFormProcessing">
                            Add POS
                        </button>
                    </div>

                </div>


                <table class="table my-3">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No</th>
                            <th scope="col">Terminal Id</th>
                            <th scope="col">Acquirer</th>
                            <th scope="col">Store</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let TItem of _TerminalList; let i = index">
                            <th scope="row">
                                {{i+1}}
                            </th>
                            <td>{{TItem.DisplayName}}</td>
                            <td>{{TItem.AquirerName || '--'}}</td>
                            <td>{{Form_AddStore.controls['DisplayName'].value}}</td>
                            <td><span><a (click)="RemoveTerminal(TItem.ReferenceId)"><span
                                            class="fa fa-trash cursor-pointer text-danger text-md"></span></a></span>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div class="card-footer">
                    <button type="button" class="btn btn-success float-right" (click)="AddTerminal_Process()">
                        Finish
                    </button>
                </div>
            </div>

        </section>
    </div>
</div>


<div class="modal " id="form_AddProduct_Content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mg-t-80">
        <div class="modal-content  ht-xl-450 wd-xl-500 ">
            <div class="modal-header ">
                <h6 class="modal-title ml-3">Create New Merchant</h6>
            </div>
            <div class="modal-body pd-30 ht-xl-300 wd-xl-500">
                <p class="tx-14 text-muted">Please Confirm you want to add
                    <span class="tx-semibold tx-black">{{Form_AddMerchant.controls['DisplayName'].value}}</span>
                    as merchant with <span class="tx-semibold text-success" id="brewardper">
                        {{Form_AddMerchant.controls['RewardPercentage'].value}} % </span> reward on all products?
                </p>
                <div class="row mt-3">
                    <div class="col-md-3">Business </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{Form_AddMerchant.controls['DisplayName'].value}}</div>
                    <div class="col-md-3">Address </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{_Address.Address}}</div>
                    <div class="col-md-3">Phone </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{Form_AddMerchant.controls['MobileNumber'].value}}</div>
                    <div class="col-md-3">Email </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{Form_AddMerchant.controls['EmailAddress'].value}}</div>



                </div>
                <div class="row pd-y-20">
                    <div class="col-md-3">User Name </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-danger">{{Form_AddMerchant.controls['EmailAddress'].value}}</div>
                </div>
                <p class="text-muted mt-3">
                    Select <span class="text-primary"> Save & Invite </span> button to send account details and
                    password to merchant on <span class="tx-black"> {{Form_AddMerchant.controls['EmailAddress'].value}}
                    </span> or Just select <span class="text-success"> Save </span> button to create account.
                </p>
            </div>
            <div class="modal-footer mg-t-10">
                <button type="button" class="btn btn-white tx-13" data-dismiss="modal">Cancel</button>
                <button type="button" id="createbtn" class="btn btn-outline-primary tx-13"
                    (click)="Form_AddMerchant_Process();">Save</button>
                <button type="button" class="btn btn-primary tx-13" data-dismiss="modal"
                    (click)="Form_AddMerchant_Process();">Save & Invite</button>

            </div>
        </div>
    </div>
</div>

<div class="modal " id="form_AddStore_Content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mg-t-80">
        <div class="modal-content  ht-xl-400 wd-xl-500 ">
            <div class="modal-header ">
                <h6 class="modal-title ml-3">Add Store To {{Form_AddMerchant.controls['DisplayName'].value}}</h6>
            </div>
            <form>
                <div class="modal-body pd-30 ht-xl-250 wd-xl-500">
                    <p class="tx-14 text-muted">Please Confirm you want to add <span class="tx-semibold tx-black">
                            {{Form_AddStore.controls['DisplayName'].value}}</span> for
                        {{Form_AddMerchant.controls['DisplayName'].value}}</p>
                    <div class="row mt-3">
                        <div class="col-md-3">Store </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8 text-muted">{{Form_AddStore.controls['DisplayName'].value}}</div>
                        <div class="col-md-3">Address </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8 text-muted"> {{_AddressStore.Address}}</div>
                        <div class="col-md-3">Phone. </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8 text-muted">{{Form_AddStore.controls['MobileNumber'].value}}</div>
                        <div class="col-md-3">Email </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8 text-muted"> {{Form_AddStore.controls['EmailAddress'].value}}</div>

                        <p class="text-muted pd-l-15 mt-3"> Select <span class="text-primary"> Save </span> button to
                            create account or cancel button to close this popup..
                        </p>
                    </div>
                </div>
                <div class="modal-footer mg-t-10">
                    <button type="button" class="btn btn-white tx-13" data-dismiss="modal">Cancel</button>
                    <button type="button" id="createbtn" class="btn btn-primary tx-13"
                        (click)="RegisterNewStore();">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal " id="form_Success_Content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mg-t-200">
        <div style="background: #FFFFFF 0% 0% no-repeat padding-box;border: 1px solid #707070;
               border-radius: 10px;opacity: 1;" class="modal-content wd-500 ht-300p">
            <div class="modal-header ">
                <h6 class="modal-title ml-4">All Done</h6>
            </div>
            <form>
                <div class="modal-body pd-30">
                    <div class="row">
                        <i data-feather="thumbs-up" class="mg-l-40 tx-success wd-40 ht-40"></i>

                        <p class="mg-t-10 mg-l-30">Well done! merchant,store and pos added successfully</p>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" (click)="navigatetoMerchant()" class="btn btn-primary tx-13"
                        data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=<AIzaSyB9DMDX78ll840bMxjGL4WUfjAYXfi8vZo>&libraries=places&sensor=false&language=en"></script>