@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css"; 
@import '../node_modules/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css';
.PosAlert {
  overflow-y: scroll !important;
  height: 300px !important;
}


.hide{
  display: none !important;

}


.PosAlert::-webkit-scrollbar {
  width: 2px;
}
.PosAlert::-webkit-scrollbar-thumb {
  background: #442563; 
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.PosAlert::-webkit-scrollbar-thumb:window-inactive {
background: #442563; 
}
.scroll {
  max-height: 300px;
    overflow-y: auto;
    overflow-x: auto !important;
}
.modal {
  z-index: 101 !important;
}

.modal-backdrop {
  z-index: 100 !important;
}

.backdrop {
  z-index: 100 !important;
}

.aside-fixed {
  z-index: 1000 !important;
  /* z-index: 99 !important; */

}
.SystemActive{
  background-color: #e3e7eD !important;
   color: black !important;

 }
.Word-break{
  word-break: break-all !important;
}

 @media only screen and (max-width: 992px) {

  .Hm-AlignCenter{
    display: flex !important;
    justify-content: center !important; 
   }
   .Hm-textCenterMd{
     text-align: center!important;
   }
  
}

.wd-100p .select2-container {
  width: 100% !important;
 }
 .dropdown-menu
 {
  z-index: 200;
 }
.dark-red{
  color: rgba(220, 53, 69, 1);
}
.full-width{
  width: 100% !important;
}
.faint-red{
  color: #F10875;
}
.breadcrumb-items + .breadcrumb-items {
  padding-left: 0.5rem; }
  .breadcrumb-items + .breadcrumb-items::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #7987a1;
    content: " /"; }
    .breadcrumb-items.active {
      color: #0168FA }
.small-text{
  font: Regular  Roboto;
  letter-spacing: 0px;
  color: rgba(142, 156, 173, 1);
  opacity: 1;
}
.wd-678{
  width: 678px;
}
.wd-778{
  width: 778px;
}
.ht-436{
  height: 436px;
}

.cyan{
  color: #00CCCC;
}

.regular-roboto{
  font: Regular 14px/19px Roboto;
  opacity: 1;
}
.fas {
  transition: all .5s linear;
}
.clicked {
  transform:rotate(180deg);
}
.Hm-HeaderColor{
  color: #707070 !important;
}
::placeholder {
  font-size: 11px !important;
  color: #8E9CAD !important ;
}
.pnx-msg-icon fa-cash-registering {
  width: 48px !important;
  height: 48px !important;
}
.card{
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(226, 229, 237, 1);
  opacity: 1;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.card-body{
  border-radius: 0px !important;

}
.tx-panelheader{
  font: Bold 18px/24px Roboto;
}
.tx-grey{
  color: grey !important;
}
.tx-black{
  color: black !important;
}
.tx-MasterCard{
  color: #FFC20A !important;
}
.tx-verve{
  color: #F10875  !important;
}
.tx-alertpos{
  color: #FF0000 !important;
}
.bg-deadpos{
  background-color: #F10875 !important ;
}


.dragDrop{
  min-width: 200px;
  min-height: 50px;
  border: 2px dashed #333;
  padding: 100px !important;
}

.iconColor{
  color: #8392a5 !important;
}
@media only screen and (max-width: 768px) {
 .Hm-media768{
  margin-top: 16px !important;
 }

 .Hm-HideDiv{
display: none !important;
 }

 .Hm-DisplayDiv{
  display: block !important;
   }


 .Hm-mg-y{

margin: 5px 0px 5px 0px !important;

 }

 .Hm-AlignCenter{
  text-align: center !important;
 }

 .Hm-mg-l{
   padding-left: 1.25rem !important;
 }

 .Hm-height{
height: 200px !important;

 }

}

.textPagination{
  /* color: grey !important; */
  font-size: 12px !important;
}

.themeBorderColor{
  border: 1px solid #e5e5e5!important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius:  50px !important;;
  border-right: none !important;
  width: 201px !important;
}
.themeBtnBorderColor{
  border: 1px solid #e5e5e5!important;
  border-left: none !important;
}
.boxPagination{
  border-radius: 5px !important;
color: gray ! important;
outline: none !important;
font-size: 12px !important;

}
.form-daterangepicker{

  color: #7b7b7b !important;
  border: 1px solid #e5e5e5!important;
}

.rowvertical{
vertical-align: middle !important;
}
th:last-child {
  /* padding-left:20px; */
  padding-right:30px !important;
}
td:last-child {
  /* padding-left:20px; */
  padding-right:30px !important;
}
th:first-child {
  padding-left:10px !important ;
  /* padding-right:30px !important; */
}
td:first-child {
  padding-left:10px !important;
  /* padding-right:30px !important; */
}


.infotag-color{
color: #084085 !important;
}

.a-color{
  color: black !important;
}

.merchantlist-details{
  display: flex !important;
  align-items: none !important;

}

/* .skin{
background-color:white !important;
} */

body{
  background-color: white!important;
}

@media (min-width: 992px) {
  .content-fixed {
   padding-top: 60px; } 
  
  
  }
   

   .crypto-icon {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

 
.content-auth {
  min-height: calc(100vh - 106px);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .content-auth > .container {
    padding: 0; }
    @media (max-width: 1139px) {
      .content-auth > .container {
        max-width: none;
        padding: 0 20px; } }
    .content-auth > .container:first-child {
      flex: 1; }

.content-auth-alt {
  min-height: calc(100vh - 106px);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .content-auth-alt .container {
    padding: 0; }
    @media (max-width: 1139px) {
      .content-auth-alt .container {
        max-width: none; } }

.sign-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px; }
  @media (min-width: 1200px) {
    .sign-wrapper {
      width: 340px; } }
  .sign-wrapper .form-group label {
    display: block;
    margin-bottom: 5px; }

    .ngx-pagination a, .ngx-pagination button
    {
          display: block;
    min-width: 34px;
    padding: 6px 6px !important;
    border-width: 0;
    /* background-color: #b4bdce; */
    color: #596882;
    border-radius: 0.25rem  !important;
    text-align: center;
    }


    .ngx-pagination .current {
    color: #fefefe;
    cursor: default;
    background: #0168fa  !important;
    min-width: 34px;
    padding: 6px 6px  !important;
    border-width: 0;
    border-radius: 0.25rem   !important;
    text-align: center;
}

.select2-container{width:auto!important;min-width:180px!important}.select2-container--default .select2-results>.select2-results__options{max-height:180px}.full-width .select2-container{width:100%!important}.select2-container--default .select2-selection--single{border:1px solid #e5e5e5!important;border-radius:2px!important}.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:35px!important}.select2-container--default .select2-selection--single .select2-selection__arrow{height:35px!important}.select2-dropdown{border:1px solid #e5e5e5!important;border-radius:2px!important}.select2-container .select2-selection--single{height:38px!important}.select2-container{width:auto!important;min-width:160px!important}.form-control,.select2-container--default .select2-selection--multiple{border-radius:2px}.select2-selection--multiple .select2-selection__rendered{height:30px}.select2-container--default.select2-container--focus .select2-selection--multiple .select2-container--default .select2-selection--multiple{border:1px solid #e5e9ec}.select2-container--default .select2-selection--multiple{border-radius:2px}.select2-container--default.select2-container--focus .select2-selection--multiple{border:1px solid #e5e9ec}.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#f9f9f9;border:1px solid #e6e9ec;border-radius:2px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:1px 5px}.select2-container .select2-search--inline .select2-search__field{margin-top:0}.select2-search{padding-top:0}.select2-container--default .select2-selection--multiple{border:1px solid #e6e9ec}.select2-search input{padding:6px 11px 6px 6px!important}.full-width,.full-width .select2-container{width:100%!important}.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#7b7b7b;font-size:14px;text-transform:capitalize}.select2-container .select2-selection--single{height:38px!important}.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:33px!important}.select2-container--default .select2-selection--single .select2-selection__arrow{height:32px!important}
.cursor-pointer{
  cursor: pointer !important;
}

.ng5-slider .ng5-slider-pointer
{
  width: 16px !important;
  height: 16px !important;
  top: -6px !important;
  background-color: #0168fa !important;

}

.ng5-slider .ng5-slider-pointer:after {
  width: 8px !important;
  height: 8px !important;
  top: 4px !important;
  left: 4px !important;
  border-radius: 4px;
}
.b-2x {
  border-width: 2px !important;
}
.ng5-slider .ng5-slider-selection
{
  background: #0168fa !important;
}

.ng5-slider .ng5-slider-bubble
{
  color: inherit !important;
  font-size: 11px !important;
  font-weight: 500;
  text-transform: uppercase;
}
.table-hover tbody tr:hover {
  color: #001737;
  background-color: rgba(0, 0, 0, 0.075); }

  .ng2-file-input .ng2-file-input-drop-container {
    min-width: 200px;
    min-height: 50px;
    border: 2px dashed #333;
    padding: 100px;
  }
  .ng2-file-input .ng2-file-input-drop-container button {
    margin-left: 25px;
  }
  .ng2-file-input .ng2-file-input-drop-container.file-is-over {
    border: 2px solid #007e40;
    color: #007e40;
  }
  .ng2-file-input input {
    display: none;
  }
  .ng2-file-input .ng2-file-input-files {
    margin-top: 8px;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file {
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    position: relative;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file .ng2-file-input-file-text {
    /* max-width: 110px; */
    line-height: 16px;
    display: block;
    padding: 2px;
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 12px;
  

  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file img {
    width: 120px;
    height: 120px;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file.image {
    width: 120px;
    height: 120px;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text {
    position: absolute;
    top: 5px;
    left: 5px;
    line-height: 14px;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    z-index: 5;
    text-overflow: ellipsis;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text:hover {
    overflow: auto;
    white-space: pre-wrap;
    text-overflow: initial;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text.remove, .ng2-file-input .ng2-file-input-files .ng2-file-input-file-text.remove {
    overflow:hidden;
    position: absolute;
    bottom: 0;
    z-index: 3;
    vertical-align: bottom;
    max-width: 120px;
    font-size: 14px;
    line-height: 20px;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 0;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text.remove p, .ng2-file-input .ng2-file-input-files .ng2-file-input-file-text.remove p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: #fff;
  }
  .ng2-file-input .ng2-file-input-files .ng2-file-input-file.image .ng2-file-input-file-text.remove:hover, .ng2-file-input .ng2-file-input-files .ng2-file-input-file-text.remove:hover {
    opacity: 1;
    cursor: pointer;
    background: rgba(169, 68, 66, 0.85);
  }
  


.ranges li
{
  color: #0168fa !important;
  background: none  !important;
  border : 1px solid #0168fa  !important;
}

.ranges li.active, .ranges li:hover {
  background: #0168fa !important;
  border: 1px solid #0168fa !important;
  color: #fff !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #907bef !important;
}
.daterangepicker td.in-range {
  background-color: #f4f2ff !important;
}

.daterangepicker .daterangepicker_input i {
  color: #0168fa;
}

.daterangepicker .input-mini.active {
  border: 1px solid #0168fa !important;
}

.r-1x
{
  border-radius: 4px !important;
}

.swal2-popup .swal2-styled
{
  padding: 7px 13px !important;
  font-weight: normal !important;
    box-shadow: none !important;
    font-size: 12px !important;
}

/* .swal2-popup .swal2-styled.swal2-confirm
{
  font-size: 12px  !important;
}
.swal2-popup .swal2-styled.swal2-cancel
{
  font-size: 13px  !important;
} */

.swal2-popup .swal2-styled.swal2-cancel
{
  background-color: rgb(152, 156, 158)  !important;
}

.swal2-popup
{
  border-radius: 4px !important;
  width: 22em !important;
  padding: 1.5em 1.25em !important;
}
.swal2-popup .swal2-title {
  /* font-weight: 300 !important;
  color: #000 !important;
  font-size: 1.6em  !important; */
  font-weight: 500 !important;
    color: #000 !important;
    font-size: 16px !important;
}
.swal2-popup .swal2-content
{
  font-size: 12px !important;
  font-weight: normal !important;
  color: #736a6a !important;
}
.w-100{
  width:100%;
}
.avatar-sm{
  width:32px;
  height:32px;
}
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.db-title{

  font-weight: 500;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    /* padding-bottom: 2px; */
    letter-spacing: 0;
    font-size: 12px;
}
.db-border{
  border:1px solid lightgray;
}
.btn-default {
	background-color: #fff;
	color: rgba(70, 90, 110, .85)
}


.notie-alert {
  z-index: 1200 !important;
}

.notie-container {
  font-size: 0.8rem;
  height: auto;
  /* left: 0; */
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
  .notie-container {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 750px) {
  .notie-container {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .notie-container {
    font-size: 0.8rem;
  }
}

.notie-background-success {
  background-color: #20ab68;
}

.notie-background-warning {
  background-color: #fda61c;
}

.notie-background-error {
  background-color: #e9223f;
}

.notie-background-info {
  background-color: #8673ea;
}

.notie-background-neutral {
  background-color: #a0a0a0;
}

.notie-background-overlay {
  background-color: #fff;
}

.notie-textbox {
  color: #fff;
  padding: 10px 20px;
}

.notie-textbox-inner {
  margin: 0 auto;
  max-width: 900px;
}

.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.notie-button {
  cursor: pointer;
}

.notie-button,
.notie-element {
  color: #fff;
  padding: 10px;
}

.notie-element-half {
  width: 50%;
}

.notie-element-half,
.notie-element-third {
  display: inline-block;
  box-sizing: border-box;
}

.notie-element-third {
  width: 33.3333%;
}

.notie-alert {
  cursor: pointer;
}

.notie-input-field {
  background-color: #fff;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.notie-select-choice-repeated {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  box-sizing: border-box;
}

.notie-date-selector-inner {
  margin: 0 auto;
  max-width: 900px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.notie-date-selector-inner [contenteditable],
.notie-date-selector-inner [contenteditable]:focus {
  outline: 0 solid transparent;
}

.notie-date-selector-up {
  transform: rotate(180deg);
}



@keyframes colorchange {
  0% {
    background: #e8eaed
  }
  25% {
    background: #e8eaed;
  }
  75% {
    background: #bdc1c6;
  }
  100% {
    background:  #e8eaed;;
  }
}

.md-chip {
  animation: colorchange 2s;
  animation-iteration-count: infinite;
  background: #e8eaed;
  display: inline-block;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;

}
.md-chip.md-chip-hover:hover {
    background: #ccc;
  }

.md-chip-clickable {
  cursor: pointer;
}

.md-chip,
.md-chip-icon {
  height: 32px;
  line-height: 32px;
}

.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;

}
.md-chip-remove:after {
  color: #e8eaed;
  content: "x";
}
.md-chip-remove:hover {
  background: #999;
}
.md-chip-remove:active {
  background: #777;
}


.md-chips {
  padding: 12px 0;
 
}

.md-chip {
  margin: 0 5px 3px 0;
}

.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.dropdown a{
cursor: pointer !important;

}
.fa-sort-alpha-down-alt{
cursor: pointer !important;

}

.card{
  border-radius: 0.25rem !important;

}

/* dev_kishor css start */
.RefreshColor{
  color: #596882 !important;
}

.RefreshColorOne:hover{
  color:#0168FA !important;
}
  
/* dev_kishor css end */
