<div class=" h-v d-flex flex align-items-center white " style="  display: block; 
position: relative;
overflow: hidden;">
    <!-- <div class="auroral-agrabah"></div>
    <div class="auroral-stars"></div> -->
    <div class="mx-auto w-xl w-auto-xs animate fadeIn pb-5" style="width: 70%;">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ">
                <div class="mb-3 mt-5" *ngIf="_HelperService.AppConfig.Host == 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/interswitch.png" class="w-xmd">
                </div>
                <div class="mb-3 mt-5" *ngIf="_HelperService.AppConfig.Host != 'interswitch.thankucash.com'"><img
                        src="../../../assets/img/logoinverse.png" class="w-xmd">
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
                    <li role="presentation" class="active"><a aria-controls="discover" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>About Business</p>
                        </a></li>
                    <li role="presentation"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>Business Location</p>
                        </a></li>
                    <li role="presentation"><a aria-controls="optimization" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>Credit First Rewards</p>
                        </a></li>
                    <li role="presentation"><a aria-controls="reporting" role="tab" data-toggle="tab"><i
                                class="fa fa-check" aria-hidden="true"></i>
                            <p>All Set</p>
                        </a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt-4 ">
                        <h4 class="_400">Let's add your Business Location</h4>
                        <div class="text-muted">
                            You can add and manage locations from account panel
                        </div>
                    </div>
                    <div class="col-12">
                        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)"
                            role="form">
                            <div class="m-4">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="md-form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                            <input type="text" required name="Name" maxlength="256" class="md-input"
                                                [formControl]="Form_AddUser.controls['Name']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                            <label class="block w-100">Enter business name</label>
                                            <div>
                                                <label class="text-danger text-xs _600" for="Name"
                                                    *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">Enter
                                                    your business name</label>
                                                <label class="text-danger text-xs _600" for="DisplayName"
                                                    *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">Enter
                                                    your valid business name</label>
                                            </div>
                                        </div>
                                        <div class="md-form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                            <input type="text" required name="EmailAddress" maxlength="256"
                                                class="md-input" [formControl]="Form_AddUser.controls['EmailAddress']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                            <label class="block w-100">Enter business email address</label>
                                            <div>
                                                <label class="text-danger text-xs _600" for="EmailAddress"
                                                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{ 'System.AddMerchant.EmailAddress_ER_Required' | translate }}</label>

                                                <label class="text-danger text-xs _600" for="EmailAddress"
                                                    *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{ 'System.AddMerchant.EmailAddress_ER_Invalid' | translate }}</label>
                                            </div>

                                        </div>
                                        <div class="md-form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                            <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                                class="md-input" (keypress)="_HelperService.PreventText($event)"
                                                value="234" [formControl]="Form_AddUser.controls['MobileNumber']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                            <label class="block w-100">Enter business mobile number</label>
                                            <div>
                                                <label class="text-danger text-xs _600" for="MobileNumber"
                                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">{{ 'System.AddMerchant.MobileNumber_ER_Required' | translate }}</label>
                                                <label class="text-danger text-xs _600" for="MobileNumber"
                                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">{{  'System.AddMerchant.MobileNumber_ER_Length' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="md-form-group">
                                            <input type="text" name="WebsiteUrl" maxlength="1024" class="md-input"
                                                placeholder="(optional)"
                                                [formControl]="Form_AddUser.controls['WebsiteUrl']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['WebsiteUrl'].valid && Form_AddUser.controls['WebsiteUrl'].touched}">
                                            <label class="block w-100">Website link of your business</label>
                                            <div>
                                                <label class="text-danger" for="WebsiteUrl"
                                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('required') && Form_AddUser.controls['WebsiteUrl'].touched">{{ 'System.AddMerchant.WebsiteUrl_ER_Required' | translate }}</label>
                                                <label class="text-danger" for="WebsiteUrl"
                                                    *ngIf="Form_AddUser.controls['WebsiteUrl'].hasError('pattern') && Form_AddUser.controls['WebsiteUrl'].touched">{{ 'System.AddMerchant.WebsiteUrl_ER_Invalid' | translate }}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div> <label class="text-muted text-xs"> Your business type is
                                                </label>
                                            </div>
                                            <div class="radio float-left mr-3">
                                                <label class="ui-check"><input type="radio"
                                                        name="accountoperationtypecode"
                                                        [value]="_HelperService.AppConfig.AccountOperationType.Offline"
                                                        [formControl]="Form_AddUser.controls['AccountOperationTypeCode']">
                                                    <i class="dark-white"></i>
                                                    Offline (store)</label>
                                            </div>
                                            <div class="radio  float-left  mr-3"><label class="ui-check"><input
                                                        type="radio" name="accountoperationtypecode"
                                                        [value]="_HelperService.AppConfig.AccountOperationType.Online"
                                                        [formControl]="Form_AddUser.controls['AccountOperationTypeCode']">
                                                    <i class="dark-white"></i>
                                                    Online (Website , Portal) </label></div>

                                            <div class="radio    mr-3"><label class="ui-check"><input type="radio"
                                                        name="accountoperationtypecode"
                                                        [value]="_HelperService.AppConfig.AccountOperationType.OnlineAndOffline"
                                                        [formControl]="Form_AddUser.controls['AccountOperationTypeCode']">
                                                    <i class="dark-white"></i>
                                                    Both</label></div>
                                        </div>
                                        <div class="md-form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                            <textarea required name="Description" maxlength="256" rows="3"
                                                class="md-input" [formControl]="Form_AddUser.controls['Description']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['Description'].valid && Form_AddUser.controls['Description'].touched}"></textarea>
                                            <label class="block w-100">Tell us about your business</label>
                                            <div>
                                                <label class="text-danger text-xs _600" for="Description"
                                                    *ngIf="Form_AddUser.controls['Description'].hasError('required') && Form_AddUser.controls['Description'].touched">Enter
                                                    your business information</label>
                                                <label class="text-danger text-xs _600" for="Description"
                                                    *ngIf="Form_AddUser.controls['Description'].hasError('minlength') || Form_AddUser.controls['Description'].hasError('maxlength')">Enter
                                                    valid business information</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="md-form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                            <textarea required name="Address" maxlength="256" class="md-input"
                                                [formControl]="Form_AddUser.controls['Address']" rows="2"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}"></textarea>
                                            <label class="block w-100">Enter business address</label>
                                            <div>
                                                <label class="text-danger text-xs _600" for="Address"
                                                    *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">Enter
                                                    your business address</label>
                                                <label class="text-danger text-xs _600" for="Address"
                                                    *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">Enter
                                                    your valid business address</label>
                                            </div>
                                        </div>

                                        <div class="md-form-group">
                                            <input type="text" name="GAddress" maxlength="256" class="md-input"
                                                ngx-google-places-autocomplete #places="ngx-places"
                                                (onAddressChange)="Form_AddUser_AddressChange($event)">
                                            <label class="block w-100">Locate business address</label>
                                            <div>
                                                <label class="text-warn">You can click on map to mark exact location
                                                    of store </label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="block w-100 text-muted text-xs">Click on map to mark exact
                                                location
                                                of store</label>
                                            <agm-map style="height:160px;" [zoom]="12" [styles]="_HelperService.darkStyle"
                                                [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude"
                                                (mapClick)="Form_AddUser_PlaceMarkerClick($event)">
                                                <agm-marker [latitude]="Form_AddUser_Latitude"
                                                    [longitude]="Form_AddUser_Longitude">
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-block purple"
                                                [disabled]="!Form_AddUser.valid || Form_AddUser_Processing">
                                                <span *ngIf="!Form_AddUser_Processing">
                                                    Add Details
                                                </span>
                                                <span *ngIf="Form_AddUser_Processing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                    {{ 'Common.PleaseWait' | translate }}...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>